.banner.banner-static
    div.container
      div.headings
        img.info-icon(src="/assets/img/exclamation-inverse.png", alt="info")
        div([innerHtml]="'Artstor is moving to JSTOR.' | translate")
      button.expand((click)="dropBanner.emit()", aria-label="Close")
        div([innerHtml]=" 'Learn more' | translate" )
        img.chevron(id="chevron", src="/assets/img/chevron-down.svg", alt="chevron-down")

