 @import './../../../sass/core/variables';

$pharos-spacing-one-quarter-x: 4px;
$pharos-spacing-three-quarters-x: 12px;
$pharos-radius-base-standard: 2px;
$pharos-color-text-white: #ffffff;
$pharos-color-interactive-primary: #990000;
$pharos-color-interactive-secondary: #000000;
$pharos-color-interactive-tertiary: #ffffff;
$pharos-color-ui-10: #ffffff;
$pharos-color-ui-20:#f2f1ed;
$pharos-color-ui-30: #eae8e1;
$pharos-color-ui-40: #d1cfc7;
$pharos-color-text-base: #000000;

 .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 16px;
   padding: 0px !important;
 }

.banner-static {
  background: black;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
  position: relative;
  width: 100%;
  padding: 10px 0px;
  align-items: center;
  color: white;

  @media (max-width: $phone) {
    margin-top: 1.5rem;
    padding: 1rem;
  }
}

.banner {
  animation: fadein 3s;
}
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

.expand {
  border: 0;
  color: $pharos-color-text-white;
  background-color: #000000;
  width: fit-content;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.headings {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  align-items: center;

  div {
    margin-right: 0.2rem;
  }
}

.chevron {
  margin-left: 0.5rem;
  transition: 750ms;
}

.rotate {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.info-icon {
  margin-right: 0.5rem;
}

button-text {
  transition: 750ms;
  border: none;
}

.clear {
  color: transparent;
}
