<div class="modal fade show">
  <div class="modal-dialog" role="document">
    <div *ngIf="!serviceResponse.success" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" *ngIf="!copyIG && !editIG">{{ 'NEW_GROUP_MODAL.CREATE_TITLE' | translate }}</h5>
        <h5 class="modal-title" *ngIf="copyIG">{{ 'NEW_GROUP_MODAL.COPY_TITLE' | translate }}</h5>
        <h5 class="modal-title" *ngIf="editIG">{{ 'NEW_GROUP_MODAL.EDIT_TITLE' | translate }}</h5>
        <button (click)="closeModal.emit()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="newIgForm" [formGroup]="newIgForm" (ngSubmit)="igFormSubmit(newIgForm.value)">
      <div class="modal-body">

          <div class="form-group">
            <label for="igTitleInput">{{ 'NEW_GROUP_MODAL.TITLE_FIELD_LABEL' | translate }}</label>
            <input class="form-control" id="igTitleInput" type="text" [formControl]="newIgForm.controls['title']" placeholder="Give your image group a title..." spellcheck="false" tabindex="0"/>
            <div *ngIf="submitted && newIgForm.controls['title'].hasError('required')" class="has-danger">
              <p class="form-control-feedback">{{ 'NEW_GROUP_MODAL.TITLE_REQUIRED_MSG' | translate }}</p>
            </div>
            
          </div>

          <div class="form-group">
            <label for="igDescription">{{ 'NEW_GROUP_MODAL.DESCRIPTION_FIELD_LABEL' | translate }}</label>
            <medium-editor
              [(editorModel)]="igDescription"
              [editorOptions]="{ 'toolbar': {'buttons': ['bold', 'italic', 'underline', 'h1', 'h2', 'h3']}, 'autoLink': true}"
              [editorPlaceholder]="'Give your image group a description...'"></medium-editor>
          </div>

          <!--Left this out of the div so that it remained left aligned...-->
          <label for="artstorPermissionsGroup">{{ 'NEW_GROUP_MODAL.PERMISSION_FIELD_LABEL' | translate }}</label>
          <div class="form-group text-center">
            
            <div id="artstorPermissionsGroup" ngbRadioGroup class="btn-group" name="permissions type" [formControl]="newIgForm.controls['artstorPermissions']">

              <label *ngIf="isArtstorUser" class="btn btn-secondary">
                <input type="radio" name="options" id="artstorPermissionsRadioGlobal" autocomplete="off" value="global">{{ 'NEW_GROUP_MODAL.PERMISSIONS.GLOBAL' | translate }}
              </label>

              <label class="btn btn-secondary">
                <input type="radio" name="options" id="artstorPermissionsRadioInstitution" autocomplete="off" value="institution">{{ 'NEW_GROUP_MODAL.PERMISSIONS.INSTITUTIONAL' | translate }}
              </label>

              <label class="btn btn-secondary">
                <input type="radio" name="options" id="artstorPermissionsRadioPrivate" autocomplete="off" value="private">{{ 'NEW_GROUP_MODAL.PERMISSIONS.PRIVATE' | translate }}
              </label>
            </div>
          </div>

          <div class="form-group" [class.has-danger]="serviceResponse.failure">
            <label for="igTagInput">{{ 'NEW_GROUP_MODAL.TAGS_FIELD_LABEL' | translate }}</label>
            <rl-tag-input id="igTagInput" 
              [formControl]="newIgForm.controls['tags']" 
              placeholder="Add a tag..." 
              [addOnBlur]="true"
              [autocomplete]="true"
              [autocompleteItems]="tagSuggestions"
              [autocompleteMustMatch]="false"
              (keyup)="getTagSuggestions($event)"></rl-tag-input>
            <div *ngIf="serviceResponse.failure" translate class="form-control-feedback">NEW_GROUP_MODAL.CREATE_FAILURE</div>
          </div>
          <div *ngIf="showAddToGroup" (click)="addToGroup.emit()" class="link">{{ 'NEW_GROUP_MODAL.SHOW_ADD_TO_IMAGE_GROUP' | translate }}</div>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button type="button" (click)="closeModal.emit()" class="btn btn-secondary">{{ 'NEW_GROUP_MODAL.CONTROLS.CLOSE' | translate }}</button>
          <button type="submit" [class.loading]="isLoading" class="btn btn-primary">{{ 'NEW_GROUP_MODAL.CONTROLS.SAVE_EDIT' | translate }}</button>         
        </div>
      </div>
      </form>
    </div>
    <div *ngIf="serviceResponse.success && !editIG" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Image group created</h5>
        <button (click)="closeModal.emit()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>{{newGroup.name}}</b> created</p>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button translate (click)="closeModal.emit()" type="button" class="btn btn-secondary">NEW_GROUP_MODAL.CONTROLS.RETURN_TO_RESULTS</button>
          <button translate [routerLink]="['/group', newGroup.id]" type="button" class="btn btn-primary">NEW_GROUP_MODAL.CONTROLS.NAV_TO_GROUP</button>
        </div>
      </div>
    </div> 
    <div *ngIf="serviceResponse.success && editIG" class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Image group saved</h5>
        <button (click)="closeModal.emit()" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>{{newGroup.name}}</b> updated</p>
      </div>
      <div class="modal-footer">
        <div class="form-group">
          <button (click)="refreshIG()" type="button" class="btn btn-primary">Refresh image group</button>
        </div>
      </div>
    </div>
  </div>
</div>