 @import './../../sass/core/variables';

.vertical-center {
  min-height: 50px;

  display: flex;
  align-items: center;
}

.banner-sky {
  & p {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  background: #adadeb;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
  z-index: 9000;
  position: relative;
  // border: 1px solid $gray;
  padding: 5px 35px;

  @media (max-width: $phone) {
    position: fixed;
    width: 100%;
    z-index: 9500;
    background: #eee;
    bottom: 0;
    box-shadow: 0 -1px 6px 0 rgba(0,0,0,0.1);
    
    & p {
      font-size: 12px;
      line-height: 15px;
      padding: 6px 0;
    }
  }
}

.close {
  position: absolute;
  top: 13px;
  right: 15px;
}