 @import './../../sass/core/variables';

$pharos-spacing-one-quarter-x: 4px;
$pharos-spacing-three-quarters-x: 12px;
$pharos-radius-base-standard: 2px;
$pharos-color-text-white: #ffffff;
$pharos-color-interactive-primary: #990000;
$pharos-color-interactive-secondary: #000000;
$pharos-color-interactive-tertiary: #ffffff;
$pharos-color-ui-10: #ffffff;
$pharos-color-ui-20:#f2f1ed;
$pharos-color-ui-30: #eae8e1;
$pharos-color-ui-40: #d1cfc7;
$pharos-color-text-base: #000000;

.vertical-center {
  min-height: 50px;

  display: flex;
  align-items: center;
}

.banner-sky {
  & p {
    padding: 10px;
    margin: 0;
    width: 80%;
    text-align: center;
    color:white;
  }

  background: black;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);
  z-index: 9000;
  position: relative;
  // border: 1px solid $gray;
  padding: 5px 35px;

  @media (max-width: $phone) {
    position: fixed;
    //width: 100%;
    z-index: 9500;
    background: #eee;
    bottom: 0;
    box-shadow: 0 -1px 6px 0 rgba(0,0,0,0.1);

    & p {
      font-size: 12px;
      line-height: 15px;
      padding: 6px 0;
    }
  }
}

.banner {
  animation: fadein 4s;
}
@keyframes fadein {
  from { opacity: 0}
  to   { opacity: 1}
}

button {
  color: $pharos-color-text-white;
  background-color: #000000;
}
