pharos-tooltip(placement="right")
  .collection-badge.my-1(
    slot="target"
    aria-haspopup="true",
    [attr.aria-label]="collectionType.alt"
  ) {{ collectionType.badgeText }}
  div(slot="content", [innerHtml]="collectionType.alt")
