.collection-badge.my-1(
  [ngbTooltip]="tipContent",
  ngbTooltip,
  placement="right",
  [attr.title]="collectionType.alt",
  aria-haspopup="true"
) {{ collectionType.badgeText }}
<ng-template #tipContent>
  div {{ collectionType.alt }}
</ng-template>
  //- ang-tooltip(data-tooltip)