.collection-badge.my-1(
  [ngbTooltip]="tipContent",
  ngbTooltip,
  triggers="focusin:focusout mouseenter:mouseleave",
  placement="right",
  aria-haspopup="true",
  tabIndex="3"
) {{ collectionType.badgeText }}
<ng-template #tipContent>
  div {{ collectionType.alt }}
</ng-template>
  //- ang-tooltip(data-tooltip)