.collection-badge.my-1(
  [ngbTooltip]="tipContent",
  ngbTooltip,
  triggers="hover:focus",
  placement="right",
  [attr.title]="collectionType.alt",
  aria-haspopup="true",
  tabindex="0"
) {{ collectionType.badgeText }}
<ng-template #tipContent>
  div {{ collectionType.alt }}
</ng-template>
  //- ang-tooltip(data-tooltip)