#mainContent.container(tabindex="0")
  .row.my-4
    .col-1.col-md-2
    .col-10.col-md-8
      .card.card--light
        .card-header
          h1#loginHeading(*ngIf="invalidSignature") {{ "Link has expired. Please try to reset password again." | translate }}
          h1#loginHeading(*ngIf="!invalidSignature") {{ "Reset your password" | translate }}
        .card-body
          form#resetPasswordForm(*ngIf="!invalidSignature", [formGroup]="resetForm", (ngSubmit)="resetPass(resetForm.value)")
            // Reset Password Form
            .form-group([class.has-danger]="submitted && resetForm.controls['newPass'].hasError('required')", [class.has-warning]="resetForm.controls['newPass'].dirty && resetForm.controls['newPass'].hasError('required') || resetForm.controls['newPass'].hasError('minlength')")
              label(for="inputNewPassword") {{ 'ACCOUNT.CHANGE_PASS.LABELS.NEW_PASS' | translate }}
              input#inputNewPassword.form-control([formControl]="resetForm.controls['newPass']", type="password")
              div#msgNewPassMinLength.form-control-feedback(*ngIf="resetForm.controls['newPass'].dirty && resetForm.controls['newPass'].hasError('required') || resetForm.controls['newPass'].hasError('minlength')", role="status", aria-live="assertive")
                | {{ 'ACCOUNT.CHANGE_PASS.MIN_LENGTH_PROMPT' | translate }}
              div#msgNewPassRequired.form-control-feedback(*ngIf="submitted && resetForm.controls['newPass'].hasError('required')", role="status", aria-live="assertive")
                | {{ 'ACCOUNT.CHANGE_PASS.NEW_PASS_REQUIRED' | translate }}
            .form-group([class.has-danger]="submitted && resetForm.controls['newPassConfirm'].hasError('required')", [class.has-warning]="resetForm.hasError('passwordMismatch')")
              label(for="inputNewPasswordConfirm") {{ 'ACCOUNT.CHANGE_PASS.LABELS.NEW_PASS_CONFIRM' | translate }}
              input#inputNewPasswordConfirm.form-control([formControl]="resetForm.controls['newPassConfirm']", type="password")
              div#msgPassConfirmError.form-control-feedback(*ngIf="resetForm.hasError('passwordMismatch')", role="status", aria-live="assertive") {{ 'ACCOUNT.CHANGE_PASS.PASS_CONFIRM_ERROR' | translate }}
            .form-group([class.has-danger]="serviceResponses.generalError || serviceResponses.wrongPass", [class.has-success]="serviceResponses.success")
              .form-control-feedback(*ngIf="serviceResponses.success", role="status", aria-live="assertive") {{ 'ACCOUNT.CHANGE_PASS.CHANGE_SUCCESS' | translate }}
              .form-control-feedback(*ngIf="serviceResponses.generalError", role="status", aria-live="assertive") {{ 'ACCOUNT.CHANGE_PASS.GENERAL_ERROR' | translate }}
              .form-control-feedback(*ngIf="serviceResponses.wrongPass", role="status", aria-live="assertive") {{ 'ACCOUNT.CHANGE_PASS.WRONG_PASS_ERROR' | translate }}
            button#btnSubmitResetPassword.btn.btn-primary([class.loading]="resetPassLoading", type="submit", name="action") Reset Password