<div class="footer row">
  <a href="http://www.artstor.org/what-is-artstor/w-html/artstor-overview.shtml">About</a>
  <a href="http://www.artstor.org/using-artstor/u-html/getting-started.shtml">Getting Started</a>
  <a href="http://www.artstor.org/blog">Teaching and Study Ideas</a>
  <a href="http://www.artstor.org/news/n-html/send-me-artstor-news.shtml">Stay Informed</a>
  <a href="http://www.artstor.org/terms">Terms</a>
  <a href="http://www.artstor.org/our-organization/o-html/privacy-policy.shtml">Privacy</a>
  <a href="http://www.artstor.org/our-organization/o-html/copyright.shtml">Copyright Concerns</a>
  &copy;Artstor 
</div>