<!--Sets up the tag passed into the component-->
<div (click)="tag.isCollapsed = !tag.isCollapsed; getChildren(); tag.touched = true;" [ngClass]="['tag-item', 'tag-item__indent-' + tag.getLevel()]">
  <i [ngClass]="[ tag.isCollapsed ? 'icon-right' : 'icon-down', (!tag.touched || (tag.touched && tag.children.length > 0)) ? 'icon-direction' : 'icon-empty']" class="icon absolute-left tree-icon" ></i>
  {{tag.title}}
  <i *ngIf="linkRoute.length > 0" class="icon icon-open-link icon--tag-button" [routerLink]="[ linkRoute, tag.tagId ]"></i>
</div>
<!--Sets up for tag's children, and applies ngbCollapse (hides child element) based on whether or not parent is collapsed-->
<div [ngbCollapse]="tag.isCollapsed">
  <!--loop through children and inject the children into new nag components-->
  <ang-tag *ngFor="let child of tag.children" [tag]="child"></ang-tag>
</div>