@import '../../../sass/core/variables';

/**
  * Tag Component Styles
  */

  $tagLinkBg: #efefef;

  .tag-item {
    color: #000;
    font-size: 13px;
    line-height: 16px;
    cursor: default;
    padding: 0;

    & .no-link {
        cursor: default;
        pointer-events: none;
        text-decoration: none;
        background: transparent;
    }

    &.clickable {
        & a {
            cursor: pointer;
            background: $tagLinkBg;

            &:hover, &:active, &:focus {
                text-decoration: none;
                background: darken($tagLinkBg, 10%);
            }
        }
    }

    & a {
        display: inline-block;
        padding: 2px;
        background: transparent; //$tagLinkBg;
        border-radius: 2px;
        max-height: 38px;
        max-width: 90%;
        margin-bottom: 4px;

        &:hover, &:active, &:focus {
            text-decoration: none;
            background: transparent;
        }
    }

    &.tag-link a {
        background: transparent;
        text-decoration: underline;
        cursor: pointer;

        &:hover, &:active, &:focus {
            background: transparent;
            text-decoration: underline;
            color: $blue;
        }
    }

  }


@for $i from 1 through 20 {
    .tag-item__indent-#{$i} {
        padding-left: 45px * $i;
    }
}

.icon--tag-button {
    cursor: pointer;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.expand-button {
    padding: 2px 5px 5px;
    display: inline-block;
    font-size: 1.1em;
    vertical-align: top;
    cursor: pointer;

    & i {
        opacity: 0.5;
    }

    &:hover, &:focus, &:active {
        & i {
            opacity: 1;
        }
    }
}

.info-icon{
    width: 20px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: -4px;

}

.info-cntnr {
    min-height: 120px;
    padding: 10px;
    background: #fafafa;
    margin: 5px;
    overflow: hidden;
    width: 100%;
    position: relative;

    & img {
        max-height: 100px;
        max-width: 100px;
        width: auto;
        height: auto;
        float:left;
        margin: 10px 20px 20px;
    }
}

.edit{
    text-indent: 0;
    cursor: pointer;
    background: rgba(100, 99, 100, 0.25);
    color: #fff;
    display: inline-block;
    padding: 2px 4px;
    border-radius: 2px;
    overflow: hidden;
    margin: 0 5px -1px 5px;
    letter-spacing: 0.5px;
    vertical-align: bottom;

    &:hover{
        background: rgba(100, 99, 100, 0.55);
    }
}
