.row#featured-container.mx-0
  //- Primary Image
  .col-sm-9.featured-col#featured-primary
    ng-container(*ngFor="let i of [0,1,2]")
      a.card.featured-card.hidden-text([class.fade-in]="primaryFeaturedIndex == i", [attr.href]="featured[i].link | translate", tabindex="-1" data-qa="featuredCollectionLink") {{ featured[i].link_title | translate }}
        img#primary-featured-img.card-img-top.no-stretch(
          [attr.src]="featured[i].img_src | translate",
          [attr.alt]="featured[i].alt | translate",
          [attr.title]="featured[i].link_title | translate",
          [attr.aria-hidden]="true"
        )
  //- Secondary Images
  .col-sm-3.featured-col#featured-side
    .card(*ngFor="let collection of featured; let i = index")
      a.card__placard(*ngIf="primaryFeaturedIndex === i", [attr.href]="featured[i].link | translate", tabindex="4", [attr.aria-label]="'Featured Collection: ' + (collection.subheading | translate) + '. Press enter to open this collection.'")
        //- Title and description of the current primary image
        .featured-title([innerHtml]="collection.subheading | translate")
        p.featured-caption.small([innerHtml]="collection.description | translate")
      a.link.hidden-text(*ngIf="primaryFeaturedIndex !== i", [attr.href]="featured[i].link | translate", (mouseenter)="switchFeaturedIndex(i)", (click)="switchFeaturedIndex(i)", tabindex="4") {{ featured[i].link_title | translate}}
        img.no-stretch.featured-side-img([attr.src]="collection.img_src | translate",
        [attr.alt]="collection.alt | translate", [attr.title]="collection.link_title | translate", [attr.aria-label]="'Featured Collection: ' + (collection.subheading | translate) + '. Press enter to open this collection.'")

//- ngBoostrap carousel on mobile
.row#featured-mobile-container
  ngb-carousel
    ng-template(*ngFor="let collection of featured", ngbSlide)
      a.card.featured-card.hidden-text([attr.href]="collection.link | translate" data-qa="featuredCollectionLink")
        img.d-block.w-100([attr.src]="collection.img_src | translate", [attr.alt]="collection.alt | translate", [attr.title]="collection.link_title | translate")
      p.small.p-1([innerHTML]="collection.caption | translate")

//- Bottom row of slideshow - dynamic links if logged in
.row#featured-bottom
  .col
    label(*ngIf="siteId === 'SAHARA'", [innerHtml]="headings + '.INST' | translate")
    label(*ngIf="siteId != 'SAHARA'", [innerHtml]="headings + '.BLOG_HEADING' | translate")
  .col-6.hidden-sm-down
    p.photo-caption.small([innerHTML]="featured[primaryFeaturedIndex].caption | translate")
  .col
    p.text-right
      a.link.text-right(*ngIf="siteId != 'SAHARA'", href="https://www.artstor.org/blog/", [innerHtml]="headings + '.VIEW_BLOG_LINK' | translate", target="_blank", tabindex="4")
      a.link.text-right(*ngIf="siteId === 'SAHARA'", [routerLink]="['/browse', 'institution']", [innerHtml]="headings + '.VIEW_ALL_LINK' | translate", tabindex="4")
