.row#featured-container
  .col-sm-8.featured-col
    a#featuredCollectionLink.card.featured-card([attr.href]="featured[0].link | translate")
      img.card-img-top.no-stretch([attr.src]="featured[0].img_src | translate", [attr.alt]="featured[0].alt | translate", [attr.title]="featured[0].title | translate")

  .col-sm-4.featured-col
    .card(*ngFor="let collection of featured; let i = index")
      p(*ngIf="primaryFeaturedIndex === i", [innerHtml]="collection.subheading | translate")
      p.featured-caption(*ngIf="primaryFeaturedIndex === i", [innerHtml]="collection.description | translate")

      img.featured-side-tile(*ngIf="primaryFeaturedIndex !== i", [attr.src]="collection.img_src | translate",
       [attr.alt]="collection.alt_text | translate", [attr.title]="collection.link | translate", click="switchFeaturedIndex(i)")

.row#featured-bottom
  .col-6
    label(*ngIf="user.isLoggedIn", [innerHtml]="headings + '.INST' | translate")
    label(*ngIf="!user.isLoggedIn", [innerHtml]="headings + '.PUBLIC' | translate")
  .col-6
    p.text-right
      a.link.text-right(*ngIf="user.isLoggedIn" href="/browse/institution", [innerHtml]="headings + '.VIEW_ALL_LINK' | translate")
      a.link.text-right(*ngIf="!user.isLoggedIn" href="/browse/commons", [innerHtml]="headings + '.VIEW_PUBLIC_LINK' | translate")
