.row#featured-container
  .col-sm-9.featured-col
    a#featuredCollectionLink.card.featured-card([attr.href]="featured[primaryFeaturedIndex].link | translate")
      img.featured-side-image.card-img-top.no-stretch([attr.src]="featured[primaryFeaturedIndex].img_src | translate", [attr.alt]="featured[primaryFeaturedIndex].alt | translate", [attr.title]="featured[primaryFeaturedIndex].link_title | translate")

  .col-sm-3.featured-col#featured-side
    .card(*ngFor="let collection of featured; let i = index")
      b.featured-title(*ngIf="primaryFeaturedIndex === i", [innerHtml]="collection.subheading | translate")
      p.featured-caption(*ngIf="primaryFeaturedIndex === i", [innerHtml]="collection.description | translate")

      img.no-stretch.featured-side-img(*ngIf="primaryFeaturedIndex !== i", (click)="switchFeaturedIndex(i)", [attr.src]="collection.img_src | translate",
       [attr.alt]="collection.alt_text | translate", [attr.title]="collection.link | translate")

.row#featured-bottom
  .col-6
    label(*ngIf="user.isLoggedIn", [innerHtml]="headings + '.INST' | translate")
    label(*ngIf="!user.isLoggedIn", [innerHtml]="headings + '.PUBLIC' | translate")
  .col-6
    p.text-right
      a.link.text-right(*ngIf="user.isLoggedIn" href="/browse/institution", [innerHtml]="headings + '.VIEW_ALL_LINK' | translate")
      a.link.text-right(*ngIf="!user.isLoggedIn" href="/browse/commons", [innerHtml]="headings + '.VIEW_PUBLIC_LINK' | translate")
