.row#featured-container
  //- Primary Image
  .col-sm-9.featured-col#featured-primary
    ng-container(*ngFor="let i of [0,1,2]")
      a#featuredCollectionLink.card.featured-card([class.fade-in]="primaryFeaturedIndex == i", [attr.href]="featured[i].link | translate")
        img#primary-featured-img.card-img-top.no-stretch(
          [attr.src]="featured[i].img_src | translate", 
          [attr.alt]="featured[i].alt | translate", 
          [attr.title]="featured[i].link_title | translate"
        )
  //- Secondary Images
  .col-sm-3.featured-col#featured-side
    .card(*ngFor="let collection of featured; let i = index")
      a.card__placard(*ngIf="primaryFeaturedIndex === i", [attr.href]="featured[i].link | translate")
        //- Title and description of the current primary image
        .featured-title([innerHtml]="collection.subheading | translate")
        p.featured-caption.small([innerHtml]="collection.description | translate")
      img.no-stretch.featured-side-img(*ngIf="primaryFeaturedIndex !== i", (click)="switchFeaturedIndex(i)", [attr.src]="collection.img_src | translate",
       [attr.alt]="collection.alt_text | translate", [attr.title]="collection.link | translate")

//- ngBoostrap carousel on mobile
.row#featured-mobile-container
  ngb-carousel
    ng-template(*ngFor="let collection of featured", ngbSlide)
      a#featuredCollectionLink.card.featured-card([attr.href]="collection.link | translate")
        img.d-block.w-100([attr.src]="collection.img_src | translate", [attr.alt]="collection.alt | translate", [attr.title]="collection.link_title | translate")
      p.small.p-1([innerHTML]="collection.caption | translate")

//- Bottom row of slideshow - dynamic links if logged in
.row#featured-bottom
  .col
    label(*ngIf="user.isLoggedIn", [innerHtml]="headings + '.INST' | translate")
    label(*ngIf="!user.isLoggedIn", [innerHtml]="headings + '.PUBLIC' | translate")
  .col-6.hidden-sm-down
    p.photo-caption.small([innerHTML]="featured[primaryFeaturedIndex].caption | translate")
  .col
    p.text-right
      a.link.text-right(*ngIf="user.isLoggedIn" href="/browse/institution", [innerHtml]="headings + '.VIEW_ALL_LINK' | translate")
      a.link.text-right(*ngIf="!user.isLoggedIn" href="/browse/commons", [innerHtml]="headings + '.VIEW_PUBLIC_LINK' | translate")