@import '../../../sass/core/variables';

@keyframes fader {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}

#featured-container {
    margin-bottom: 10px;

    #featured-side {
        padding: 0px;

        & .card {
            height: 33.3%;
            padding: 3px;
            
            & .featured-side-img {
                margin: auto;
                animation: fader 1.5s;
                // Show user card can be clicked
                cursor: pointer;
            }

            & .featured-title {
                margin-bottom: 7px;
                font-size: 14px;
                font-weight: bold;
            }
        }
    }

    /** Featured container only displayed on non-mobile */
    @media (max-width: $phone) {
        display: none;
    }
}

.featured-col {
    transition: height ease 500;
}

.card__placard {
    line-height: 15px;
    padding: 6px;
}

#featured-primary {
    // Use the column to crop the featured image
    overflow: hidden;

    @media(min-width: $phone) {
        // Do not override padding left! Let Bootstrap space the column
        padding-right: 3px;
        padding-top: 3px;
        padding-bottom: 3px;
        // Little hack to guarantee our right side spacing is consistent
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border-right: 3px solid #fff;
        // ... and align our bottom edge
        border-bottom: 3px solid #fff;
    }
}

.featured-card {
    transition: opacity ease 1.5s;
    opacity: 0;
    position: absolute;

    &.fade-in {
        opacity: 1;
    }
}

/** Featured Collection slideshow on mobile is ngBoostrap carousel */
#featured-mobile-container {

    /* Eliminate default input focus outline. */
    & :focus {
        outline: none !important;
    }

    img {
        animation: fader 1.5s;
    }

    @media (min-width: $phone) {
        display: none;
    }
}

#featured-bottom {
    margin-bottom: 20px;
    border-bottom: solid 1px #ddd;
    /** Don't display photo caption in bottom row on mobile */

    & .photo-caption {
        @media (max-width: $phone) {
            display: none;
        }
    }
}
