#featured-container {
    border-bottom: solid 1px #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;

    .featured-side-tile {
        max-width: 70%;
        margin: auto;
    }

    .featured-col {
        max-height: 70vh;
    }

    #featured-bottom {
        margin-bottom: 20px;
    }

}
