.row#featured-container
  .col-sm-8.featured-col
    a#featuredCollectionLink.card.featured-card(#featuredCollection="", [attr.href]="featuredCollectionConf + '.COLLECTIONS.' + primaryFeaturedIndex + '.LINK' | translate")
      img.card-img-top.no-stretch(*ngIf="showInstFeatured", [attr.src]="featuredCollectionConf + '.COLLECTIONS.' + primaryFeaturedIndex + '.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.COLLECTIONS.' + primaryFeaturedIndex + '.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.COLLECTIONS.' + primaryFeaturedIndex + '.LINK_TITLE' | translate")
      img.card-img-top.no-stretch(*ngIf="showPublicFeatured", [attr.src]="featuredCollectionConf + '.PUBLIC_COLLECTIONS.' + primaryFeaturedIndex + '.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.PUBLIC_COLLECTIONS.' + primaryFeaturedIndex + '.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.PUBLIC_COLLECTIONS.' + primaryFeaturedIndex + '.LINK_TITLE' | translate")
      img.card-img-top.no-stretch(*ngIf="showSaharaFeatured", [attr.src]="featuredCollectionConf + '.SAHARA_COLLECTIONS.' + primaryFeaturedIndex + '.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.SAHARA_COLLECTIONS.' + primaryFeaturedIndex + '.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.SAHARA_COLLECTIONS.' + primaryFeaturedIndex + '.LINK_TITLE' | translate")
      
        //-   p(style="margin-bottom:6px;", [innerHtml]="featuredCollectionConf + '..0.SUBHEADING' | translate")
        //- div.featured-caption([innerHtml]="featuredCollectionConf + '..0.DESCRIPTION' | translate")
  .col-sm-4.featured-col
    .card
      img.featured-side-tile(*ngIf="showInstFeatured", [attr.src]="featuredCollectionConf + '.COLLECTIONS.0.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.COLLECTIONS.0.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.COLLECTIONS.0.LINK_TITLE' | translate")
      img.featured-side-tile(*ngIf="showPublicFeatured", [attr.src]="featuredCollectionConf + '.PUBLIC_COLLECTIONS.0.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.COLLECTIONS.0.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.COLLECTIONS.0.LINK_TITLE' | translate")
      img.featured-side-tile(*ngIf="showSaharaFeatured", [attr.src]="featuredCollectionConf + '.SAHARA_COLLECTIONS.0.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.COLLECTIONS.0.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.COLLECTIONS.0.LINK_TITLE' | translate")
    .card        
      img.featured-side-tile(*ngIf="showInstFeatured", [attr.src]="featuredCollectionConf + '.COLLECTIONS.1.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.COLLECTIONS.1.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.COLLECTIONS.1.LINK_TITLE' | translate")
      img.featured-side-tile(*ngIf="showPublicFeatured", [attr.src]="featuredCollectionConf + '.PUBLIC_COLLECTIONS.1.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.PUBLIC_COLLECTIONS.1.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.PUBLIC_COLLECTIONS.1.LINK_TITLE' | translate")
      img.featured-side-tile(*ngIf="showSaharaFeatured", [attr.src]="featuredCollectionConf + '.SAHARA_COLLECTIONS.1.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.SAHARA_COLLECTIONS.1.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.SAHARA_COLLECTIONS.1.LINK_TITLE' | translate")
    .card  
      img.featured-side-tile(*ngIf="showInstFeatured", [attr.src]="featuredCollectionConf + '.COLLECTIONS.2.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.COLLECTIONS.2.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.COLLECTIONS.2.LINK_TITLE' | translate")
      img.featured-side-tile(*ngIf="showPublicFeatured", [attr.src]="featuredCollectionConf + '.PUBLIC_COLLECTIONS.2.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.PUBLIC_COLLECTIONS.2.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.PUBLIC_COLLECTIONS.2.LINK_TITLE' | translate")
      img.featured-side-tile(*ngIf="showSaharaFeatured", [attr.src]="featuredCollectionConf + '.SAHARA_COLLECTIONS.2.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.SAHARA_COLLECTIONS.2.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.SAHARA_COLLECTIONS.2.LINK_TITLE' | translate")
.row#featured-bottom
  .col-6
    label(*ngIf="user.isLoggedIn" style="margin-bottom:0px;", [innerHtml]="featuredCollectionConf + '.HEADINGS.INST' | translate")
    label(*ngIf="!user.isLoggedIn" style="margin-bottom:0px;", [innerHtml]="featuredCollectionConf + '.HEADINGS.PUBLIC' | translate")
  .col-6
    p.text-right
      a.link.text-right(*ngIf="user.isLoggedIn" href="/browse/institution" style="margin-bottom:0px;", [innerHtml]="featuredCollectionConf + '.HEADINGS.VIEW_ALL_LINK' | translate")
      a.link.text-right(*ngIf="!user.isLoggedIn" href="/browse/commons" style="margin-bottom:0px;", [innerHtml]="featuredCollectionConf + '.HEADINGS.VIEW_PUBLIC_LINK' | translate")
