/**
 * # Helpers
 */

 @import './variables';

 /*%vertical-center {
     top: 50%;
     @include transform(translateY(-50%));
 }*/

.container--slide {
    overflow: hidden;

    & > .slide-wrap {
        margin-top: -2em;
        // transition: margin 0.3s cubic-bezier(0.55, 0.07, 0.44, 0.93);
        & > ang-tag {
            min-height: 0;
            max-height: 0;
            transition: max-height 0.02s linear;
            display: block;
            overflow: hidden;

            @for $i from 1 through 200 {
                &:nth-of-type(#{$i}) { 
                    transition-delay: $i*0.005s !important;
                }
            }
        }

        &.show {

            margin-top: 0%;

            & > ang-tag {
                max-height: none !important;
            }
        }
    }
}

// hides on mobile
.mobile--hide {
    @media (max-width: $phone) {
        display: none;
    }
}

// shows only on mobile
.mobile--show {
    display: none;

    @media (max-width: $phone) {
      display: inherit;
    }
}