/**
 * # Layout
 * Columns, rows, and other spatial organization structures
 */

 @import './variables';

$navOffset: 80px;
$footerOffset: 80px;

main {
     min-height: calc(100% - #{ $navOffset + $footerOffset });
     overflow-x: hidden;
 }

.row {
     @media(max-width: $phone) {
         margin-right: 0;
         margin-left: 0;
     }
}

.row--no-overflow {
    overflow: hidden;
}

.text-row {
    margin-bottom: $basePadding;
}

.container.main-content {
    padding-left: 0;
    padding-right: 0;
}

.row--search-bar {
    margin: 32px 0;
    @media (max-width: $phone) {
        margin: 10px 0;
    }
}