/**
 * # Layout
 * Columns, rows, and other spatial organization structures
 */

$navOffset: 80px;
$footerOffset: 80px;

main {
     min-height: calc(100% - #{ $navOffset + $footerOffset });
 }

.row--no-overflow {
    overflow: hidden;
}

.text-row {
    margin-bottom: $basePadding;
}

.container.main-content {
    padding-left: 0px;
    padding-right: 0px;
}