// Breakpoints
$xsmall-screen: 320px;
$small-screen: 576px;
$medium-screen: 768px;
$large-screen: 992px;

// Nice References
$xsphone: $xsmall-screen;
$phone: $small-screen;
$tablet: $medium-screen;
$desktop: $large-screen;

// Bootstrap variable ovverides
$btn-border-radius: 0;


// List-Group
$list-group-item-padding-x:      1.25rem;
$list-group-item-padding-y:      .75rem;

$list-group-border-radius: 3px;
/**
 * Base value for vertical/horizontal padding
 *
 * @nuclide Image-Folder
 * @section Config > Spacing
 */
$basePadding: 24px;

/** Primary Colors */

/** @color Color Orange */
$orange: #C9510D;

/** Color Grays */

/** @color Color Gray 1 */
$color-gray-1: #FAF8F8;
/* @color Color Gray 2 **/
$color-gray-2: #EEEEEE;
/** @color Color Gray 3 */
$color-gray-3: #E8E8E8;
/** @color Color Gray 4 */
$color-gray-4: #DDDDDD;
/** $color Gray 5 */
$color-gray-5: #989898;
/** @color Color Gray 6 */
$color-gray-6: #555555;
/** @color Color Gray 7 */
$color-gray-7: #333333;
/** Border Gray */
$color-border-gray: $color-gray-4;

/** @color White */
$color-white: #FFFFFF;

/** NOTE: These below will be replaced */

/** @color Gray */
$gray: #cdcdcd;

/** @color Teal */
$teal: rgb(225,232,225);

/** Background Light Accent */
$bgLightAccent: #f8faf8;
/** Background Default */
$bgDefault: $color-white;

/**
 Brand Colors from Public Site
 */

 /** @color Blue */
 $blue: #0039c6;
 /** @color Green */
 $green: #6EB032;
 /** @color Red */
 $red: #e21c28;
 /** @color Purple */
 $purple: #8300e0;
 /** @color Dark Green */
 $darkGreen: #008d58;
 /** @color Yellow */
 $yellow: #f2be19;
