<div class="col-md-9 col--expanding" [ngClass]="{ 'col--expand-12' : !showFilters }">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div class="card card--asset col-sm-2">
                <div class="card-img-top">
                    <img src="url(http://viewer2.artstor.org/thumb/imgstor/size1/ucsd/d0641/41822000557320.jpg)" alt="Card image cap">
                </div>
                <div class="card-block card-text">
                    <i *ngIf="asset.cfObjectId.length > 0" class="icon icon-collab"></i>
                    <i *ngIf="asset.clustered == 1" class="icon icon-cluster"></i>
                    <i *ngIf="asset.iapFlag > 0" class="icon icon-iap"></i>
                    <i *ngIf="asset.objectTypeId == 24" class="icon icon-video"></i>
                    <i class="icon"><!--spacer--></i>
                    <span title="{{ asset.thumbnail1 }}">{{ asset.thumbnail1 }}</span>
                    <span title="{{ asset.thumbnail2 }}">{{ asset.thumbnail2 }}</span>
                    <span title="{{ asset.thumbnail3 }}">{{ asset.thumbnail3 }}</span>
                    <span title="{{ asset.thumbnail4 }}">{{ asset.thumbnail4 }}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="col-md-9 col--expanding" [ngClass]="{ 'col--expand-12' : !showFilters }">
    <div class="card-deck-wrapper">
        <div class="card-deck">
            <div *ngFor="let asset of results" class="card card--asset col-sm-2">
                <div class="card-img-top">
                    <img src="http://viewer2.artstor.org/{{ asset.thumbnailImgUrl }}" alt="Card image cap">
                </div>
                <div class="card-block card-text">
                    <i *ngIf="asset.cfObjectId.length > 0" class="icon icon-collab"></i>
                    <i *ngIf="asset.clustered == 1" class="icon icon-cluster"></i>
                    <i *ngIf="asset.iapFlag > 0" class="icon icon-iap"></i>
                    <i *ngIf="asset.objectTypeId == 24" class="icon icon-video"></i>
                    <i class="icon"></i>
                    <span title="{{ asset.thumbnail1 }}">{{ asset.thumbnail1 }}</span>
                    <span title="{{ asset.thumbnail2 }}">{{ asset.thumbnail2 }}</span>
                    <span title="{{ asset.thumbnail3 }}">{{ asset.thumbnail3 }}</span>
                    <span title="{{ asset.thumbnail4 }}">{{ asset.thumbnail4 }}</span>
                </div>
            </div>
        </div>
    </div>
</div>-->