/**
 * # Filters
 * Search filters, primarilly link styled elements which toggle on click.
 */

$activeFilterColor: #000;
$filterUnfocusOpacity: 0.5;
$filterBorderStyle: 1px solid rgba(0, 0, 0, 0.15);

.col--filter-border {
	border-right: $filterBorderStyle;
}

.col--sliding {
	transform: translateY(0);
	transition: transform linear 0.3s, margin linear 0.3s;
	
	&.slide-up {
		pointer-events: none;
		transform: translateY(-100%);
		margin-right:-100%;
	}
}

.col--expanding {
	min-width: (1/12)*100%;
	transition: min-width linear 0.3s;

	&.col-sm-9 {
		min-width: (9/12)*100%;
	}

	&.col--expand-12 {
		min-width: 100%;
	}
}

.filter-group[data-state="active"].collapsed .filter-group__label{
    line-height: 34px;
    margin-top: 0;
    background: #F6F6F2;
}

.filter-group__label {
	h3{
		a{
			text-decoration: none;
			border-bottom: 1px solid;
			float: right;

			&.disable{
				pointer-events: none;
				color: #ddd;
				text-decoration: none;
				border-bottom: 1px solid #ddd;
			}
		}
	} 
}

.filter-group h2{
    display: inline-block;
    cursor: pointer;
}

.filter-group {
	/*@extend %boldBodyFontStyle;*/
	opacity: 1.0;
	padding: 8px 0;
	display: block;
	line-height: 18px;
	float: left;
    width: 100%;

	transition: padding linear 0.2s, background linear 0.2s;

    border-bottom: $filterBorderStyle;

	&:last-of-type {
		border-bottom: none;
	}

	&.full-spacing {
		margin-bottom: 12px;
	}
	
	& .subtitle-alt {
		padding: 2px;
	}

	&.no-margin {
		margin: 0;
	}

	&.border-top {
		padding-top: 0;
		margin-top: 0;
	}

	&.collapsed {
		padding: 0;
		
		&:hover, &:active, &:focus {
			.filter-group__label {
				line-height:34px;
				margin-top: 0;
				background: #F6F6F2;
			}
		}

		& .filter, & .filter .link, & .filter i{
			pointer-events: none;
			max-height: 0;
			min-height: 0;
			color: #fff;
			padding-top: 0;
			padding-bottom: 0;
		}

		& .filter form, & .filter .row {
			opacity: 0;
			max-height: 0;
		}

		& .expandIcon {
			transform: translateY(-50%);
			&:before {
				transform: rotate(180deg);
				transform-origin: center center;
			}
		}

		& .filter-group__label > span {
			opacity: 1;
		}
	}
}


.filter-group__label{
    display: block;
    width: 100%;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 0;
	position: relative;
	background: transparent;
	z-index: 5000;

	transition: all linear 0.2s;

	&:hover, &:focus, &:active {
		cursor: pointer;
		& i {
			color: black;
		}
	}

	& > span {
		opacity: 0;
		transition: opacity linear 0.1s;
		font-weight: normal;
	}

	.collapsed & {
		line-height: 22px; //34px;

		&:hover, &:active, &:focus {
			background: #F6F6F2;
		}
	}
}


/**
 * Filter:
 * `filter` - A simple link toggle that is used inside of the 'filter-group' component
 *
 *     @example
 *     filter Example Filter
 */
 $filterColor: #555; //rgba(0,0,0,0.45);
 $filterHoverBg: #f1f1f1;
 $filterTextIndent: 15px;

#filters {
	/*padding: $pageMargin $gutterWidth/2 $sectionBottomMargin;*/
}

#filtersContent {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	border-top: 8px solid #cdcdcd;
	padding: 0;
	padding-top: 18px; // + 8px;
}


i:hover ~ i.on-hover {
	color: rgba(0,0,0,0.25);
}


.active-label {
	/*@extend %bodyFontStyle;*/
	//display: block;
	position: relative;
	color: $activeFilterColor;
}


.unfocus-styled {
	& span {
		opacity: $filterUnfocusOpacity;
		transition: opacity 0.3s ease-in-out;
	}

	& .filter-group {
		opacity: 1.0;
	}

	& filter {
		opacity: $filterUnfocusOpacity;
		transition: opacity 0.3s ease-in-out;

		&.active {
			opacity: 1.0;
			transition: opacity 0.3s ease-in-out;
			& i {
				opacity: $filterUnfocusOpacity;
				transition: opacity 0.3s ease-in-out;
			}
		}
	}



	& .unfocus-opaque {
		opacity: 1.0 !important;
	}

	// & filter.active ~ span {
	// 	opacity: 1.0 !important;
	// }

	&:hover, &:focus, &:active {
		& h3 {
			opacity: 1.0;
		}

		filter {
			opacity: 1.0;

			&.active {
				opacity: 1.0;

				& i {
					opacity: 1.0;
				}
			}
		}
	}


}

filter.excluded{
    text-decoration: line-through;
}
.removeIcon {
	position: absolute;
    right: 3px;
    top: 3px;
    visibility: visible;
}
.includeIcon{
    position: absolute;
    right: 19px;
    top: 6px;
    visibility: hidden;
}
.excludeIcon{
    position: absolute;
    right: 3px;
    top: 6px;
    visibility: hidden;
}
i.expandIcon {
	position: absolute;
	right: 6px;
	top: 50%;
	transform: translateY(-50%);
	transition: transform ease 0.2s;

	&:before {
		display: block;
		transform: rotate(0deg);
		transform-origin: center center;
	}
}
filter:hover .includeIcon, filter:hover .excludeIcon{
	visibility: visible;
}

.filters-padding {
	padding-left: 6px;
	padding-top: 9px;
	padding-bottom: 42px;
	padding-right: 6px;
}

.filter.parent{
    display: inline-block;
    max-width: calc(100% - 1.5em);
}
.icon.tree-icon{
    cursor: pointer;
    vertical-align: top;
    margin-top: 3px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}

.move-up {
	position: relative;
    top: 8rem;
}