<div class="col--filter-border col--sliding" [ngClass]="{ 'slide-up' : !showFilters }">
    
    <!--New Search Filters-->
    <div *ngFor="let filterKey of keys(availableFilters); let i = index">
        <div *ngIf="availableFilters[filterKey] && isArray(availableFilters[filterKey]) && availableFilters[filterKey].length > 0" class="filter-group">
            <span class="filter-group__label">
                <h3>{{ 'FILTERS.' + filterKey | translate }} <a id="buttonCollectionTypeClear" tabindex="1" class="link--accent small" [ngClass]="{ 'disable': !hasAppliedFilters(filterKey) }" (click)="clearAllFilterGroup(filterKey)">Clear</a></h3>
            </span>
            <!--<div class="filter" [ngClass]="{ 'active': true }">All Collections</div>-->
            <!--<pre>{{availableFilters[filterKey]}}</pre>-->
            <button class="filter" *ngFor="let facet of appliedFilters[filterKey]" id="filterCollectionTypeItem{{ facet.name }}"  (click)="toggleFilter(facet.name, filterKey)" [ngClass]="{'active': filterApplied(facet.name, filterKey)}" data-sc="search: facet">
                <span *ngIf="facet.name && facet.name.length < 2">{{ filterNameMap[filterKey] && filterNameMap[filterKey][facet.name] }} ({{facet.count}})</span>
                <span *ngIf="facet.name && facet.name.length > 1">{{ facet.name }} ({{facet.count}})</span>
                <i class="icon icon-add"></i>
                <i class="icon icon-close"></i>
            </button>
            <div *ngFor="let facet of availableFilters[filterKey]">
                <!--Show filters -->
                <i *ngIf="facet.children && facet.children.length > 0" class="icon icon-direction absolute-left tree-icon" (click)="toggleTree(facet)" [ngClass]="{ 'icon-down' : facet.expanded, 'icon-right' : !facet.expanded }"></i>
                <button class="filter parent"  id="filterCollectionTypeItem{{ facet.name }}"  (click)="toggleFilter(filterKey == 'geography' ? facet.efq : facet.name, filterKey)" [ngClass]="{'active': filterApplied(filterKey == 'geography' ? facet.efq : facet.name, filterKey)}" data-sc="search: facet">
                    <span *ngIf="facet.name && facet.name.length < 2">{{ filterNameMap[filterKey] && filterNameMap[filterKey][facet.name] }} ({{facet.count}})</span>
                    <span *ngIf="facet.name && facet.name.length > 1">{{ facet.name }} ({{facet.count}})</span>
                    <i class="icon icon-add"></i>
                    <i class="icon icon-close"></i>
                </button>
                <!--Geo Child filters-->
                <div class="child-cntnr collapse" [ngClass]="{ 'show' : facet.expanded }">
                    <button class="filter child" *ngFor="let child of facet.children; let childIndex = index" id="filterGeographyItem{{ 'Child' + childIndex }}" (click)="toggleFilter(child.efq, filterKey)" [ngClass]="{'active': filterApplied(child.efq, 'geography')}" data-sc="search: facet">{{ child.name }} ({{child.count}})
                        <i class="icon icon-add"></i>
                        <i class="icon icon-close"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="availableFilters.dateObj" class="filter-group">
        <span class="filter-group__label">
            <h3>Date <a id="buttonDateFilterClear" tabindex="1" class="link--accent small" [ngClass]="{ 'disable': !hasAppliedFilters('date') }" (click)="clearAllFilterGroup('date')">Clear</a></h3>
        </span>
        <div class="date-filter-row">
            <input id="inputDateFilterStart" [(ngModel)]="availableFilters.dateObj.earliest.date" type="number" (keypress)="dateKeyPress($event)" min="0" class="form-control" placeholder="Start Date">
            <!--<div id="buttonDateFilterStartEra" class="toggle-btn" (click)="toggleEra(availableFilters.dateObj.earliest)">{{ availableFilters.dateObj.earliest.era }}</div>-->
            <div id="buttonDateFilterStartBCE" (click)="availableFilters.dateObj.earliest.era = 'BCE'" [ngClass]="{'active': availableFilters.dateObj.earliest.era == 'BCE' }" class="side-toggle-btn">BCE</div>
            <div id="buttonDateFilterStartCE" (click)="availableFilters.dateObj.earliest.era = 'CE'" [ngClass]="{'active': availableFilters.dateObj.earliest.era == 'CE' }" class="side-toggle-btn">CE</div>
        </div>
        <div class="date-filter-row">
            <input id="inputDateFilterEnd" [(ngModel)]="availableFilters.dateObj.latest.date" type="number" (keypress)="dateKeyPress($event)" min="0" class="form-control" placeholder="End Date">
            <!--<div id="buttonDateFilterEndEra" class="toggle-btn" (click)="toggleEra(availableFilters.dateObj.latest)">{{ availableFilters.dateObj.latest.era }}</div>-->
            <div id="buttonDateFilterEndBCE" (click)="availableFilters.dateObj.latest.era = 'BCE'" [ngClass]="{'active': availableFilters.dateObj.latest.era == 'BCE' }" class="side-toggle-btn">BCE</div>
            <div id="buttonDateFilterEndCE" (click)="availableFilters.dateObj.latest.era = 'CE'" [ngClass]="{'active': availableFilters.dateObj.latest.era == 'CE' }" class="side-toggle-btn">CE</div>
        </div>
        <div class="date-filter-row">
            <div id="buttonDateFilterReset" class="btn" (click)="clearDateFilter()">RESET</div>
            <div id="buttonDateFilterSubmit" class="btn" (click)="applyDateFilter()">APPLY</div>
        </div>
        <div class="date-filter-error-msg" *ngIf="dateError">End date must be greater than or equal to Start date.</div>

    </div>

</div>