<div class="col--filter-border col--sliding" [ngClass]="{ 'slide-up' : !showFilters }">
    
    <!--New Search Filters-->
    <div *ngIf="_auth.featureFlags['solrSearch']">
        <div *ngFor="let filterKey of keys(availableFilters); let i = index" class="filter-group">
            <div *ngIf="availableFilters[filterKey]">
                <span class="filter-group__label">
                    <h3>{{ 'FILTERS.' + filterKey | translate }} <a id="buttonCollectionTypeClear" tabindex="" class="link--accent small" [ngClass]="{ 'disable': !hasAppliedFilters('collTypes') }" (click)="clearAllFilterGroup('collTypes')">Clear</a></h3>
                </span>
                <!--<div class="filter" [ngClass]="{ 'active': true }">All Collections</div>-->
                <div class="filter" *ngFor="let facet of availableFilters[filterKey]" id="filterCollectionTypeItem{{ facet.name }}"  (click)="toggleFilter(facet.efq, filterKey)" [ngClass]="{'active': filterApplied(facet.efq, filterKey)}" data-sc="search: facet">{{ facet.name }} ({{facet.count}})
                    <i class="icon icon-add"></i>
                    <i class="icon icon-close"></i>
                </div>
            </div>
        </div>
    </div>

    <!--Legacy Search Filters-->
    <div *ngIf="!_auth.featureFlags['solrSearch']" class="filter-group">
        <span class="filter-group__label">
            <h3>Collection Type <a id="buttonCollectionTypeClear" tabindex="" class="link--accent small" [ngClass]="{ 'disable': !hasAppliedFilters('collTypes') }" (click)="clearAllFilterGroup('collTypes')">Clear</a></h3>
        </span>
        <!--<div class="filter" [ngClass]="{ 'active': true }">All Collections</div>-->
        <button class="filter" *ngFor="let facet of availableFilters.collType" id="filterCollectionTypeItem{{ facet.id }}"  (click)="toggleFilter(facet.id, 'collTypes')" [ngClass]="{'active': filterApplied(facet.id, 'collTypes')}" data-sc="search: facet">{{ facet.label }}
            <i class="icon icon-add"></i>
            <i class="icon icon-close"></i>
        </button>
    </div>

    <div *ngIf="!_auth.featureFlags['solrSearch']" class="filter-group">
        <span class="filter-group__label">
                <h3>Classification <a id="filterClassificationClear" tabindex="" class="link--accent small" [ngClass]="{ 'disable': !hasAppliedFilters('classification') }" (click)="clearAllFilterGroup('classification')">Clear</a></h3>
            </span>
        <!--<div class="filter" [ngClass]="{ 'active': true }">All Collections</div>-->
        <button class="filter" *ngFor="let classificationFacet of availableFilters.classification" id="filterClassificationItem{{ classificationFacet.id }}" (click)="toggleFilter(classificationFacet.id, 'classification')" [ngClass]="{'active': filterApplied(classificationFacet.id, 'classification')}" data-sc="search: facet">{{ classificationFacet.name }}
            <i class="icon icon-add"></i>
            <i class="icon icon-close"></i>
        </button>
    </div>

   
    <!--<div class="filter-group">
        <span class="filter-group__label">
                <h3>Geography <a tabindex="" class="link--accent small" [ngClass]="{ 'disable': !hasAppliedFilters('geography') }" (click)="clearAllFilterGroup('geography')">Clear</a></h3>
            </span>
        <div *ngFor="let geographyFacet of availableFilters.geography" id="filterGeographyItem{{ geographyFacet.id }}">
            <i id="filterGeography{{ geographyFacet.id }}Expand" class="icon icon-direction absolute-left tree-icon" (click)="toggleTree(geographyFacet)" [ngClass]="{ 'icon-down' : geographyFacet.expanded, 'icon-right' : !geographyFacet.expanded }"></i>
            <button class="filter parent" (click)="toggleFilter(geographyFacet.id, 'geography')" [ngClass]="{'active': filterApplied(geographyFacet.id, 'geography')}" data-sc="search: facet"> {{ geographyFacet.name }} 
                <i class="icon icon-add"></i>
                <i class="icon icon-close"></i>
            </button>
            <div class="child-cntnr collapse" [ngClass]="{ 'show' : geographyFacet.expanded }">
                <button class="filter child" *ngFor="let child of geographyFacet.children; let childIndex = index" id="filterGeographyItem{{ 'Child' + child.id }}" (click)="toggleFilter(child.id, 'geography')" [ngClass]="{'active': filterApplied(child.id, 'geography')}" data-sc="search: facet">{{ child.name }}
                    <i class="icon icon-add"></i>
                    <i class="icon icon-close"></i>
                </button>
            </div>
        </div>
    </div>-->

    <div *ngIf="availableFilters.dateObj" class="filter-group">
        <span class="filter-group__label">
                <h3>Date <a id="buttonDateFilterClear" tabindex="" class="link--accent small" [ngClass]="{ 'disable': !hasAppliedFilters('date') }" (click)="clearAllFilterGroup('date')">Clear</a></h3>
            </span>
        <div class="date-filter-row">
            <input id="inputDateFilterStart" [(ngModel)]="availableFilters.dateObj.earliest.date" type="number" (keypress)="dateKeyPress($event)" min="0" class="form-control" placeholder="Start Date">
            <!--<div id="buttonDateFilterStartEra" class="toggle-btn" (click)="toggleEra(availableFilters.dateObj.earliest)">{{ availableFilters.dateObj.earliest.era }}</div>-->
            <div id="buttonDateFilterStartBCE" (click)="availableFilters.dateObj.earliest.era = 'BCE'" [ngClass]="{'active': availableFilters.dateObj.earliest.era == 'BCE' }" class="side-toggle-btn">BCE</div>
            <div id="buttonDateFilterStartCE" (click)="availableFilters.dateObj.earliest.era = 'CE'" [ngClass]="{'active': availableFilters.dateObj.earliest.era == 'CE' }" class="side-toggle-btn">CE</div>
        </div>
        <div class="date-filter-row">
            <input id="inputDateFilterEnd" [(ngModel)]="availableFilters.dateObj.latest.date" type="number" (keypress)="dateKeyPress($event)" min="0" class="form-control" placeholder="End Date">
            <!--<div id="buttonDateFilterEndEra" class="toggle-btn" (click)="toggleEra(availableFilters.dateObj.latest)">{{ availableFilters.dateObj.latest.era }}</div>-->
            <div id="buttonDateFilterEndBCE" (click)="availableFilters.dateObj.latest.era = 'BCE'" [ngClass]="{'active': availableFilters.dateObj.latest.era == 'BCE' }" class="side-toggle-btn">BCE</div>
            <div id="buttonDateFilterEndCE" (click)="availableFilters.dateObj.latest.era = 'CE'" [ngClass]="{'active': availableFilters.dateObj.latest.era == 'CE' }" class="side-toggle-btn">CE</div>
        </div>
        <div class="date-filter-row">
            <div id="buttonDateFilterReset" class="btn" (click)="clearDateFilter()">RESET</div>
            <div id="buttonDateFilterSubmit" class="btn" (click)="applyDateFilter()">APPLY</div>
        </div>
        <div class="date-filter-error-msg" *ngIf="dateError">End date must be greater than or equal to Start date.</div>

    </div>

</div>