.toast-cntnr.slide-in([ngClass]="{ 'slide-out' : hideToast, 'success' : type == 'success', 'error' : type == 'error' }")
  .toast-body
    .toast-icon
      i.icon([ngClass]="{ 'icon-success' : type == 'success', 'icon-error' : type == 'error' }")
    div.toast-message
      div#toast-text([innerHTML]="stringHTML")
      ng-container(*ngFor="let link of links")
        a#toast-link.toast-content-links.mr-1([routerLink]="link.routerLink", (click)="trackGoToLink(link.routerLink)", (focus)="pauseTimer()", (blur)="resumeTimer()") {{ link.label }}
    button#close-toast.icon.icon-close((click)="triggerDismiss()", (focus)="pauseTimer()", (blur)="resumeTimer()", aria-label="Close notification")
