@import '../../../sass/core/variables';
@import '../../../sass/core/mixins';

.toast-cntnr {
    min-width: 400px;
    min-height: 50px;  
    margin-bottom: $basePadding/2;
    background-color: $bgDefault;
    z-index: 10000;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
    border-top: 4px solid;
    
    transform: translateX(100%);
    -webkit-transform: translateX(100%);

    &.success {
        border-color: $green;
    }
    &.error{
        border-color: #ED3323;
    }

    &.slide-in {
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }
    
    &.slide-out {
        min-height: 0px;
        margin-right: 0px;
        animation: slide-out 0.5s forwards;
        -webkit-animation: slide-out 0.5s forwards;
    }
        
    @include keyframes('slide-in') {
        0% { transform: translateX(100%); }
        100% { transform: translateX(0%); }
    }
        
    @include keyframes('slide-out') {
        0% { 
            transform: translateX(0%); 
            max-height: 120px;
            margin-bottom: $basePadding/2;
            opacity: 1;
        }
        50% {
            max-height: 120px;
            opacity: 0;
        }
        100% { 
            transform: translateX(150%); 
            max-height: 0px;
            margin-bottom: 0px;
        }
    }

    .toast-body{
        display: block;
        padding: 8px 0px;

        .icon {
            font-size: 24px;
            margin: auto;
            display: block;

            &.icon-close {
                font-size: 18px !important;
            }
        }
    }
}
