.toast-cntnr.slide-in([ngClass]="{ 'slide-out' : hideToast, 'success' : type == 'success', 'error' : type == 'error' }")
  .toast-body
    .toast-icon
      i.icon([ngClass]="{ 'icon-success' : type == 'success', 'icon-error' : type == 'error' }")
    div.toast-message
      div([innerHTML]="stringHTML")
      ng-container(*ngFor="let link of links")
        a.toast-content-links.mr-1([routerLink]="link.routerLink", (click)="TrackgotogroupToast()") {{ link.label }}
    i.icon.icon-close((click)="triggerDismiss()")
