.modal.fade-in.show(id="modal", tabindex="-1")
  .modal-dialog(role="document")
    // modal content: Ask to delete
    .modal-content(*ngIf="!groupDeleted")
      .modal-header
        h4.modal-title {{ title | translate }}
        button.close(type="button", (click)="closeModal.emit(0)", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        p([innerHtml]="description")
      .modal-footer
        button.btn.btn-secondary(type="button", (click)="closeModal.emit(0)") {{ dismiss | translate }}
        button.btn.btn-primary(*ngIf="secondary", type="button", (click)="closeModal.emit(2)") {{ secondary | translate }}
        button.btn.btn-primary(type="button", (click)="closeModal.emit(1)") {{ primary | translate }}
