 @import '../../../sass/core/variables';

$pharos-spacing-one-quarter-x: 4px;
$pharos-spacing-three-quarters-x: 12px;
$pharos-radius-base-standard: 2px;
$pharos-color-text-white: #ffffff;
$pharos-color-interactive-primary: #990000;
$pharos-color-interactive-secondary: #000000;
$pharos-color-interactive-tertiary: #ffffff;
$pharos-color-ui-10: #ffffff;
$pharos-color-ui-20:#f2f1ed;
$pharos-color-ui-30: #eae8e1;
$pharos-color-ui-40: #d1cfc7;
$pharos-color-text-base: #000000;

.drop-tray{
  background:white;
  color:black;
  box-shadow: 0px 0px 10px 0px #D1CFC7;
  z-index: 9000;
  position: absolute;
  padding: 5px 15px;
  width: 100%;
}

 .wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 10px 0px;
  justify-content: space-between;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;

   & .mainContent {
     padding: 0px 1.5rem;
     color: black;
     max-width: 70%;

     & h1 {
       font-family: 'Ivar Display';
       font-size: 27px;
       font-weight: bold;
       color: black;
       margin-bottom: 0.5rem;

       @media(max-width: $phone){
         font-size: 25px;
        }
     }

     & a {
      font-family: Arial, Helvetica, sans-serif;
     }
   }

   @media (max-width: $phone) {
    justify-content: center;
    flex-direction: column;

     & .separator {
       transform: rotate(-0.25turn);
     }

     .mainContent {
      max-width: 70%;
      padding: 0;
      justify-content: start;
      margin-bottom: 1rem;
     }
  }
 }

button {

  &.try-now {
    color: $pharos-color-text-white;
    background-color: $pharos-color-interactive-primary;
    border:none;
    width: fit-content;
    white-space: nowrap;
    padding: 0.5rem;
    @media(max-width:$phone){
      margin: .25rem 0;
    }

    &:hover:not([disabled]),
    &:active:not([disabled]) {
      color: $pharos-color-interactive-primary;
      background-color: transparent;
      border: 1px solid $pharos-color-interactive-primary;
    }
  }
}

.separator-container {
  display: flex;
  flex-direction: column;
  height: 150px;

  .banner-separator-top {
    background: #000000;
    height: 50%;
    width: 4px;
    border-radius: 0px;

}

  .banner-separator-bottom {
      background: #990000;
      height: 50%;
      width: 4px;
      border-radius: 0px;

  }

  @media(max-width: $phone){
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      margin-bottom: 1rem;
      justify-content: center;
      width: 70%;
      height: 14px;

      .banner-separator-top {
        background: #000000;
        height: 4px;
        width: 50%;
        border-radius: 0px;

      }

      .banner-separator-bottom {
          background: #990000;
          height: 4px;
          width: 50%;
          border-radius: 0px;
      }
  }
}

.logo {
  margin-right: 1.25rem;
  height: 20%;
  width: 20%;

  @media(max-width: $phone){
    height: 60%;
    width: 60%;
  }
}

.container {
  padding: 0 !important;
}

.link {
  cursor: pointer;

  &:hover{
    color: #990000;
    text-decoration: underline;
    text-decoration-color: #990000;
  }
}
