div.drop-tray
  div.grid-container
    div(class="left")
      img.logo(src="/assets/img/artstor-jstor-logo.svg", alt="Artstor JSTOR Logo")
      img(src="/assets/img/dividing-bar.svg")
    div(class="center")
      h1([innerHtml]="'Get excited!' | translate")
      p([innerHtml]="'The Artstor images and resources you know and value are ready for you on JSTOR, and more content and capabilities are on the way. Try the new experience and begin your transition today. Artstor will be available in its current form at least through summer 2023.' | translate")
    div.right
      a( href="https://www.jstor.org")
        button.try-now([innerHtml]="'Try now' | translate")
