div.drop-tray(@trayAnimation)
  .container
    .wrapper
      img.logo(src="/assets/img/artstor-jstor-logo.svg", alt="Artstor JSTOR Logo")
      div.separator-container
            div.banner-separator-top
            div.banner-separator-bottom
      div.mainContent
        h1([innerHtml]="'Lorem Ipsum' | translate")
        p([innerHtml]="'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.' | translate")
      a( href="https://www.jstor.org")
        button.try-now([innerHtml]="'Try now' | translate")
