<nav-menu [actionOptions]="{group: true}"></nav-menu>
<div class="container main-content">
  <div class="row no-gutters row--search-bar">
    <div class="col-md-5">
      <ang-search></ang-search>
    </div>
  </div>

    <div class="row">
        <div class="col-sm-12">
            <h3 id="pageType">Browse Group</h3>
        </div>
    </div>
    <div class="row text-row">
        <div class="col-sm-9">
            <h1 id="pageTitle">
              {{ ig.igName }} 
              <a *ngIf="ig.igName && user.isLoggedIn" (click)="showPptModal = true">
                  <i id="downloadGroupLink" class="icon icon-download"></i>
              </a>
              <a *ngIf="ig.igName && !user.isLoggedIn" (click)="showLoginModal = true">
                  <i id="downloadGroupLink" class="icon icon-download"></i>
              </a>
            </h1>
            <div id="pageDescription" [innerHTML]="igDesc"></div>
        </div>
    </div>
    <ang-asset-grid></ang-asset-grid>
</div>
<ang-ig-download-modal *ngIf="showPptModal" (closeModal)="showPptModal = false" [ig]="ig"></ang-ig-download-modal>
<ang-login-req-modal *ngIf="showLoginModal" (closeModal)="showLoginModal = false"></ang-login-req-modal>