<nav-menu [actionOptions]="{group: true}" (refreshIG)="refreshIG()" [allowIgUpdate]="allowIgUpdate" [disableIgDelete]="disableIgDelete" [ig]="ig"></nav-menu>
<div class="container main-content">
  <div class="row no-gutters row--search-bar">
    <div class="col-md-5">
      <ang-search></ang-search>
    </div>
  </div>

    <div class="row">
        <div class="col-12 pb-4">
            <h3 id="pageType">Browse Group</h3>
             <h1 id="pageTitle">
                {{ ig.name }}
                <!--<a *ngIf="ig.igName && ig.igDownloadInfo && ig.igDownloadInfo.pptExportAllowed && user.isLoggedIn" (click)="showPptModal = true">
                    <i id="downloadGroupLink" class="icon icon-download"></i>
                </a>-->
                <a *ngIf="ig.name && downloadInfoReturned" (click)="showDownloadModal()">
                    <i id="downloadGroupLink" class="icon icon-download"></i>
                </a>
                <!--<a *ngIf="ig.igName && !user.isLoggedIn" (click)="showLoginModal = true">
                    <i id="downloadGroupLink" class="icon icon-download"></i>
                </a>-->
            </h1>
        </div>
        <div [ngClass]="[ hasDesc ? 'col-md-9' : 'col-md-12'  ]">
            <ang-asset-grid [actionOptions]="actionOptions" ></ang-asset-grid>
        </div>
        <div *ngIf="hasDesc" class="col-md-3">
            <h3 class="row-hdr">Description</h3>
            <div *ngIf="ig && ig.description" class="page__description" id="pageDescription" [innerHTML]="ig.description"></div>
        </div>
    </div>
</div>
<ang-ig-download-modal *ngIf="showPptModal" (closeModal)="showPptModal = false" [ig]="ig"></ang-ig-download-modal>
<ang-download-limit-modal *ngIf="showDownloadLimitModal" (closeModal)="showDownloadLimitModal = false" [ig]="ig"></ang-download-limit-modal>
<ang-login-req-modal *ngIf="showLoginModal" (closeModal)="showLoginModal = false"></ang-login-req-modal>
<ang-no-ig-modal *ngIf="showNoIgModal" (closeModal)="showNoIgModal = false"></ang-no-ig-modal>