@import '../../sass/core/variables';

.ig-description {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}
.desc-expnd-clps-icon{
  cursor: pointer;
  margin-right: 5px;
  height: 32px;
}
.desc-no-expand {
  color: #dedede;
}
.ig-tags{

  h3{
    margin-bottom: 5px;
  }

  .tag{
    margin-right: 3px;
    color: #8300e0;
    cursor: pointer;
    transition: color 0s linear;
    padding: 3px 5px;
    border-radius: 3px;
    background: #f8f8f8;
    display: inline-block;
    margin-bottom: 3px;

    &:hover{
      color: #000;
      background: #f1f1f1;
    }
  }
}

.row-hdr--btn {
  cursor: pointer;
  line-height: 32px;

  &:hover, &:focus {
    border-color: $blue;
  }
}

.pad-top {
  padding-top: 10px;
}
// removed expander because of moving description into column
// may want to implement this gradient on collection page
// .page__description {
//     overflow: hidden;
//     // transition: max-height 1s linear;

//     &.limit {
//         max-height: 80px;
//         display: -webkit-box;
//         text-overflow: ellipsis;
//         -webkit-line-clamp: 4;
//         -webkit-box-orient: vertical;
//     }
// }

// .expander {
//     position: relative;
//     z-index: 1000;
//     text-align: center;
//     line-height: 28px;
//     margin-top: -2.3em;
//     padding-top: 20px;
//     &.collapsed {
//         background-image: linear-gradient(to bottom, transparent 0%, white 50%);
//     }
// }
