<nav-menu></nav-menu>
<div class="container main-content">
  <div class="row">
    <div *ngIf="igDesc" class="col-sm-3">
      <div class="ig-description-container">
        <h2>Description</h2>
        <div id="pageDescription" [innerHTML]="igDesc"></div>
      </div>
    </div>
    <div [ngClass]="{ 'col-sm-9' : igDesc, 'col-sm-12' : !igDesc }" class="col-sm-9">
      <ang-asset-grid></ang-asset-grid>
        <a *ngIf="_auth.getUser() && _auth.getUser().isLoggedIn" (click)="showPptModal = true">
            <i id="downloadAssetLink" class="icon icon-download" ></i>
        </a><!--setting name to asset.title does not currently work - it is always named "download" - see below-->
        <!--http://stackoverflow.com/questions/33909763/download-attribute-with-a-file-name-not-working-->
    </div>
  </div>
</div>
<ang-ig-download-modal *ngIf="showPptModal" (closeModal)="showPptModal = false" [ig]="ig"></ang-ig-download-modal>