@import '../../../sass/core/variables';

$assetViewerPad: 20px;
$viewerMinHeight: 90vh;
$viewerOldBrowserMinHeight: 600px;
$viewerMobileHeight: 66vh;

$metadataBg: #f1f8f1;

.asset-viewer {
    text-align: center;
    padding: 0; //$assetViewerPad;
    z-index: 0;
    position: relative;
    min-height: $viewerOldBrowserMinHeight;
    min-height: $viewerMinHeight;
    overflow: hidden;

    @media(max-width: $phone) {
        height: $viewerMobileHeight;
        min-height: $viewerMobileHeight;
        .asset-viewer__buttons {
            opacity: 1;
        }
    }

    &:hover {
        .asset-viewer__buttons {
            opacity: 1;
        }
    }
}

.asset-viewer__buttons {
    opacity: 0;
    transition: opacity 0.2s linear;
    position: absolute;
    top: $assetViewerPad;
    left: $assetViewerPad;
    z-index: 1000;
    padding: 10px;
}

.video-player {
    min-height: $viewerOldBrowserMinHeight;
    min-height: $viewerMinHeight;

    @media(max-width: $phone) {
        height: $viewerMobileHeight;
        min-height: $viewerMobileHeight;
    }

    & iframe {
        min-width:100%;
        min-height: $viewerOldBrowserMinHeight;
        min-height: $viewerMinHeight;
    }
}

.osd-wrap {
    position: relative; 
    height: $viewerOldBrowserMinHeight;
    height: $viewerMinHeight; 
    width: 100%; 
    min-height: $viewerMinHeight;

    @media(max-width: $phone) {
        height: $viewerMobileHeight;
        min-height: $viewerMobileHeight;
    }
}

.asset-viewer.fullscreen {
    min-height: 100%;
    width: 100%;
    z-index: 1;
    padding: 0px; 

    & .item  {
        position: absolute !important;
        width: 100%;
        height: 100%;
        min-height: 100% !important;
    }

    @for $n from 0 through 20 {
        &.asset-viewer-#{ $n } {
            width: 100%/$n;
        }
    }
}

.item.item--thumbnail,
.asset-viewer.fullscreen .item.item--thumbnail {
    position: absolute;
    width: auto;
    height: auto;
    min-height:0px !important;
    min-width:0px;
    max-height: 100%;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-50%,0);
}

.fullscreen-metadata {
    position: absolute;
    background: $metadataBg;
    left: 0px;
    bottom: 0;
    z-index: 1;
    opacity: 0.98;
    width: 100%;
    height: 80px;
    padding: 20px;
    transition: transform 0.2s linear;
    transform: translateY(0px);

    &.slideAway {
        transform: translateY(100%);
    }

    & i{
        vertical-align: top;
        margin: 3px;
        cursor: pointer;
    }
    & .title{
        font-family: 'Lyon Display Web', Georgia, Times;
        font-size: 18px;
        display: inline-block;
        width: 350px;
        margin: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }
    & .page-tooltip{
        font-weight: normal;
        font-size: 10px;
        min-width: 120px;
        line-height: 21px;
        display: block;
        position: absolute;
        z-index: 5000;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
        background: white;
        color: black;
        padding: 2px 15px 0px;
        opacity: 0;
        -webkit-transition: opacity linear 0.3s;
        -moz-transition: opacity linear 0.3s;
        transition: opacity linear 0.3s;
    }
    &:hover .page-tooltip{
        opacity: 1;
    } 

    & .caption-link{
        display: inline-block;
        float: left;
        font-size: 12px;
        cursor: pointer;
        border-bottom: 1px dotted #373a3c;
    }

}

.caption-cntnr{
    display: block;
    padding: 10px;
    position: absolute;
    bottom: 0px;
    background: rgba(255,255,255,0.95);
    width: 100%;
}