
$assetViewerPad: 20px;
$viewerMinHeight: 600px;

.asset-viewer {
    text-align: center;
    padding: $assetViewerPad;
    z-index: 0;
    position: relative;
    min-height: $viewerMinHeight;
}

.asset-viewer__buttons {
    position: absolute;
    bottom: $assetViewerPad;
    right: $assetViewerPad;
    z-index: 1000;
    padding: 10px;
}

.video-player {
    min-height: $viewerMinHeight;
}

.asset-viewer.fullscreen {
    min-height: 100%;
    width: 100%;
    z-index: 1;
    padding: 0px;

    & .asset-viewer__buttons {
        bottom: 55px;
    }

    & .item  {
        position: absolute !important;
        width: 100%;
        height: 100%;
        min-height: 100% !important;
    }

    @for $n from 0 through 20 {
        &.asset-viewer-#{ $n } {
            width: 100%/$n;
        }
    }
}

.fullscreen-metadata {
    position: fixed;
    background: #e1e8e1;
    bottom: 0;
    z-index: 1000;
    opacity: 0.98;
    width: 100%;
    min-height: 50px;
    padding: 20px;

    & i{
        vertical-align: top;
        margin: 3px;
        cursor: pointer;
    }
    & .title{
        font-family: 'Lyon Display Web', Georgia, Times;
        font-size: 18px;
        display: inline-block;
        width: 350px;
        margin: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: top;
    }
    & .page-tooltip{
        font-weight: normal;
        font-size: 10px;
        min-width: 120px;
        line-height: 21px;
        display: block;
        position: absolute;
        z-index: 5000;
        top: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
        background: white;
        color: black;
        padding: 2px 15px 0px;
        opacity: 0;
        -webkit-transition: opacity linear 0.3s;
        -moz-transition: opacity linear 0.3s;
        transition: opacity linear 0.3s;
    }
    &:hover .page-tooltip{
        opacity: 1;
    } 

    & .caption-link{
        display: inline-block;
        float: left;
        font-size: 12px;
        cursor: pointer;
        border-bottom: 1px dotted #373a3c;
    }

}

.caption-cntnr{
    display: block;
    padding: 10px;
    position: fixed;
    bottom: 60px;
}