<div class="asset-viewer" [class.fullscreen]="isFullscreen">
    <!-- IIIF Image Viewer -->
    <div [class.hidden]="!isOpenSeaDragonAsset || mediaLoadingFailed">
        <!-- *ngIf="openSeaDragonReady"-->

        <div id="loader-wrapper" class="more-results overlay-wrap--center" *ngIf="!openSeaDragonReady">
            <i class="icon-asterisk icon-spin icon-large"></i>
        </div>
        <div class="item osd-wrap" [attr.id]="'osd-' + asset.id + '-' + index" [attr.zoomValue]="lastZoomValue"></div>
    </div>

    <!-- Video Player -->
    <div [class.hidden]="!isKalturaAsset || mediaLoadingFailed">
        <!--<div id="imageButtons-{{ asset.id + '-' + index }}" class="button-group top-right vertical icons-block circle">
        <button class="hide-in-fullscreen" (click)="togglePresentationMode()" id="fullScreen-{{ asset.id + '-' + index }}" title="Full Screen"><i class="icon-full-screen"></i></button>
        <button *ngIf="removableAsset" class="show-in-fullscreen" (click)="removeComparedAsset(asset.id)" title="Remove from Comparison"><i class="icon-clear"></i></button>
    </div>-->
        <div [attr.id]="'video-' + asset.id + '-' + index" class="item video-player"></div>
    </div>

    <!--Audio Player-->
    <div *ngIf="asset.typeName() == 'audio'">
        <audio id="audio-{{ asset.id + '-' + index }}" class="item video-player" controls style="display:none;">
            <source [attr.src]="asset.downloadLink" type="audio/MPEG"> 
            <!--{{ mediaType }}-->
            {{ 'audio_error' }}
        </audio>
    </div>

    <!-- PDF Viewer -->
        <!--<div ng-hide="mediaLoadingFailed" ng-if="asset.File.type == 'pdf' || asset.File.format == 'pdf'">
        <ng-pdf style="height: 100%;width:100%; position: relative;overflow:hidden;" template-url="item/pdfViewer.tpl.html" scale="page-fit"></ng-pdf>
    </div>-->

    <!-- Large thumbnail fallback -->
    <div *ngIf="mediaLoadingFailed" id="fallbackViewer" [class.loading]="isLoading">
        <img alt="{{ asset.title }}" class="item item--thumbnail" [attr.src]="_assets.makeThumbUrl(asset.imgURL, 2)" />
    </div>

    <div id="imageButtons-{{ asset.id + '-' + index }}" class="button-group asset-viewer__buttons">
        <button [class.hidden]="!isOpenSeaDragonAsset || mediaLoadingFailed" id="zoomIn-{{ asset.id + '-' + index}}" title="Zoom In" class="btn btn--icon">
        <i class="icon icon-zoom-in"></i>
    </button><button [class.hidden]="!isOpenSeaDragonAsset || mediaLoadingFailed" id="zoomOut-{{ asset.id + '-' + index }}" title="Zoom Out" class="btn btn--icon">
        <i class="icon icon-zoom-out"></i>
    </button><button [class.hidden]="!isOpenSeaDragonAsset || mediaLoadingFailed" id="zoomFit-{{ asset.id + '-' + index }}" title="Zoom Fit" class="btn btn--icon">
            <i class="icon icon-fit"></i>
    </button><button  *ngIf="!isFullscreen" id="fullScreen-{{ asset.id + '-' + index }}" class="btn btn--icon" (click)="togglePresentationMode()" title="Full Screen">
            <i class="icon icon-fullscreen"></i>
    </button><button *ngIf="isFullscreen" class="btn btn--icon" (click)="showCaption = !showCaption" [class.active]="showCaption" title="Toggle Caption">
            <i class="icon icon-text"></i>
        </button><button *ngIf="isFullscreen && index !== 0" class="btn btn--icon" (click)="removeComparedAsset(asset.id)" title="Remove from Comparison">
            <i class="icon icon-close"></i>
    </button>
    </div>

    <!--<div *ngIf="isFullscreen" class="caption-cntnr" [hidden]="!showCaption">
        <div class="meta-block">
            <div class="title">{{ asset.title }}</div>
            <div class="creator">{{ asset.creator }}</div>
            <div class="date">{{ asset.date }}</div>
        </div>
    </div>-->


    <div *ngIf="isFullscreen" class="fullscreen-metadata" [class.slideAway]="!showCaption">
        <div class="vertical-center-wrap">
            <i *ngIf="assetCompareCount == 1" title="Previous in results" (click)="prevPage.emit()" class="icon icon-direction icon-left"></i>
            <div class="title">{{ asset.title }}</div>
            <i *ngIf="assetCompareCount == 1" title="Next in results" (click)="nextPage.emit()" class="icon icon-direction icon-right"></i>
            <!--<div class="page-tooltip">{{ assetNumber }} OF {{ totalAssetCount }}</div>-->
            <div  class="meta-block small">
                <div class="creator">{{ asset.creator }}</div>
                <div class="date">{{ asset.date }}</div>
            </div>
        </div>
    </div>
</div>