@import '../../../sass/core/variables';

.open-modal {
  display: none;
  @media (min-width: 768px) {
      display: block;
  }
}

#inputSearchTerm {
  height: 35px;
}

.search-wrap {
    position: fixed;
    top: 7px;
    left: 60px;
    z-index: 2000;
    width: calc(100% - 145px);

    @media (min-width: $phone) {
        position: static;
        width: 100%;
    }

    .row{
        margin: 0 0 1rem !important;

        .input-group{
            padding: 0px !important;
        }
    }
}
.search-in-results{
    height: 35px;
    line-height: 35px;
    white-space: nowrap;

    label{
        font-weight: 400;
        font-family: inherit;
        padding-left: 3px;
    }

}
