.open-modal {
  display: none;
  @media (min-width: 768px) {
      display: block;
  }
}

#inputSearchTerm {
  height: 35px;
}

.search-wrap {
    position: fixed;
    top: 7px;
    left: 15px;
    z-index: 2000;
    width: calc(100% - 100px);

    @media (min-width: 768px) {
        position: static;
        width: 100%;
    }
}