<div id="accessDeniedModal" class="modal" [ngClass]="{'show': showaccessDeniedModal }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row hdr">
                        <h1>Resource is unavailable</h1>
                    </div>
                    <div class="row pt-3 main-content">
                        Sorry, you do not have access to the requested resource. Please access Artstor from a subscribing institution or login remotely.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-primary" (click)="resourceAccessDenied()">Return to Home</button>
            </div>
        </div>
    </div>
</div>