<div id="accessDeniedModal" class="modal show">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 translate>ACCESS_DENIED_MODAL.HEADING</h5>
      </div>
      <div class="modal-body">
        <p [innerHtml]="'ACCESS_DENIED_MODAL.PROMPT' | translate" class="pt-3 main-content"></p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" [routerLink]="['/home']" >Return to Home</button>
      </div>
    </div>
  </div>
</div>