<nav-menu></nav-menu>
<div class="container main-content">
    <div class="row no-gutters row--search-bar">
        <div class="col-md-5">
        <ang-search></ang-search>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3 id="pageType">Browse Category</h3>
        </div>
    </div>
    <div class="row">
        <div [ngClass]="catThumbnail ? 'col-sm-9' : 'col-sm-12'">
            <h1 id="pageTitle">{{ catName }}</h1>
            <p *ngIf="catDescription" id="pageDescription" [innerHtml]="catDescription"></p>
            
        </div>
        <div *ngIf="catThumbnail" class="col-sm-3">
            <div class="thumbnail-shelf">
                <img class="collection-thumb" src="http://viewer2.artstor.org{{ catThumbnail }}" />
            </div>
        </div>
    </div>
    <ang-asset-grid [actionOptions]="{category: true}" [assetCount]="assetCount"></ang-asset-grid>
</div>