div
  nav-menu([allowSelectAll]="true")
  .container.main-content
    .row
      .col-sm-3(style="margin-top: 1rem;")
        button.mobile--show.btn.btn-secondary(id="showFiltersBtn", (click)="showFilters = !showFilters") {{ showFilters ? 'Hide Filters' : 'Show Filters' }}
        div([ngClass]="[ showFilters ? '' : 'mobile--hide']")
          div(aria-activedescendant="button")
            button.skip-btn#skip-to-search-link((click)="skipToSearchSection()", (keyup.enter)="skipToSearchSection()", tabindex="2", class="sr-only sr-only-focusable") This is the filters section. Skip to the search results section.
          h1 Filtered Search
          ang-asset-filters
      .col-sm-9
        h1.mobile--show Results
        div(aria-activedescendant="button")
          button.skip-btn#skip-to-filter-link((click)="skipToFilterSection()", (keyup.enter)="skipToFilterSection()", tabindex="3", class="sr-only sr-only-focusable") This is the search results section. Skip to the filters section.
        .row.no-gutters.row--search-bar
          #mainContent.col-md-7
            ang-search([allowSearchInRes]="true")
        .row
          .col-sm-12
            h3#pageType Browse Category
        .row.pb-4
          div([ngClass]="catThumbnail ? 'col-sm-9' : 'col-sm-12'")
            h1#pageTitle.h1--title-block {{ catName }}
            p#pageDescription.page__description(*ngIf="catDescription", [innerHtml]="catDescription")

          .col-sm-3(*ngIf="catThumbnail")
            .thumbnail-shelf
              img.collection-thumb(src="{{ catThumbnail }}")
        ang-asset-grid([actionOptions]="{category: true}")
  ang-access-denied-modal(*ngIf="showAccessDeniedModal")

