
@import '../../../node_modules/bootstrap/scss/mixins/_gradients.scss';
@import '../../sass/core/variables';

.container.main-content {
  padding: 25px 25px 0;
  @media (min-width: $phone) {
    padding: 0;
  }
}

.thumbnail-shelf {
    border-bottom: 1px solid #bebebe;
    text-align: center;
    // margin: 20px;
    margin-bottom: 20px;
    padding-top: 20px;

    background: #f7f7f7;
    // @include linear-gradient(to bottom, #ffffff, #f7f7f7);
    @include gradient-y(#ffffff, #f7f7f7, 0%, 100%);
}

img.collection-thumb {
    max-height: 100px;
    width: auto;
}

.btn-secondary {
  @media(max-width: $phone) {
    margin-bottom: 20px;
  }
}
