.modal.fade-in.show
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h4.modal-title {{ 'IMAGE_GROUP_PAGE.DELETE_IG.TITLE' | translate }}
      .modal-body
        p here is some text in the body
      .modal-footer
        button.btn.btn-secondary(type="button", (click)="closeModal.emit()") {{ 'IMAGE_GROUP_PAGE.DELETE_IG.CANCEL_BUTTON' | translate }}
        button.btn.btn-primary(type="button", (click)="submit()") {{ 'IMAGE_GROUP_PAGE.DELETE_IG.DELETE_BUTTON' | translate }}