@import '../../sass/core/variables';

.row--search-bar {
    margin: 20px 0;
}

.sortlist, .pagesizelist, .editMode{
    list-style: none;
    display: inline-block;
}
.editMode{
    padding: 0px 3px;
    color: #999;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Graphik Web', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.editMode.active{
    color: #000;
}
.active-sort, .page-size{
    display: inline-block;
}
.filter-hdr a{
    color: #b64403;
}  


.pag-controls{
    text-align: right;
}
.pag-controls input{
    font-size: 13px;
    height: 1.75em;
    width: 4.5em;
    margin: 0px 5px;
    text-align: center;
}
.pag-controls input:hover{
    // border: 1px solid #b64404;
}
.pag-controls input:focus{
    // border: 1px solid #b64404;
    outline: none;
}
.pag-controls .pag-info{
    vertical-align: middle;
    padding: 0px 5px;
}
.pag {
    display: inline-block;
    text-align: center;
    width: 1.35em;
    height: 1.35em;
    border: 1px solid $burntOrange;
    cursor: pointer;
    vertical-align: middle;

    &.pag-first {
        background: url(/assets/img/pagination-icons/first.gif) 50% 50% no-repeat #b64404;
        &:hover { background: url(/assets/img/pagination-icons/first-hover.gif) 50% 50% no-repeat #b64404; }
        &.disable { background: url(/assets/img/pagination-icons/first-disable.gif) 50% 50% no-repeat #b64404 !important; }
    }
    &.pag-prev {
        background: url(/assets/img/pagination-icons/prev.gif) 50% 50% no-repeat #b64404;
        &:hover { background: url(/assets/img/pagination-icons/prev-hover.gif) 50% 50% no-repeat #b64404; }
        &.disable { background: url(/assets/img/pagination-icons/prev-disable.gif) 50% 50% no-repeat #b64404 !important; }
    }
    &.pag.pag-next {
        background: url(/assets/img/pagination-icons/next.gif) 50% 50% no-repeat #b64404;
        &:hover { background: url(/assets/img/pagination-icons/next-hover.gif) 50% 50% no-repeat #b64404; }
        &.disable { background: url(/assets/img/pagination-icons/next-disable.gif) 50% 50% no-repeat #b64404 !important; }
    }
    &.pag-last {
        background: url(/assets/img/pagination-icons/last.gif) 50% 50% no-repeat #b64404;
        &:hover { background: url(/assets/img/pagination-icons/last-hover.gif) 50% 50% no-repeat #b64404; }
        &.disable { background: url(/assets/img/pagination-icons/last-disable.gif) 50% 50% no-repeat #b64404 !important; }
    }

    &.disable {
        border: 1px solid #cecba5;
        cursor: initial;
    }
}

.no-border{
    border: none !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}