<div [class.fade-in]="reorderMode && !showLoseReorder" class="reorder-shade" (click)="shouldSaveModal($event)"></div>
<div class="container"  [class.in-front]="reorderMode">
    <div class="row">
        <!--<div class="col-sm-3">
            <h2 class="header-button" (click)="showFilters = !showFilters">Filters <i class="icon icon-direction absolute-right" [ngClass]="{ 'icon-down' : showFilters, 'icon-left' : !showFilters }"></i></h2>
        </div>-->
        <div class="mobile--hide grid-tool-bar" [ngClass]="[ reorderMode ? 'col-12' : 'col-sm-8 col-md-8 col-lg-9']">
            <div class="row">
                <div *ngIf="!reorderMode" class="col-12">
                    <li *ngIf="!actionOptions.associated && !actionOptions.group && !(actionOptions.category && totalAssets >= 2000) && !(actionOptions.collection && totalAssets >= 2000)" class="dropdown" class="sortlist" ngbDropdown>
                        <button class="btn btn-link" id="sortdropdownMenu" ngbDropdownToggle>Sort: <span class="value">{{ activeSort.label ? activeSort.label : 'Relevance' }}</span></button>
                        <div class="dropdown-menu" aria-labelledby="sortdropdownMenu">
                            <button [ngClass]="{ 'disable': activeSort.index == '1' }" class="dropdown-item" (click)="changeSortOpt('1', 'Title')">Title</button>
                            <button [ngClass]="{ 'disable': activeSort.index == '2' }" class="dropdown-item" (click)="changeSortOpt('2', 'Creator')">Creator</button>
                            <button [ngClass]="{ 'disable': activeSort.index == '3' }" class="dropdown-item" (click)="changeSortOpt('3', 'Date')">Date</button>
                            <button [ngClass]="{ 'disable': activeSort.index == '0' }" class="dropdown-item" (click)="changeSortOpt('0', 'Relevance')">Relevance</button>
                        </div>
                    </li>
                    <!--<span class="active-sort">{{ activeSort.label }}</span>-->
                    <li class="dropdown" class="pagesizelist" ngbDropdown>
                        <button class="btn btn-link" id="pagesizedropdownMenu" ngbDropdownToggle>Images/page: <span class="value">{{ pagination.pageSize ? pagination.pageSize : '24' }}</span></button>
                        <div class="dropdown-menu" aria-labelledby="pagesizedropdownMenu">
                            <button [ngClass]="{ 'disable': pagination.pageSize == 24 }" class="dropdown-item" (click)="changePageSize(24)">24</button>
                            <button [ngClass]="{ 'disable': pagination.pageSize == 48 }" class="dropdown-item" (click)="changePageSize(48)">48</button>
                            <button [ngClass]="{ 'disable': pagination.pageSize == 72 }" class="dropdown-item" (click)="changePageSize(72)">72</button>
                        </div>
                    </li>

                    <div class="number-results" *ngIf="!isLoading">{{ totalAssets }}{{ totalAssets == 2000 ? '+' : '' }} results  <span *ngIf="searchTerm">for <span [innerHtml]="formatSearchTerm(searchTerm)"></span></span></div>
                    <!--<div class="search-in-results" *ngIf="allowSearchInRes"><input type="checkbox" id="searchInResChkBx" [(ngModel)]="searchInResults" (change)="updateSrchInRes()" /> <label for="searchInResChkBx">Search within results</label></div>-->
                </div>
                <div class="col-12 pb-3">
                    <!--Download-->
                    <li [class.disabled]="reorderMode" class="btn btn-link" (click)="_ig.triggerIgDownload()" *ngIf="actionOptions.group"><i class="icon icon-download-white"></i>Download</li>
                    <!--Export-->
                    <!--<li [class.disabled]="reorderMode" class="btn btn-link" (click)="_ig.triggerIgExport()" *ngIf="actionOptions.group"><i class="icon icon-export-white"></i>Export</li>-->
                    <!--Select-->
                    <li [class.disabled]="reorderMode" class="btn btn-link" (click)="toggleEditMode()" [ngClass]="{'active': editMode}"><i class="icon icon-select-white"></i>Select</li>
                    <!--Reorder-->
                    <li class="btn btn-link" (click)="toggleReorderMode()" [ngClass]="{'active': reorderMode}" *ngIf="actionOptions.group && actionOptions.isowner"><i class="icon icon-reorder-white"></i>Reorder</li>
                    <!--Save Order-->
                    <li *ngIf="reorderMode" [class.disabled]="!orderChanged" class="btn btn-link" (click)="saveReorder()"><i class="icon icon-reorder-white"></i>Save Order</li>
                    <!--Save Order-->
                    <li *ngIf="reorderMode" class="btn btn-link" (click)="cancelReorder()"><i class="icon icon-close-white--round"></i>Cancel Reorder</li>
                    <!--Number of selected assets in edit mode-->
                    <div class="selected-assets" *ngIf="editMode">{{ selectedAssets.length }} selected asset{{ selectedAssets.length > 1 ? 's' : '' }}</div>
                </div>
            </div>
            <!--<span class="page-size">{{ pagination.pageSize }}</span>-->
        </div>
        <div *ngIf="!reorderMode" class="col-sm-4 col-md-4 col-lg-3 text-right grid-pagination-bar">
            <pagination [pageObj]="pagination" (goToPage)="goToPage($event)">
            </pagination>
        </div>
    </div>


    <!--Thumbnail Grid-->
    <div class="row row--no-overflow pb-5" [ngClass]="{'edit': editMode}">
        <div class="col-md-12 col--thumbnails col--expanding has-icon-overlay" [ngClass]="{ 'col--expand-12' : !showFilters }">
            <i [hidden]="!isLoading" class="icon-lg icon-overlay icon-loading-large"></i>

            <!--Display Thumbnails  -->
            <div *ngIf="!reorderMode" id="assetThumbnailsRow" class="row no-gutters">
                <div *ngIf="!isLoading && (totalAssets == '0') && (!results || results.length < 1) && (searchError.length < 1)" class="alert alert-warning">
                    <b>Unable to find any assets</b><br/>
                    A less specific query might be able to find what you are looking for.
                </div>
                <div *ngIf="!isLoading && searchError.length > 0" class="alert alert-danger">
                    {{ searchError }}
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2" *ngFor="let asset of results">
                    <a class="card card--asset" [ngClass]="{'selected': ( isSelectedAsset(asset) > -1 ) }" [routerLink]="editMode ? ['./'] : ['/asset', asset.objectId]" (click)="selectAsset(asset)">
                        <ang-thumbnail [thumbnail]="asset" [reorderMode]="reorderMode" [editMode]="editMode"></ang-thumbnail>
                    </a>
                </div> <!-- .col -->
            </div>

            <!--Sortable Thumbails-->
            <div *ngIf="reorderMode" id="assetThumbnailsRow" class="row no-gutters" dnd-sortable-container [sortableData]="allResults">
                <div *ngIf="!isLoading && (totalAssets == '0') && (!results || results.length < 1) && (searchError.length < 1)" class="alert alert-warning">
                    <b>Unable to find any assets</b><br/>
                    A less specific query might be able to find what you are looking for.
                </div>
                <div *ngIf="!isLoading && searchError.length > 0" class="alert alert-danger">
                    {{ searchError }}
                </div>
                <div class="col-sm-4 col-md-2 col-lg-1 draggable" *ngFor="let asset of results; let i = index" dnd-sortable [dragEnabled]="reorderMode && !isLoading" [sortableIndex]="i" (onDragEnd)="orderChanged = true">
                    <div class="card card--asset">
                        <ang-thumbnail [thumbnail]="asset" [reorderMode]="reorderMode" [editMode]="editMode"></ang-thumbnail>
                    </div>
                </div> <!-- .col -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="mobile--hide grid-tool-bar" [ngClass]="[ reorderMode ? 'col-12' : 'col-sm-8 col-md-8 col-lg-9']"></div>
        <div *ngIf="!reorderMode" class="col-sm-4 col-md-4 col-lg-3 text-right grid-pagination-bar">
            <pagination [pageObj]="pagination" (goToPage)="goToPage($event)">
            </pagination>
        </div>
    </div>
</div>

<ang-confirm-modal *ngIf="showLoseReorder" (closeModal)="ditchingReorder($event)" [title]="'Exit Reordering'" 
    [description]="'You have made changes to your group\'s order. Do you want to save them?'"
    [dismiss]="'Cancel'"
    [secondary]="'Discard Changes'"
    [primary]="'Save Changes'"></ang-confirm-modal>