@import '../../sass/core/variables';

.sortlist, .pagesizelist, .editMode, .number-results{
    list-style: none;
    display: inline-block;
}
.number-results{
    font-size: 12px;
    padding-right: 10px;
}
.editMode{
    padding: 0px 3px;
    color: #999;
    font-size: 12px;
    letter-spacing: 1px;
    font-family: 'Graphik Web', sans-serif;
    font-weight: 700;
    cursor: pointer;
}
.editMode.active{
    color: #000;
}
.active-sort, .page-size{
    display: inline-block;
}
.filter-hdr a{
    color: #b64403;
}  


.pag-controls{
    text-align: right;
    @media (max-width: $phone) {
        text-align: center;    
    }
}
.pag-controls input{
    font-size: 13px;
    height: 1.75em;
    width: 4.5em;
    margin: 0px 5px;
    text-align: center;
}
.pag-controls input:hover{
    // border: 1px solid #b64404;
}
.pag-controls input:focus{
    // border: 1px solid #b64404;
    outline: none;
}
.pag-controls .pag-info{
    vertical-align: middle;
    padding: 0px 5px;
}
.pag {
    display: inline-block;
    text-align: center;
    width: 1.35em;
    height: 1.35em;
    border: 1px solid $burntOrange;
    cursor: pointer;
    vertical-align: middle;

    &.pag-first {
        background: url(/assets/img/pagination-icons/first.gif) 50% 50% no-repeat #b64404;
        &:hover { background: url(/assets/img/pagination-icons/first-hover.gif) 50% 50% no-repeat #b64404; }
        &:disabled { background: url(/assets/img/pagination-icons/first-disable.gif) 50% 50% no-repeat #b64404 !important; }
    }
    &.pag-prev {
        background: url(/assets/img/pagination-icons/prev.gif) 50% 50% no-repeat #b64404;
        &:hover { background: url(/assets/img/pagination-icons/prev-hover.gif) 50% 50% no-repeat #b64404; }
        &:disabled { background: url(/assets/img/pagination-icons/prev-disable.gif) 50% 50% no-repeat #b64404 !important; }
    }
    &.pag.pag-next {
        background: url(/assets/img/pagination-icons/next.gif) 50% 50% no-repeat #b64404;
        &:hover { background: url(/assets/img/pagination-icons/next-hover.gif) 50% 50% no-repeat #b64404; }
        &:disabled { background: url(/assets/img/pagination-icons/next-disable.gif) 50% 50% no-repeat #b64404 !important; }
    }
    &.pag-last {
        background: url(/assets/img/pagination-icons/last.gif) 50% 50% no-repeat #b64404;
        &:hover { background: url(/assets/img/pagination-icons/last-hover.gif) 50% 50% no-repeat #b64404; }
        &:disabled { background: url(/assets/img/pagination-icons/last-disable.gif) 50% 50% no-repeat #b64404 !important; }
    }

    &:disabled {
        border: 1px solid #cecba5;
        cursor: initial;
    }
}

.pag-wrap {
    display: inline-block;
    cursor: default;
}

.no-border{
    border: none !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}
// For generate image URL Modal
#genImgURL .modal-body{
    font-family: 'Graphik Web', sans-serif;
}
#genImgURL .main-content{
    border-bottom: 1px solid #ddd;
}
#genImgURL .asset-title{
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    font-family: 'Graphik', Futura, Helvetica, sans-serif;
    padding-bottom: 5px;
}
#genImgURL .imgURL-gen-info{
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    padding-top: 10px;
}
#genImgURL .label{
    color: #c9d0c9;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
#genImgURL .value{
    font-size: 13px;
    word-wrap: break-word;
    padding: 5px 0px;
}
#genImgURL .copy-clipboard{
    font-size: 12px;
    color: #a4a4a4;
    border-bottom: 1px dotted #ddd;
    display: inline-block;
    padding-bottom: 2px;
    cursor: pointer;
}
#genImgURL .copy-status-msg{
    display: inline-block;
    font-size: 12px;
    color: #000;
    padding-bottom: 2px;
    margin-left: 20px;
}
#genImgURL .value textarea{
    font-family: 'Graphik Web', sans-serif;
    font-size: 13px;
    word-wrap: break-word;
    word-break: break-all;
    width: 475px;
    min-height: 50px;
    padding: 5px 10px;
    text-align: left;
    margin-top: 10px;
    border: 1px solid #ddd;
    resize: none;
}
#genImgURL .value #copyHTML{
    min-height: 110px !important;
}
.close-icon{
    cursor: pointer;
}

.dropdown{
    &.open .dropdown-menu{
        display: block;
    }
}