@import '../../sass/core/variables';

.sortlist, .pagesizelist, .editMode, .number-results{
    list-style: none;
    display: inline-block;
}
.number-results{
    font-size: 12px;
    padding: .5em 10px .5em 0;
}
.active-sort, .page-size{
    display: inline-block;
}
.filter-hdr a{
    color: #b64403;
}  

.page-input {
    padding: 0.5rem;
    margin-left: -1px;
    line-height: 1.25;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 40px;
    text-align:center;
    z-index:1;
    position: relative;

    &:hover, &:focus {
        outline: none;
        background: #fafafa;
        border-color: $red;
    }
}
// .pag-controls{
//     text-align: right;
//     @media (max-width: $phone) {
//         text-align: center;    
//     }
// }
// .pag-controls input{
//     font-size: 13px;
//     height: 1.75em;
//     width: 4.5em;
//     margin: 0px 5px;
//     text-align: center;
// }
// .pag-controls input:hover{
//     // border: 1px solid #b64404;
// }
// .pag-controls input:focus{
//     // border: 1px solid #b64404;
//     outline: none;
// }
.page-input, .page-info {
    font-size: 13px;
}
.page-input, .page-info, .page-link {
    font-family: 'Graphik Web';
}

button.page-link {
    cursor: pointer;
    color: $red;
    background: transparent; //#f7f7f7;
    border-color: transparent;
    // vertical alignment adjustment
    // border-color: transparent;
    border-radius: 0px !important;

    &:hover {
        background: #f8f8f8;
    }
    
    &:disabled {
        pointer-events: none;
        color: #cdcdcd !important;
    }

    &:active, &:focus {
        outline: none;
        box-shadow: none;
    }
}
.page-info{
    vertical-align: middle;
    padding: 0.5rem 4px 0.5rem 0px;
    border-bottom: 1px solid transparent;
}
// .pag {
//     display: inline-block;
//     text-align: center;
//     width: 1.35em;
//     height: 1.35em;
//     border: 1px solid $burntOrange;
//     cursor: pointer;
//     vertical-align: middle;

//     &.pag-first {
//         background: url(/assets/img/pagination-icons/first.gif) 50% 50% no-repeat #b64404;
//         &:hover { background: url(/assets/img/pagination-icons/first-hover.gif) 50% 50% no-repeat #b64404; }
//         &:disabled { background: url(/assets/img/pagination-icons/first-disable.gif) 50% 50% no-repeat #b64404 !important; }
//     }
//     &.pag-prev {
//         background: url(/assets/img/pagination-icons/prev.gif) 50% 50% no-repeat #b64404;
//         &:hover { background: url(/assets/img/pagination-icons/prev-hover.gif) 50% 50% no-repeat #b64404; }
//         &:disabled { background: url(/assets/img/pagination-icons/prev-disable.gif) 50% 50% no-repeat #b64404 !important; }
//     }
//     &.pag.pag-next {
//         background: url(/assets/img/pagination-icons/next.gif) 50% 50% no-repeat #b64404;
//         &:hover { background: url(/assets/img/pagination-icons/next-hover.gif) 50% 50% no-repeat #b64404; }
//         &:disabled { background: url(/assets/img/pagination-icons/next-disable.gif) 50% 50% no-repeat #b64404 !important; }
//     }
//     &.pag-last {
//         background: url(/assets/img/pagination-icons/last.gif) 50% 50% no-repeat #b64404;
//         &:hover { background: url(/assets/img/pagination-icons/last-hover.gif) 50% 50% no-repeat #b64404; }
//         &:disabled { background: url(/assets/img/pagination-icons/last-disable.gif) 50% 50% no-repeat #b64404 !important; }
//     }

//     &:disabled {
//         border: 1px solid #cecba5;
//         cursor: initial;
//     }
// }

.pag__index {
    display: inline-block;
    @media (max-width: $phone) {
        width: calc(100% - 6.6em);
    }

    & input {
        border: 1px solid $gray;
    }
}

.pag-wrap {
    display: inline-block;
    cursor: default;
}

.no-border{
    border: none !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}

.close-icon{
    cursor: pointer;
}

.dropdown{
    &.open .dropdown-menu{
        display: block;
    }
    .dropdown-menu .dropdown-item.disable{
        color: #A4A4A4;
    }
}