<div class="row">
    <!--<div class="col-sm-3">
        <h2 class="header-button" (click)="showFilters = !showFilters">Filters <i class="icon icon-direction absolute-right" [ngClass]="{ 'icon-down' : showFilters, 'icon-left' : !showFilters }"></i></h2>
    </div>-->
    <div class="col-sm-3 col-md-5 col-lg-6 mobile--hide">
        <li class="dropdown" class="sortlist" ngbDropdown>
            <button class="btn btn-link" id="sortdropdownMenu" ngbDropdownToggle>Sort: <span class="value">{{ activeSort.label ? activeSort.label : 'Relevance' }}</span></button>
            <div class="dropdown-menu" aria-labelledby="sortdropdownMenu">
                <button [ngClass]="{ 'disable': activeSort.index == '1' }" class="dropdown-item" (click)="changeSortOpt('1', 'Title')">Title</button>
                <button [ngClass]="{ 'disable': activeSort.index == '2' }" class="dropdown-item" (click)="changeSortOpt('2', 'Creator')">Creator</button>
                <button [ngClass]="{ 'disable': activeSort.index == '3' }" class="dropdown-item" (click)="changeSortOpt('3', 'Date')">Date</button>
                <button [ngClass]="{ 'disable': activeSort.index == '0' }" class="dropdown-item" (click)="changeSortOpt('0', 'Relevance')">Relevance</button>
            </div>
        </li>
        <!--<span class="active-sort">{{ activeSort.label }}</span>-->
        <li class="dropdown" class="pagesizelist" ngbDropdown>
            <button class="btn btn-link" id="pagesizedropdownMenu" ngbDropdownToggle>Images/page: <span class="value">{{ pagination.pageSize ? pagination.pageSize : '24' }}</span></button>
            <div class="dropdown-menu" aria-labelledby="pagesizedropdownMenu">
                <button [ngClass]="{ 'disable': pagination.pageSize == 24 }" class="dropdown-item" (click)="changePageSize(24)">24</button>
                <button [ngClass]="{ 'disable': pagination.pageSize == 48 }" class="dropdown-item" (click)="changePageSize(48)">48</button>
                <button [ngClass]="{ 'disable': pagination.pageSize == 72 }" class="dropdown-item" (click)="changePageSize(72)">72</button>
            </div>
        </li>

        <li class="editMode" (click)="toggleEditMode()" [ngClass]="{'active': editMode}">Edit Mode</li>
        <!--<span class="page-size">{{ pagination.pageSize }}</span>-->
    </div>
    <div class="col-sm-6 pag-controls">
        <div class="pag-wrap">
            <button class="pag pag-first" (click)="goToPage(1)" [disabled]="!pagination.currentPage || pagination.currentPage <= 1"></button>
            <button class="pag pag-prev" (click)="goToPage(pagination.currentPage - 1)" [disabled]="!pagination.currentPage || pagination.currentPage <= 1"></button>
        </div>
        <!--<span class="pag-info">Page</span>-->
        <div class="pag__index">
            <input type="number" min="1" (keypress)="pageNumberKeyPress($event)" [(ngModel)]="pagination.currentPage" (keyup.enter)="goToPage(pagination.currentPage)" />
            <span class="pag-info">of {{ pagination.totalPages }}</span>
        </div>
        <div class="pag-wrap">
            <button class="pag pag-next" (click)="goToPage(pagination.currentPage + 1)" [disabled]="!pagination.currentPage || pagination.currentPage >= pagination.totalPages"></button>
            <button class="pag pag-last" (click)="goToPage(pagination.totalPages)" [disabled]="!pagination.currentPage || pagination.currentPage >= pagination.totalPages"></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10">
        <div class="number-results" *ngIf="!isLoading">{{ totalAssets }}{{ totalAssets == 2000 ? '+' : '' }} results  <span *ngIf="searchTerm">for <span [innerHtml]="formatSearchTerm(searchTerm)"></span></span></div>
    </div>
</div>

<!--Thumbnail Grid-->
<div class="row row--no-overflow" [ngClass]="{'edit': editMode}">
    <div class="col-md-12 col--expanding has-icon-overlay" [ngClass]="{ 'col--expand-12' : !showFilters }">
        <i [hidden]="!isLoading" class="icon-lg icon-overlay icon-loading-large"></i>
        <div class="row no-gutters">
            <div *ngIf="!isLoading && (totalAssets == '0') && (!results || results.length < 1) && (searchError.length < 1)" class="alert alert-warning">
                <b>Unable to find any assets</b><br/>
                A less specific query might be able to find what you are looking for.
            </div>
            <div *ngIf="!isLoading && searchError.length > 0" class="alert alert-danger">
                {{ searchError }}
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2" *ngFor="let asset of results">
                <div class="card card--asset" [ngClass]="{'selected': ( isSelectedAsset(asset) > -1 ) }" (click)="selectAsset(asset)">
                    <ang-thumbnail [thumbnail]="asset"></ang-thumbnail>
                </div>
            </div> <!-- .col -->
        </div>
    </div>
</div>