<div class="row row--search-bar">
    <div class="col-md-5">
        <ang-search></ang-search>
    </div>
</div>
<div class="row">
    <!--<div class="col-sm-3">
        <h2 class="header-button" (click)="showFilters = !showFilters">Filters <i class="icon icon-direction absolute-right" [ngClass]="{ 'icon-down' : showFilters, 'icon-left' : !showFilters }"></i></h2>
    </div>-->
    <div class="col-sm-3 col-md-5 col-lg-6 mobile--hide">
        <li class="dropdown" class="sortlist" ngbDropdown>
            <button class="btn btn-link" id="sortdropdownMenu" ngbDropdownToggle>Sort: <span class="value">{{ activeSort.label ? activeSort.label : 'Relevance' }}</span></button>
            <div class="dropdown-menu" aria-labelledby="sortdropdownMenu">
                <button class="dropdown-item" (click)="changeSortOpt('1', 'Title')">Title</button>
                <button class="dropdown-item" (click)="changeSortOpt('2', 'Creator')">Creator</button>
                <button class="dropdown-item" (click)="changeSortOpt('3', 'Date')">Date</button>
                <button class="dropdown-item" (click)="changeSortOpt('0', 'Relevance')">Relevance</button>
            </div>
        </li>
        <!--<span class="active-sort">{{ activeSort.label }}</span>-->
        <li class="dropdown" class="pagesizelist" ngbDropdown>
            <button class="btn btn-link" id="pagesizedropdownMenu" ngbDropdownToggle>Images/page: <span class="value">{{ pagination.pageSize ? pagination.pageSize : '24' }}</span></button>
            <div class="dropdown-menu" aria-labelledby="pagesizedropdownMenu">
                <button class="dropdown-item" (click)="changePageSize(24)">24</button>
                <button class="dropdown-item" (click)="changePageSize(48)">48</button>
                <button class="dropdown-item" (click)="changePageSize(72)">72</button>
            </div>
        </li>

        <li class="editMode" (click)="editMode = !editMode; selectedAssets = [];" [ngClass]="{'active': editMode}">Edit Mode</li>
        <!--<span class="page-size">{{ pagination.pageSize }}</span>-->
    </div>
    <div class="col-sm-6 pag-controls">
        <div class="pag-wrap">
            <button class="pag pag-first" (click)="goToPage(1)" [disabled]="!pagination.currentPage || pagination.currentPage <= 1"></button>
            <button class="pag pag-prev" (click)="goToPage(pagination.currentPage - 1)" [disabled]="!pagination.currentPage || pagination.currentPage <= 1"></button>
        </div>
        <!--<span class="pag-info">Page</span>-->
        <input type="number" min="1" (keypress)="pageNumberKeyPress($event)" [(ngModel)]="pagination.currentPage" (keyup.enter)="goToPage(pagination.currentPage)" />
        <span class="pag-info">of {{ pagination.totalPages }}</span>
        <div class="pag-wrap">
            <button class="pag pag-next" (click)="goToPage(pagination.currentPage + 1)" [disabled]="!pagination.currentPage || pagination.currentPage >= pagination.totalPages"></button>
            <button class="pag pag-last" (click)="goToPage(pagination.totalPages)" [disabled]="!pagination.currentPage || pagination.currentPage >= pagination.totalPages"></button>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-10">
        <div class="number-results" *ngIf="!isLoading">{{ totalAssets }}{{ totalAssets == 2000 ? '+' : '' }} results  <span *ngIf="searchTerm">for <span [innerHtml]="formatSearchTerm(searchTerm)"></span></span></div>
    </div>
</div>

<!--Thumbnail Grid-->
<div class="row row--no-overflow" [ngClass]="{'edit': editMode}">
    <div class="col-md-12 col--expanding has-icon-overlay" [ngClass]="{ 'col--expand-12' : !showFilters }">
        <i [class.hidden]="!isLoading" class="icon-lg icon-overlay icon-loading-large"></i>
        <div class="row no-gutters">
            <div *ngIf="!isLoading && totalAssets == 0 && searchError.length < 1" class="alert alert-warning">
                <b>Unable to find any assets</b><br/>
                A less specific query might be able to find what you are looking for.
            </div>
            <div *ngIf="!isLoading && searchError.length > 0" class="alert alert-danger">
                {{ searchError }}
            </div>
            <div class="col-sm-6 col-md-3 col-lg-2" *ngFor="let asset of results">
                <div class="card card--asset" [ngClass]="{'selected': ( isSelectedAsset(asset) > -1 ) }" (click)="selectAsset(asset)">
                    <ang-thumbnail [thumbnail]="asset"></ang-thumbnail>
                </div>
            </div> <!-- .col -->
        </div>
    </div>
</div>

<div id="genImgURL" class="modal" [ngClass]="{'show': showgenImgURLModal }">
    <!-- Login Help Modal -->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close-icon" (click)="showgenImgURLModal = false">×</span>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <h1>Image URL</h1>
                    </div>
                    <div class="row pt-3 main-content">
                        <div class="col-sm-8">
                            <div class="asset-title" *ngIf="selectedAssets.length > 0" [innerHTML]="selectedAssets[0].thumbnail1"></div>
                            <div class="imgURL-gen-info">Copy the image URL or the HTML code to share this image with others at your institution.</div>
                            <div class="pt-3">
                                <input class="mr-2" type="radio" [(ngModel)]="genImgMode"  name="genImgMode" value="half">Half screen viewer
                                <input class="ml-2 mr-2" type="radio" [(ngModel)]="genImgMode"  name="genImgMode" value="full">Full screen viewer (no pop-up window)
                            </div>
                            <div class="pt-3">
                                <div class="pb-3">
                                    <div class="label">Image Viewer URL:</div>
                                    <div class="value" *ngIf="genImgMode == 'half'">
                                        <textarea id="copyURL" readonly>{{ baseURL + "/ViewImages?id=" + imgEncryptId + "&userId=" + usrEncryptId + "&zoomparams=" }}</textarea>
                                    </div>
                                    <div class="value" *ngIf="genImgMode == 'full'">
                                        <textarea id="copyURL" readonly>{{ baseURL + "/ViewImages?id=" + imgEncryptId + "&userId=" + usrEncryptId + "&zoomparams=&fs=true" }}</textarea>
                                    </div>
                                    <div class="copy-clipboard" (click)="copyTexttoClipBoard('copyURL')">Copy to Clipboard</div>
                                    <div class="copy-status-msg">{{ copyURLStatusMsg }}</div>
                                </div>
                                <div class="pb-3">
                                    <div class="label">Thumbnail hyperlink to the Image Viewer:</div>
                                    <div class="value" *ngIf="genImgMode == 'half'">
                                        <textarea id="copyHTML" readonly *ngIf="selectedAssets.length > 0">{{ '<a target="_blank" href="' + baseURL + '/ViewImages?id=' + imgEncryptId + '&userId=' + usrEncryptId + '&zoomparams=' + '"><img src="' + _assets.makeThumbUrl(selectedAssets[0].largeImgUrl, 0) + '"  alt="' + selectedAssets[0].thumbnail1 + '" title="' + selectedAssets[0].thumbnail1 + '" /></a>' }}</textarea>
                                    </div>
                                    <div class="value" *ngIf="genImgMode == 'full'">
                                        <textarea id="copyHTML" readonly *ngIf="selectedAssets.length > 0">{{ '<a target="_blank" href="' + baseURL + '/ViewImages?id=' + imgEncryptId + '&userId=' + usrEncryptId + '&zoomparams=&fs=true' + '"><img src="' + _assets.makeThumbUrl(selectedAssets[0].largeImgUrl, 0) + '"  alt="' + selectedAssets[0].thumbnail1 + '" title="' + selectedAssets[0].thumbnail1 + '" /></a>' }}</textarea>
                                    </div>
                                    <div class="copy-clipboard" (click)="copyTexttoClipBoard('copyHTML')">Copy to Clipboard</div>
                                    <div class="copy-status-msg">{{ copyHTMLStatusMsg }}</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img *ngIf="selectedAssets.length > 0" [attr.src]="_assets.makeThumbUrl(selectedAssets[0].largeImgUrl, 0)" alt="selectedAssets[0].thumbnail1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <a class="btn btn-link with-pad" href="javascript:window.open('http://support.artstor.org/','Artstor Support','width=600,height=500')">Help</a>
                    <button class="btn btn-primary" (click)="showgenImgURLModal = false">Close</button>
            </div>
        </div>
    </div>
</div>