@import '../../sass/core/variables';

.sortlist, .pagesizelist, .editMode, .number-results, .search-in-results, .selected-assets, .lrg-icon{
    list-style: none;
    display: inline-block;
}
.number-results, .search-in-results, .selected-assets, .lrg-icon{
    font-family: Verdana;
    line-height: 1.25;
    vertical-align: middle;
    font-size: 12px;
    padding: .5em 10px .5em 0;
}
.lrg-icon{
    color: #ddd;
    cursor: pointer;
    font-weight: 600;

    &.active{
        color: #000;
    }
}
.active-sort, .page-size{
    display: inline-block;
}
.filter-hdr a{
    color: #b64403;
}

.grid-tool-bar{
    padding-right: 0;
}
.grid-pagination-bar{
    padding: 0;
}

.pag__index {
    display: inline-block;
    @media (max-width: $phone) {
        width: calc(100% - 6.6em);
    }

    & input {
        border: 1px solid $gray;
    }
}

.pag-wrap {
    display: inline-block;
    cursor: default;
}

.no-border{
    border: none !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.close-icon{
    cursor: pointer;
}

.dropdown{
    &.open .dropdown-menu{
        display: block;
    }
    .dropdown-menu .dropdown-item.disable{
        color: #A4A4A4;
    }
}

.card--asset ang-thumbnail {
    height: 100%;
}

.btn-link{

    &.active {
        border-radius: 3px;
        background: #ccefcf;
    }

    .icon{
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin: 0 5px 0 0;
    }

    &:hover .icon-download-white{
        background-image: url("/assets/img/icon-download-black.svg");
    }

    &:hover .icon-export-white{
        background-image: url("/assets/img/icon-export-black.svg");
    }

    &.active .icon-select-white, &:hover .icon-select-white{
        background-image: url("/assets/img/icon-select-black.svg");
    }

    &.active .icon-reorder-white, &:hover .icon-reorder-white{
        background-image: url("/assets/img/icon-reorder-black.svg");
    }
}

.reorder-wrap.in-front {
    z-index: 6000;
    position: relative;
    min-width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 7px;
}

.reorder-shade {
    opacity: 0;
    transition: opacity linear 0.2s;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5500;
    background: rgba(0,0,0,0.05);
    pointer-events: none;

    &.fade-in {
        opacity: 1;
        pointer-events: all;
    }
}

.col--thumbnails {
    padding: 0;
}

.selection {
    .check {
        position: absolute;
        right: -1px;
        top: 0;
        z-index: 1;
        zoom: 1.5;
        -moz-transform: scale(1.5);
        -moz-transform-origin: 100% 0;
        cursor: pointer;

        &:focus{
            // visibility: visible !important;
            opacity: 1 !important;
        }
    }
    .check-mobile {
        position: absolute;
        right: -1px;
        top: 0;
        z-index: 1;
        height: 50px;
        width: 50px;
    }
    &:hover, &:focus {
      .check {
        //   visibility: visible !important;
          opacity: 1 !important;
      }
    }
}

.show-box {
  .check {
    // visibility: visible !important;
    opacity: 1 !important;
  }
}
