.form-group
  .input-group
    //- the .driver-find-inputbox class is important for the tour to find it, be careful when removing or changing it
    input#inputSearchTerm.form-control.has-icon.driver-find-inputbox([(ngModel)]="term", (keyup)="startSearch=false;", (keyup.enter)="conductSearch()", aria-describedby="search-label", type="text", placeholder="Search for groups by title or tag...", data-sc="search: simple keyword", tabindex="3")
    i#iconClearSearch.icon.icon-close.form-control__icon(*ngIf="term && !loadingGrps", (click)="term=''; startSearch=false; clearGrpSearch.emit()", placement="bottom", ngbTooltip="clear search", role="button", tabindex="3", (keyup.enter)="term=''; startSearch=false; clearGrpSearch.emit()", aria-label="Clear search")
    i#iconSearchSubmit.icon.icon-search.form-control__icon(*ngIf="!term", (click)="conductSearch()", role="button", tabindex="3", (keyup.enter)="conductSearch()", aria-label="Submit search")
  .alert.alert-warning#empty-search-alert([class.hidden]="term || !startSearch", tabindex="0", role="alert", aria-label="no search term alert") Please enter search term(s).
