<nav class="nav nav-inline browse-nav">
    <a class="label">Browse By:</a>
    <a class="nav-link" *ngFor="let browseOpt of browseMenuArray" [ngClass]="{'active': browseOpt.level == route.snapshot.params.view}" [routerLink]="['/browse', 'groups', browseOpt.level]" (click)="browseOpt.level === 'search' ? firstSearch = true : firstSearch = false">
        <div *ngIf="browseOpt.level !== 'all'">{{ browseOpt.label }}</div><!-- ngIf because we don't want 'all' showing in the top level menu -->
    </a>
</nav>
<div class="row">
    <div class="col-md-4 hidden-sm-down">
        <div *ngIf="route.snapshot.params.view == 'search'" id="searchFilterList" class="mb-3">
            <h3>Group Type Filter<a id="searchFilterClear" tabindex="" class="link--accent small" style="float:right;" (click)="setSearchLevel('none', true)">Clear</a></h3>
            <div *ngFor="let filter of browseMenuArray">
                <button *ngIf="filter.level !== 'search'" (click)="setSearchLevel(filter.level, true)" [class.active]="filter.selected" class="filter filter--tag" [attr.title]="'Filter by ' + filter.label + ' image groups'">{{ filter.label }}</button>
                <!--<i class="icon icon-add"></i>
                <i class="icon icon-close"></i>-->
            </div>
        </div>
        <ang-tags-list [browseLevel]="selectedBrowseLevel"></ang-tags-list>
    </div>
    <div class="col-md-8">
        <ang-general-search *ngIf="route.snapshot.params.view == 'search'" [updateSearchTerm]="updateSearchTerm" (executeSearch)="addQueryParams({ term: $event }, true)"></ang-general-search>
        <h3 class="pb-1 px-2">Groups
            <pagination [pageObj]="pagination" (goToPage)="goToPage($event)">
            </pagination>
        </h3>
        <div class="group-list has-icon-overlay px-2">
            <div *ngIf="errorObj[selectedBrowseLevel]" class="alert alert-warning" [innerHtml]="errorObj[selectedBrowseLevel]"></div>
            <div *ngIf="showSearchPrompt && route.snapshot.params.view == 'search'" class="alert alert-info">{{ 'BROWSE.ERRORS.SEARCH_PROMPT' | translate }}</div>
            <ang-tag *ngFor="let tag of tags" [tag]="tag" link="true"></ang-tag>
        </div>
    </div>
</div>
<div *ngIf="loading" class="row has-icon-overlay">
    <i class="icon-lg icon-overlay--top icon-loading-large"></i>
</div>
<!-- Don't show this if there is a filters list, if it's loading, or if the user hasn't searched for anything yet -->
<div *ngIf="_tagFilters.filters.length < 1 && !loading && route.snapshot.params.view !== 'search'" class="alert alert-info">
    <h3 translate>BROWSE.ERRORS.NO_GROUPS_COLLECTIONS_HEADING</h3><br/>
    <div *ngIf="selectedBrowseLevel === 'private'" [innerHtml]="'BROWSE.ERRORS.NO_PRIVATE_GROUPS_COLLECTIONS_PROMPT' | translate"></div>
    <div *ngIf="selectedBrowseLevel === 'institution'" [innerHtml]="'BROWSE.ERRORS.NO_INSTITUTIONAL_GROUPS_COLLECTIONS_PROMPT' | translate"></div>
</div>