.filter-list-wrap {
  background-color: #f9f9f9;
  // padding: 5px;
}

.filter-list {
  // background-color: lightgray;
  background-color: #f9f9f9;
  padding: 5px;
}

.group-filter {
  width: calc(100% + 10px);
  margin-left: -5px;
}