h3 Tags
  = " "
  a.contextual-help(title="How do I use tags?", href="http://support.artstor.org/?article=tags", target="_blank") ?
  a#groupTagsClear.link--accent.small(tabindex="", style="float:right;", (click)="_tagFilters.clearFilters();") Clear All
.filter.filter--tag(*ngFor="let tag of _tagFilters.filters.slice(0, 15)", (click)="tag.selected = !tag.selected", [class.active]="tag.selected")
  span.notranslate {{ tag.key }} ({{ tag.doc_count }})
  i.icon.icon-add
  i.icon.icon-close
.filter.filter--tag(*ngIf="!_tagFilters.showRemainTags && _tagFilters.filters.length>15", (click)="_tagFilters.showRemainTags=true") See all {{ _tagFilters.filters.length }} tags
ng-container(*ngIf="_tagFilters.showRemainTags")
  .filter.filter--tag(*ngFor="let tag of _tagFilters.filters.slice(15)", (click)="tag.selected = !tag.selected", [class.active]="tag.selected")
    span.notranslate {{ tag.key }} ({{ tag.doc_count }})
    i.icon.icon-add
    i.icon.icon-close