<div id="advancedModal" class="modal fade-in">
    <!-- Login Help Modal -->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1>{{ 'ADVANCED_SEARCH_MODAL.TITLE' | translate }}</h1>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <h3>{{ 'ADVANCED_SEARCH_MODAL.SEARCH_HEADING' | translate }}</h3>
                            <p class="small">{{ 'ADVANCED_SEARCH_MODAL.SEARCH_DESCRIPTION' | translate }}</p>
                            <div *ngFor="let query of advanceQueries; let i = index;" class="form-group">
                                <div id="advanceQueryGroup{{i + 1}}" class="input-group">
                                    <div ngbDropdown class="input-group-btn" *ngIf="i !== 0">
                                        <button id="advanceQueryOperator{{i + 1}}" ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle">
                                            {{ query.operator }}
                                        </button>
                                        <div class="dropdown-menu"  aria-labelledby="dropdown">
                                            <a class="dropdown-item" (click)="query.operator = 'AND'">{{ 'ADVANCED_SEARCH_MODAL.BOOLEAN_OPTIONS.AND' | translate }}</a>
                                            <a class="dropdown-item" (click)="query.operator = 'OR'">{{ 'ADVANCED_SEARCH_MODAL.BOOLEAN_OPTIONS.OR' | translate }}</a>
                                            <a class="dropdown-item" (click)="query.operator = 'NOT'">{{ 'ADVANCED_SEARCH_MODAL.BOOLEAN_OPTIONS.NOT' | translate }}</a>
                                        </div>
                                    </div>
                                    <input id="inputAdvanceQuery{{i + 1}}" [(ngModel)]="query.term" (change)="validateForm()" type="text" class="form-control">
                                     <!--(blur)="addNewQuery(query, i)"-->
                                    <div ngbDropdown class="input-group-btn">
                                        <button id="advanceQueryField{{i + 1}}" ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle">
                                            {{ query.field.name }}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="fieldDropdown">
                                            <a *ngFor="let field of fields" class="dropdown-item" (click)="query.field = field">{{ field.name }}</a>
                                        </div>
                                    </div>
                                    <button type="button" (click)="clearAdvanceQuery(i)" class="close">
                                        <span style="font-family:Aria, Arial, Helvetica;">&times;</span>
                                    </button>
                                </div>
                            </div>

                            <div class="form-group" *ngIf="advanceQueries.length < 10">
                                <button title="Add up to 10 field queries" class="btn btn-secondary" (click)="addAdvanceQuery()">Add Query</button>
                            </div>

                            <div class="form-group pt-3">
                                <h3>{{ 'ADVANCED_SEARCH_MODAL.DATE_HEADING' | translate }}</h3>
                                <p class="small">{{ 'ADVANCED_SEARCH_MODAL.DATE_DESCRIPTION' | translate }}</p>
                                <div class="form-card card dt-grp">
                                    <div class="date-filter-row">
                                        <input id="inputDateFilterStart" [(ngModel)]="advanceSearchDate['startDate']" (change)="validateForm()" type="number" (keypress)="dateKeyPress($event)" min="0" class="form-control" placeholder="Start Date">
                                        <div id="buttonDateFilterStartBCE" (click)="advanceSearchDate['startEra'] = 'BCE'" [ngClass]="{'active': advanceSearchDate['startEra'] == 'BCE' }" class="side-toggle-btn">BCE</div>
                                        <div id="buttonDateFilterStartCE" (click)="advanceSearchDate['startEra'] = 'CE'" [ngClass]="{'active': advanceSearchDate['startEra'] == 'CE' }" class="side-toggle-btn">CE</div>
                                    </div>
                                    <div class="date-filter-row">
                                        <input id="inputDateFilterEnd" [(ngModel)]="advanceSearchDate['endDate']" (change)="validateForm()" type="number" (keypress)="dateKeyPress($event)" min="0" class="form-control" placeholder="End Date">
                                        <div id="buttonDateFilterEndBCE" (click)="advanceSearchDate['endEra'] = 'BCE'" [ngClass]="{'active': advanceSearchDate['endEra'] == 'BCE' }" class="side-toggle-btn">BCE</div>
                                        <div id="buttonDateFilterEndCE" (click)="advanceSearchDate['endEra'] = 'CE'" [ngClass]="{'active': advanceSearchDate['endEra'] == 'CE' }" class="side-toggle-btn">CE</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h3>{{ 'ADVANCED_SEARCH_MODAL.FILTER_HEADING' | translate }}</h3>
                            <p class="small">{{ 'ADVANCED_SEARCH_MODAL.FILTER_DESCRIPTION' | translate }}</p>

                            <div *ngIf="loadingFilters" class="row has-icon-overlay">
                                <i class="icon-lg icon-overlay--top icon-loading-large" style="background-color:transparent;"></i>
                            </div>

                            <div class="form-group" *ngFor="let filterGroup of availableFilters">
                                <div *ngIf="filterGroup.name">
                                    <label>{{ "FILTERS." + filterGroup.name | translate }}</label>
                                    <div class="form-card card">
                                        <ul class="list-group list-group-flush compact">
                                            <li *ngFor="let filter of filterGroup.values" class="list-group-item">
                                                <label class="custom-control custom-checkbox">
                                                    <input (click)="toggleFilter(filterGroup.name == 'geography' ? filter.efq : filter.name, filterGroup.name)" type="checkbox" class="custom-control-input">
                                                    <span class="custom-control-indicator"></span>
                                                    <span class="custom-control-description">
                                                        <span *ngIf="filter.name && filter.name.length < 2">{{ filterNameMap['collectiontypes'] && filterNameMap['collectiontypes'][filter.name] | translate }} ({{filter.count}})</span>
                                                        <span *ngIf="filter.name && filter.name.length > 1">{{ filter.name }} ({{filter.count}})</span>
                                                    </span>
                                                </label>
                                                <ul *ngIf="filter.children" class="list-group list-group-child">
                                                    <li class="list-group-item" *ngFor="let child of filter.children">
                                                        <label class="custom-control custom-checkbox">
                                                            <input (click)="toggleFilter(filterGroup.name == 'geography' ? child.efq : child.name, filterGroup.name)" type="checkbox" class="custom-control-input">
                                                            <span class="custom-control-indicator"></span>
                                                            <span class="custom-control-description">
                                                                <span *ngIf="child.name && child.name.length < 2">{{ filterNameMap['collectiontypes'] && filterNameMap['collectiontypes'][child.name] | translate }} ({{child.count}})</span>
                                                                <span *ngIf="child.name && child.name.length > 1">{{ child.name }} ({{child.count}})</span>
                                                            </span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!--ngIf filter group-->

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <div *ngIf="error.empty" class="alert alert-warning" [innerHtml]="'ADVANCED_SEARCH_MODAL.ERRORS.EMPTY_SEARCH' | translate"></div>
                    <div *ngIf="error.date" class="alert alert-warning" [innerHtml]="'ADVANCED_SEARCH_MODAL.ERRORS.DUMB_DATE' | translate"></div>
                    <a class="btn btn-link with-pad" tabindex="1" (click)="openHelp()">{{ 'ADVANCED_SEARCH_MODAL.BUTTONS.HELP' | translate }}</a>
                    <button class="btn btn-secondary" (click)="resetFilters()">{{ 'ADVANCED_SEARCH_MODAL.BUTTONS.CLEAR' | translate }}</button>
                    <button (click)="applyAllFilters()" class="btn btn-primary" data-sc="search: advanced query">{{ 'ADVANCED_SEARCH_MODAL.BUTTONS.SEARCH' | translate }}</button>
            </div>
        </div>
    </div>
</div>
