<div id="advancedModal" class="modal fade-in">
    <!-- Login Help Modal -->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Advanced Search</h1>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <h3>Search for words or phrases</h3>
                            <p>You can enter multiple words and use quotes to indicate exact search terms (e.g., fresco, "costume design").</p>
                        </div>
                    <!--</div>
                    <div class="row">-->
                        <div class="col-12 pb-3">
                            <div class="form-group">
                            <div class="input-group">
                                    <input type="text" class="form-control">
                                    <div ngbDropdown class="input-group-btn">
                                        <button id="fieldDropdown" ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle">
                                            in any field
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="fieldDropdown">
                                            <a *ngFor="let field of fields" class="dropdown-item">{{ field.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngFor="let query of advanceQueries" class="form-group">
                            <div class="input-group">
                                <div ngbDropdown class="input-group-btn">
                                        <button id="dropdown" ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle">
                                            AND
                                        </button>
                                        <div class="dropdown-menu"  aria-labelledby="dropdown">
                                            <a class="dropdown-item" href="#">AND</a>
                                            <a class="dropdown-item" href="#">OR</a>
                                            <a class="dropdown-item" href="#">NOT</a>
                                        </div>
                                    </div>
                                    <input [ngModel]="query.term" type="text" class="form-control">
                                    <div ngbDropdown class="input-group-btn">
                                        <button id="fieldDropdown" ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle">
                                            in any field
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="fieldDropdown">
                                            <a *ngFor="let field of fields" class="dropdown-item">{{ field.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-secondary" (click)="advanceQueries.push(advQueryTemplate)">Add Query</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <h3>Search by geography, classification, and/or collections</h3>
                            <p>You can narrow your search results by filtering on both the Geography and Classification areas.</p>
                            <div class="form-group">
                                <label>Geography</label>
                                <div class="form-card card">
                                    <ul class="list-group list-group-flush compact">
                                        <li *ngFor="let field of geographyFields" class="list-group-item">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">{{ field.name }}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Classification</label>
                            </div>
                            <div class="form-group">
                                <label>Collection</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <a class="btn btn-link with-pad" href="javascript:window.open('http://support.artstor.org/?article=advanced-search','Advanced Search Support','width=600,height=500')">Help</a>
                    <button class="btn btn-secondary" (click)="showAdvancedModal = false">!Clear</button>
                    <button class="btn btn-primary">!Search</button>
            </div>
        </div>
    </div>
</div>