<div id="advancedModal" class="modal fade-in">
    <!-- Login Help Modal -->
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Advanced Search</h1>
                <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-6">
                            <h3>Search for words or phrases</h3>
                            <p class="small">You can enter multiple words and use quotes to indicate exact search terms (e.g., fresco, "costume design").</p>
                            <div *ngFor="let query of advanceQueries; let i = index;" class="form-group">
                                <div class="input-group">
                                    <div ngbDropdown class="input-group-btn" *ngIf="i !== 0">
                                        <button id="dropdown" ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle">
                                            {{ query.operator }}
                                        </button>
                                        <div class="dropdown-menu"  aria-labelledby="dropdown">
                                            <a class="dropdown-item" (click)="query.operator = 'AND'">AND</a>
                                            <a class="dropdown-item" (click)="query.operator = 'OR'">OR</a>
                                            <a class="dropdown-item" (click)="query.operator = 'NOT'">NOT</a>
                                        </div>
                                    </div>
                                    <input [(ngModel)]="query.term" type="text" class="form-control" (blur)="addNewQuery(query, i)">
                                    <div ngbDropdown class="input-group-btn">
                                        <button id="fieldDropdown" ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle">
                                            {{ query.field.name }}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="fieldDropdown">
                                            <a *ngFor="let field of fields" class="dropdown-item" (click)="query.field = field">{{ field.name }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <button class="btn btn-secondary" (click)="advanceQueries.push(advQueryTemplate)">Add Query</button>
                            </div>

                            <div class="form-group pt-3">
                                <h3>Date</h3>
                                <p class="small">Enter a year or range (numbers only) to limit your search.</p>
                                <div class="form-card card dt-grp">
                                    <div class="date-filter-row">
                                        <input id="inputDateFilterStart" [(ngModel)]="advanceSearchDate['startDate']" type="number" (keypress)="dateKeyPress($event)" min="0" class="form-control" placeholder="Start Date">
                                        <div id="buttonDateFilterStartEra" class="toggle-btn" (click)="toggleEra('startEra')">{{ advanceSearchDate['startEra'] }}</div>
                                    </div>
                                    <div class="date-filter-row">
                                        <input id="inputDateFilterEnd" [(ngModel)]="advanceSearchDate['endDate']" type="number" (keypress)="dateKeyPress($event)" min="0" class="form-control" placeholder="End Date">
                                        <div id="buttonDateFilterEndEra" class="toggle-btn" (click)="toggleEra('endEra')">{{ advanceSearchDate['endEra'] }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <h3>Search by geography, classification, and/or collections</h3>
                            <p class="small">You can narrow your search results by filtering on both the Geography and Classification areas.</p>
                            <div class="form-group" *ngIf="termsList.geoTree && (termsList.geoTree.length > 0)">
                                <label>Geography</label>
                                <div class="form-card card">
                                    <ul class="list-group list-group-flush compact">
                                        <li *ngFor="let geoNode of termsList.geography" (click)="toggleFilter(geoNode.id, 'geography')" class="list-group-item">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">{{ geoNode.name }}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group" *ngIf="termsList.classification && (termsList.classification.length > 0)">
                                <label>Classification</label>
                                <div class="form-card card">
                                    <ul class="list-group list-group-flush compact">
                                        <li *ngFor="let clsNode of termsList.classification" (click)="toggleFilter(clsNode.id, 'classification')" class="list-group-item">
                                            <label class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">{{ clsNode.name }}</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group" >
                                <label>Collection</label>
                                <div class="form-card card">
                                    <ul class="list-group list-group-flush compact">
                                        <li *ngFor="let colTop of colTree"  class="list-group-item">
                                            <label (click)="toggleFilter(colTop.id, 'coll')" class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input">
                                                <span class="custom-control-indicator"></span>
                                                <span class="custom-control-description">{{ colTop.name }}</span>
                                            </label>
                                            <ul *ngIf="colTop.collections.length > 0">
                                                <li *ngFor="let colChild of colTop.collections" (click)="toggleFilter(colChild.collectionid, 'coll')" class="list-group-item">
                                                    <label class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input">
                                                        <span class="custom-control-indicator"></span>
                                                        <span class="custom-control-description">{{ colChild.collectionname }}</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--end second column-->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <a class="btn btn-link with-pad" href="javascript:window.open('http://support.artstor.org/?article=advanced-search','Advanced Search Support','width=600,height=500')">Help</a>
                    <button class="btn btn-secondary" (click)="resetFilters()">Clear</button>
                    <button (click)="applyAllFilters()" class="btn btn-primary">Search</button>
            </div>
        </div>
    </div>
</div>