.modal{
    display: block;

    .dropdown{
        &.open .dropdown-menu{
            display: block;
        }
        .dropdown-item.active, .dropdown-item:active{
            background-color: #f7f7f9;
        }
    }

    .list-group{
        .list-group-item{
            padding-left: 10px;
            min-height: 23px;
            line-height: 22px;
            position: relative;
            display: block;
            background:transparent
        }
    }

    .dt-grp{

        display: block;

        .date-filter-row{
            margin: 8px;
            display: inline-flex;
            width: 75%;

            input[type="number"]{
                width: 52%;
                display: inline-block;
            }

            .toggle-btn{
                display: inline-block;
                width: 35%;
                padding: 0.5rem 0.75rem;
                font-size: 1rem;
                line-height: 1.25;
                border-top: 1px solid rgba(0, 0, 0, 0.15);
                border-right: 1px solid rgba(0, 0, 0, 0.15);
                border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                text-align: center;
                cursor: pointer;
                background: #f1f1f1;
            }

            .toggle-btn:hover{
                background: #fff;
            }

            .btn{
                width: 50%;
                cursor: pointer;
                color: #373a3c;
                border: 1px solid rgba(0, 0, 0, 0.15);
            }

            .btn:hover{
                background: #373a3c;
                color: #fff;
            }

            .btn:nth-of-type(2){
                margin-left: -5px;
                border-left: none;
            }
        }
    }
    .date-filter-error-msg{
        line-height: 20px;
        margin-bottom: 10px;
        color: red;
        font-size: .75em;
    }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

.list-group-item ul {
    padding-left: 15px;
}

.custom-control {
    margin-bottom: 0;
}

.custom-control-description {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}
.input-group{

    button.close{
        margin-left: 10px;
        margin-top: 7px;
        font-size: 15px;
        border-radius: 10px;
        border: 1px solid;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.list-group {
    display: block;
}

.list-group-child, .form-card .list-group-child {
    max-height: none !important;
    overflow: visible;
    display: block;
}

button {
  height: auto;
}
