@import '../../../sass/core/variables';

.modal-dialog {
    margin: auto;
    height: 100%;
    display: flex;

    &.large {
        max-width: 800px !important;

        .detail-preview {
            background-color: $color-gray-1;
            border-right: 1px solid $color-border-gray;
            display: flex;
            border-top-left-radius: 0.3rem;
            border-bottom-left-radius: 0.3rem;

            .preview-cntnr {
                margin: auto;
                position: relative;
                
                img {
                    max-width: 352px;
                    max-height: 260px;
                    margin: auto;
                    display: block;
                }

                .icon{
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 8px;
                    left: 8px;
                }
            }
        }
    }

    .modal-content{
        margin: auto;
    }

    .modal-body, .modal-footer {
        background-color: $color-white;
    }

    .modal-header {
        border-bottom: 1px solid $color-border-gray;
    }

    .modal-footer {
        box-shadow: 0 -1px 8px 0 rgba(0, 0, 0, 0.15);
        justify-content: space-between !important;
        margin-top: 5px;
        border-bottom-left-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;

        .wrapper {
            display: inline-flex;

            .help-link {
                border-radius: 50%;
                width: 22px;
                height: 22px;
                line-height: 22px;
                text-align: center;
                vertical-align: middle;
                display: inline-block;
                cursor: pointer;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 600;
                color: $color-white !important;
                background-color: #999;

                &:hover {
                    background-color: #fafafa;
                    color: #999 !important;
                }
            }

            .link {
                font-family: Verdana;
                font-size: 12px;
                font-weight: 600;
                line-height: 22px;
            }

            button.disabled-btn {
                opacity: 0.5;
                pointer-events: none;
            }
        }
    }

    .modal-body {
        padding: 0px;

        .search-cntnr {
            padding: 24px;
            margin: 0px;
            transition: all 0.3s ease-in-out;

            &.shadow{
                box-shadow: 0 2px 3px rgba(0,0,0,.15) !important;
            }

            .icon-clear{
                width: 16px;
                height: 16px;
            }
        }

        .scroll-cntnr {
            height: 340px;
            overflow: auto;
            padding: 5px 0px;

            .recent-groups {
                padding-bottom: 24px;
            }

            .recent-groups, .all-my-groups{
                .hdr{
                    padding: 0px 24px 16px 24px;
                }
                label {
                    font-size: 14px;
                    margin: 0px;
                }

                .no-result-row{
                    padding: 8px 24px;

                    .no-result-msg{
                        position: absolute;
                        top: 43%;
                        left: 12%;
                        right: 12%;
                        font-size: 17.5px;
                        font-family: Verdana;
                        text-align: center;
                        line-height: 24.5px;
                        color: #333333;
                    }
                }

                .row{
                    padding: 8px 24px;
                    cursor: pointer;
                    transition: all 250ms ease;
                    border-left: 6px solid transparent;

                    &.selectedGroup {
                        border-left: 6px solid $orange;
                        background-color: rgba(232, 232, 232, 0.6);

                        .title{
                            font-weight: 700;
                        }
                    }

                    .ig-thmbnail-wrapper{
                        width: 70px;
                        height: 50px;
                        display: flex;
                        background-color: $color-gray-3;

                        img{
                            max-width: 70px;
                            max-height: 50px;
                            margin: auto;
                            opacity: 0;
                            transition: opacity 300ms ease-in;

                            &.loaded{
                                opacity: 1;
                            }
                        }
                    }

                    .title{
                        line-height: 50px;
                        padding-left: 5px;
                        padding-right: 8px;
                        font-family: Verdana;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    &:hover{
                        background-color: rgba(232, 232, 232, 0.6);
                    }
                }
                
                .loading-dots {
                    text-align: center;
                    padding: 8px 0px;

                    .dot {
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        border-radius: 5px;
                        opacity: 0;
                        -webkit-animation: showHideDot 2.5s ease-in-out infinite;
                        animation: showHideDot 2.5s ease-in-out infinite;
                        background-color: $orange;
                        margin: 0px 2px;

                        &:nth-child(1) { animation-delay: 0.2s; }
                        &:nth-child(2) { animation-delay: 0.4s; }
                        &:nth-child(3) { animation-delay: 0.6s; }
                    }

                    @keyframes showHideDot {
                        0% { opacity: 0; }
                        50% { opacity: 1; }
                        60% { opacity: 1; }
                        100% { opacity: 0; }
                    }
                }
            }
        }
    }
}