<div class="modal fade show">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 translate class="modal-title">ADD_TO_GROUP_MODAL.TITLE</h5>
        <button (click)="closeModal.emit()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #igForm="ngForm" (ngSubmit)="submitGroupUpdate(igForm)">
        <div class="modal-body">
          <div class="form-group" [class.has-success]="serviceResponse.success" [class.has-danger]="serviceResponse.failure">
            <label translate for="selectImageGroup">ADD_TO_GROUP_MODAL.SELECT_PROMPT</label>
            
            <ng2-completer [(ngModel)]="group" name="imageGroup" [datasource]="dataService" [minSearchLength]="0" [openOnFocus]="true" [textSearching]="'Searching Groups...'"></ng2-completer>

            <!--<select required [ngModel]="selectedIg" name="imageGroup" id="selectImageGroup" class="form-control custom-select" tabindex="0">
              <option [ngValue]="null" [innerHtml]=""></option>
              <option *ngFor="let group of groups" [ngValue]="group" [innerHtml]="group.name"></option>
            </select>-->
            <div *ngIf="serviceResponse.success" translate class="form-control-feedback">ADD_TO_GROUP_MODAL.ADD_SUCCESS</div>
            <div *ngIf="serviceResponse.failure" translate class="form-control-feedback">ADD_TO_GROUP_MODAL.ADD_FAILURE</div>
          </div>
          <div *ngIf="showCreateGroup" (click)="createGroup.emit()" class="link">Create a new image group with asset</div>
        </div>
        <div class="modal-footer">
          <div *ngIf="!serviceResponse.success" class="form-group">
            <a translate class="btn btn-link with-pad" href="http://support.artstor.org/?article=create-and-manage-image-groups" target="_blank">ADD_TO_GROUP_MODAL.CONTROLS.HELP</a>
            <button translate type="submit" class="btn btn-primary">ADD_TO_GROUP_MODAL.CONTROLS.SAVE</button>
            <button translate (click)="closeModal.emit()" type="button" class="btn btn-secondary" data-dismiss="modal">ADD_TO_GROUP_MODAL.CONTROLS.CLOSE</button>
          </div>
          <div *ngIf="serviceResponse.success" class="form-group">
            <a translate class="btn btn-link with-pad" href="http://support.artstor.org/?article=create-and-manage-image-groups" target="_blank">ADD_TO_GROUP_MODAL.CONTROLS.HELP</a>
            <button translate (click)="closeModal.emit()" [routerLink]="['/group', selectedIg.id]" type="button" class="btn btn-primary">ADD_TO_GROUP_MODAL.CONTROLS.NAV_TO_GROUP</button>
            <button translate (click)="closeModal.emit()" type="button" class="btn btn-secondary">ADD_TO_GROUP_MODAL.CONTROLS.RETURN_TO_RESULTS</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>