.modal.fade-in(tabindex="0")
  .modal-dialog(role="dialog", (keydown.esc)="hideModal($event)")
    .modal-content
      .modal-header
        h4.modal-title#ig-download-title(tabindex="0", (keydown.shift.tab)="hideModal($event)") {{ 'IMAGE_GROUP_PAGE.TERMS_AND_CONDITIONS.TITLE' | translate }}
        button.close#ig-modal-close((click)="hideModal($event)", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        div([innerHtml]="'IMAGE_GROUP_PAGE.TERMS_AND_CONDITIONS.TEXT' | translate")
        //- We may need a different alert
        .alert.alert-danger(*ngIf="!(isLoading || zipLoading || downloadLink || zipDownloadLink) && error && ig.total>100", style="margin:0;", [innerHtml]="'IMAGE_GROUP_PAGE.TERMS_AND_CONDITIONS.DOWNLOAD_ERROR_BIG' | translate")
        .alert.alert-danger(*ngIf="!(isLoading || zipLoading || downloadLink || zipDownloadLink) && error && ig.total<=100", style="margin:0;", [innerHtml]="'IMAGE_GROUP_PAGE.TERMS_AND_CONDITIONS.DOWNLOAD_ERROR_SMALL' | translate")
      .modal-footer
        button#generatePowerpointLink.btn.btn-primary(*ngIf="!downloadLink  && !isLoading", (click)="termAgreed($event)", aria-label="Request Powerpoint") I Agree