
.nav-menu {
    padding: 0 15px;
}


// Navigation Items

$dropdownMenuHeight: 60px;

.navbar-light {
    background: #fff;
}

.navbar {
    // border:none;
    // display: block;
    height: $dropdownMenuHeight;
    // padding: ($dropdownMenuHeight - 20px)/2 0;

    & li.dropdown {
        line-height: 20px;
    }
}

.nav-container {
    padding-left: 0px;
    padding-right: 0px;
}

// .dropdown-menu {
//     display: block;
// }