<div [class.show]="!mobileCollapsed" class="cover"></div>
<div class="container nav-container">
    <!--<div class="row">-->
    <nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
    <button (click)="this.mobileCollapsed = !this.mobileCollapsed" [class.collapsed]="mobileCollapsed" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <div [class.show]="!mobileCollapsed" class="navbar-collapse collapse" id="navMenu">
                <ul class="nav navbar-nav">
                    <li class="nav-item"> 
                        <a class="btn btn-link" [routerLink]="['/home']" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item" ngbDropdown>
                        <button class="btn btn-link" id="dropdownMenu1" ngbDropdownToggle>Browse</button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <button class="dropdown-item" [routerLink]="['/browse', 'library']">Artstor Collections</button>
                            <button class="dropdown-item" [routerLink]="['/browse', 'institution']">Institutional Collections</button>
                            <button class="dropdown-item" [routerLink]="['/browse', 'commons']">Open Collections</button>
                            <button class="dropdown-item" [routerLink]="['/browse', 'mycollections']">My Collections</button>
                            <button class="dropdown-item" [routerLink]="['/browse', 'groups']">Image Groups</button>
                        </div>
                    </li>
                    <li class="nav-item" ngbDropdown>
                        <button class="btn btn-link" id="organizeMenu" ngbDropdownToggle>Organize</button>
                        <div class="dropdown-menu" aria-labelledby="organizeMenu">
                            <!--Amber <button class="dropdown-item">!Manage Folders and Groups</button>
                            <div class="dropdown-divider"></div>-->
                            <!--Active on Image Group Page-->
                            <!--Future slide sorter function <button class="dropdown-item">!View All</button>-->
                            <button (click)="selectAllInAssetGrid()" class="dropdown-item">Select All</button>
                            <button [class.disabled]="selectedAssets.length < 1" (click)="copyIG = false; editIG = false; showImageGroupModal = true;" class="dropdown-item">Save Selections to > New Image Group</button>
                            <button [class.disabled]="selectedAssets.length < 1" (click)="showAddToGroupModal = true;" class="dropdown-item">Save Selections to > Existing Image Group</button>
                            <button *ngIf="params['igId']" [class.disabled]="selectedAssets.length < 1 || !allowIgUpdate" (click)="deleteSelectedAssets()" class="dropdown-item">Delete Selections from Image Group</button>
                            <button [class.disabled]="selectedAssets.length < 1" (click)="_assets.setSelectedAssets([])" class="dropdown-item">Deselect All</button>
                            <div class="dropdown-divider"></div>

                            <!--Active on Image Group Page-->
                            <button class="dropdown-item">!Save Image Group</button>
                            <button [disabled]="!actionOptions.group || disableIgDelete" (click)="editIG = true; copyIG = false; showImageGroupModal = true;" class="dropdown-item">Edit Image Group</button>
                            <button [disabled]="!actionOptions.group" (click)="copyIG = true; editIG = false; showImageGroupModal = true;" class="dropdown-item">Save Image Group as...</button>
                            <button [disabled]="!actionOptions.group || !allowIgUpdate" (click)="deleteIgModal = true" class="dropdown-item">Delete Image Group</button>                 

                            <!--Amber <div class="dropdown-divider"></div>-->
                            <!--Amber <button class="dropdown-item">!Manage Personal Collection</button>-->
                            <!--Amber <button class="dropdown-item">!Upload to Personal Collection</button>-->
                        </div>
                    </li>
                    <li class="nav-item" ngbDropdown>
                        <button class="btn btn-link" id="shareMenu" ngbDropdownToggle>Share</button>
                        <div class="dropdown-menu" aria-labelledby="shareMenu">
                            <button [class.disabled]="selectedAssets.length !== 1" class="dropdown-item" (click)="showShareLinkModal = true">Generate Image Link</button>
                            <!--Active on Image Group Page-->
                            <button class="dropdown-item">!Generate Image Group Link</button>
                            <!--Active on Image Group Page-->
                            <button class="dropdown-item" [disabled]="!actionOptions.group" (click)="printImageGroupPage()">Print Image Group</button>
                            <!--Active on Image Group Page-->
                            <button *ngIf="params['igId']" (click)="_ig.triggerIgDownload()" class="dropdown-item">Download Image Group</button>
                            <!--Amber<div class="dropdown-divider"></div>-->
                            <!--Active on Image Group Page-->
                            <!--Amber <button class="dropdown-item">!Copy Citations for Image Group</button>-->
                            <!--Amber <button class="dropdown-item">!Copy Citations for Selection</button>-->
                        </div>
                    </li>
                    <!--Amber
                    <li class="nav-item" ngbDropdown>
                        <button class="btn btn-link" id="viewMenu" ngbDropdownToggle>View</button>
                        <div class="dropdown-menu" aria-labelledby="viewMenu">
                            <button class="dropdown-item">!Small Thumbnails</button>
                            <button class="dropdown-item">!Large Thumbnails</button>
                        </div>
                    </li>-->
                    <li class="nav-item" >
                        <a class="btn btn-link" id="viewMenu" href="//support.artstor.org" target="_blank">Support</a>
                    </li>
                </ul>
    </div>
    </nav>
    <!--</div>-->
</div>
<ang-delete-ig-modal *ngIf="deleteIgModal" (closeModal)="deleteIgModal = false" [igId]="route.snapshot.params.igId" [igName]="route.snapshot.params.name"></ang-delete-ig-modal>
<ang-new-ig-modal *ngIf="showImageGroupModal" [copyIG]="copyIG" [editIG]="editIG" [ig]="ig" (igReloadTriggered)="reloadIG()" (closeModal)="showImageGroupModal = false"></ang-new-ig-modal>
<ang-share-link-modal *ngIf="showShareLinkModal" [asset]="selectedAssets[0]" (closeModal)="showShareLinkModal = false"></ang-share-link-modal>
<ang-add-to-group *ngIf="showAddToGroupModal" (closeModal)="showAddToGroupModal = false"></ang-add-to-group>