
// Navigation Items
$dropdownShadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
$dropdownMenuHeight: 60px;

.navbar-light {
    background: #fff;
}

.nav {
    z-index: 2000;
    background-color: #fff;
    background-clip: padding-box;
}

.navbar {
    // border:none;
    // display: block;
    height: $dropdownMenuHeight;
    // padding: ($dropdownMenuHeight - 20px)/2 0;

    & li.dropdown {
        line-height: 20px;
    }
}

.nav-container {
    padding-left: 0px;
    padding-right: 0px;
}

.navbar-collapse {
    padding-top: 40px;
    position: absolute;
    left: 0;
    width: 80%;

    max-height: 0px;
    transition: max-height 0.3s linear;

    &.show {
        max-height: auto;
    }

    @media (min-width: 768px) {
        padding-top: 0;
        width: 60%;
    }
}

.nav-item {
    margin: 6px;

    & > button, a {
        font-size: larger;
    }

    // handles hovering on non-mobile
    &:hover > .dropdown-menu {
        @media (min-width: 768px) {
            display: block;
        }
    }

    &.open > .dropdown-menu {
        display: flex;
        flex-direction: column;
    }
}

.dropdown-menu {
    border: none;
    box-shadow: none;

    @media (min-width: 768px) {
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
    }
}

.navbar-toggleable-sm {
    @media (min-width: 768px) {
        flex-direction: column;
    }
}

.cover {
    background-color: rgba(114, 114, 114, 0.5);
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5000;
}

.navbar-toggler-icon {
    z-index: 10000;
}