/*styles for login content only*/



body {
	font-family: vendera, sans-serif;  
	font-size:90%;   
	// background: url('/images/global/g-nav-bg.jpg') repeat-x 0px 0px white;
}
	
div#wrap{
	width:1000px;
	position:relative;
	margin-left:auto; 
	margin-right:auto;
	
}
#main-content{
	margin-top:50px; 
	margin-left:-60px; 
	float:left;

}
div#aboveNav{
	float:left;
	width:100%;

	height:82px;

	margin:0 2px 0 2px; 
	
	
}
/*****************************Help Button******************/

div#help{
	float:right;
	width:38px;
	height:24px;
	margin-top:22px;
	font-size:.75em;
	background: url("images/g-help-btn-on.jpg") no-repeat 0 50% ;
	
}
div#help:hover{
	cursor:pointer;
}
/*********************************************/
div#icon {
	background: url("images/g-artstor-logo.gif") no-repeat 0 50% ;
	width:246px;
	/*border: 2px solid white;*/
	
	
	height:24px;
	float:left;
	
	margin-top:22px;
}
div#icon:hover {
	cursor:pointer;
}
#column-one{
	float: left;
	
	width: 400px;
	height:170px;
	margin-left:140px;
	margin-right:30px;
	background-color:#EDECDF;
}
#column-two{
	float: left;
	height:240px;
	width: 385px;
	
}
p.header {
	font-size:1.1em;
	color:#4F5557;
	font-weight:bold;
	padding:17px 17px 8px 17px;

}
p.header.header2{
	
	padding:0px .3em;

}
p.text{
	font-size:.75em;
	margin:1em .5em;
	line-height:14px;

}
img{
	border: 0;
}

a, a:link, a:active{
	color: #B64404;
	text-decoration: none;
}

a:hover, a:visited{
	color: #B64404;
	text-decoration: underline;
}




div#logonButton{
	float:left;
	/*margin:-1.4em 0px 0px 16.6em;*/
	/*margin:-16px 0px 0px 258px;*/
	width:75px;
	height:35px;
	margin-top: 16px;
	/*margin-left:4px;*/
	font-size: .75em;
	background: url('images/l-login-btn.jpg') repeat-x 0px 0px transparent
}
div#logonButton:hover{
	cursor:pointer;

}
div#logonForgetPW{
	float:left;
	width: 183px;
	font-size:.75em;
	margin-left: 116px;
	margin-top: 8px;
	color: #B64404;
}
div#logonForgetPW:hover{
	text-decoration:underline;
	cursor:pointer;
}
#logonErrorMsg {
	height: 15px;
	width:265px;
	color:red;
	font-size:.75em;
	margin-left: 117px;
	padding-top:0px;
	padding-bottom: 2px;
	

}
div.logonEntry {
	float:left;
	margin-top:2px;
	margin-left:16px;
	font-size:.75em;
	font-weight:bold;
	width:92px;
	text-align:right;
	margin-right:8px;
	padding-bottom: 8px;
}
#logonPW {
	padding-bottom: 0px;

}
/*input {
	float:left;
	display:block;
	font-size: .79em;
	border: 1px solid #B7B17E;
	width:250px;
	
	
	height:1.3em;
	font-family:Verdana;

}*/

#logonBott {
	margin-top:8px;


}
#logonBott p{
	padding-left:0px;


}
#logonUserArea .darkText2.bold{
	font-weight:bold;


}
div.clearFix{
	clear:both;
	
}



/***********************Dialog Box *******************/
.dialogBorder {
	float:left;
	
	height: 24px; 
	/*width: 60em;*/
	border-bottom: 1px solid #D5D1AF;
	/*background: url(dialogBorder.gif) repeat-x #C1CEC7;*/
	background:url("rlogin/css/g-nav-bg.jpg") repeat-x scroll 0 80% #FFFFFF;
	
}

.dialogLogo {
	float:left;
	display:inline;
	height:24px;
	width:24px;
	background: url(dialogLogoTransp.gif) no-repeat ;
}
.dialogTitle {
	float:left;
	
}
.dialogClose {
	float:right;
	height:24px;
	width:48px;
	display:inline;
	background: url(dialogCloseButtGold.gif) no-repeat ;
}

.dialogClose:hover {
	cursor:pointer;
}
div.dialogHeading {
	margin-top:20px;
	margin-left:20px;
	font-size:1em;
	color: #4F5557;
	font-weight:bold;
	width:100%; 
	float:left;
	
	
}
div.dialogHeading span{
	font-weight:normal;
}
#conSavePer {
	font-weight:bold;
}
div#PWDialog {
	width:33em; 
	overflow-y:hidden;
	overflow-x:hidden;
	height:auto;
}

div#conSaveCommBorder, div#conSaveCommHead , div#conSaveCommContent, div#conSaveCommContent0, div#conSaveCommContent1{
	width:100%; 
	float:left;
	
	
}
div#conSaveCommContent{
	margin-bottom:.6em;
}
div#conSaveCommHead, div#conSaveCommHead0{
	width:30.5em; 
	
	padding-bottom:15px;
	border-bottom:1px solid white;
	margin-left:17px;
	margin-right:17px;
	
	margin-bottom:.4em;
}
div#conSaveCommNo {
	width:5em;
}

div#conSaveCommYes{
	float:left;
	margin:.35em 0 0 20px;
	width: 5em;
	display:inline;
	line-height:1.5;
}
div#conSaveCommCont{
	float:left;
	margin:.35em 0 0 20px;
	width: 7em;
	display:inline;
	line-height:1.5;
}
div#conSaveCommGo{
	float:left;
	margin:.35em 0 0 20px;
	width: 5em;
	display:inline;
	line-height:1.5;
}
div#conSaveCommOK{
	float:left;
	margin:.35em 0 0 20px;
	width: 5em;
	display:inline;
	line-height:1.5;
}
div#conSaveCommNo{
	float:left;
	width: 5em;
	margin:.35em 0px 0px 12px;
	display:inline;
	line-height:1.5;
}
div.conSaveCommButts {
	margin:0px;
	margin-top:1.1em;
	height: 2.1em;
	padding-top: .2em;
	float:left;
	
	width:100%;
	border-top: 1px solid #D5D1AF;
	/*background-color:#EDECDF;*/
	background:url("rlogin/css/g-nav-bg.jpg") repeat-x scroll 0 94% #FFFFFF;


}
.dijitDialogPaneContent {
	/*background-color: #E3E9E7;*/
	background-color:#EDECDF;
	border-bottom: 0px solid #B7B17E;
	

}

div#conSaveCommContent div.lineHead{
	margin-left:17px;
	margin-top:6px;
	margin-bottom:5px;
	margin-right:12px;
	font-size:.76em;
	font-weight:bold;
	color:#4f5557;
}
div#conSaveCommContent1 div.lineHead{
	margin: 20px 0 15px 0;
	font-size:.76em;
	font-weight:bold;
	color:#4f5557;
	text-align:center;
}
div#conSaveCommContent0 div.lineHead{
	margin-left:17px;
	margin-top:6px;
	margin-bottom:5px;
	margin-right:12px;
	font-size:.76em;
	/*font-weight:bold;*/
	color:#4f5557;
}
.dijitDialog {
	position: absolute;
	z-index: 999;
	
	background : #e3e9e7;
	border: 1px solid #D5D1AF;
}

.dijitDialogUnderlayWrapper {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 998;
	display: none;
	background: transparent;
}

.dijitDialogUnderlay {
	background: #eeeeee;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	
}
p#emailPW {
	position:static;
	color:#4F5557;
	margin-left:17px;
	font-size:.75em;
	float:left;
	font-weight:bold;
	width:8.6em;
	margin-top:2px;
}
#emailError {
	color:#ff0000;
	/*margin:3px 10px 0px 13px;*/
	
	margin-left:112px;
	margin-bottom:3px;
	width:30em;
	font-size:.75em;

}
input#emailAddPW {
	position:static;
	font-size: .8em;
	float:left;
} 
/************Button Styles*******/
div.jbutton {		
	text-decoration:none;
	border-width:1px;
	
	border-style:solid;
	
	border-color: #b64404;
	background-color:white;
	text-align:center;
	width:3.5em;
	
	line-height:1.7;
	
	color:white;
	font-weight:400;
	font-size:.76em;
	display:block;
	font-weight: bold;
}
div.jbutton.jbuttG {		
	border-color: #879d8a;

}
div.jbutton div.jbuttonG:hover, div.jbutton div.jbuttonY:hover, div.jbutton div.jbuttonR:hover, div.jbutton div.jbuttonSec:hover{
	cursor:pointer;
	/*background-color:#FAB050;*/
	
	border-color: #ffffff;

}
div.jbutton div.jbuttonG{
	
	border:1px solid #bfcdc7;
	background-color:#879d8a;
	/*color:white;*/

}
div.jbutton div.jbuttonY {
	
	/*background-color: #989373;*/
	background-color: #B7B17E;
	
	
	border:1px solid #ccc9b9;
}
div.jbutton.jbuttY {
	
	/*border-color: #989373;*/
	border-color: #B7B17E;
	
}
div.jbutton div.jbuttonR {
	background-color: #b64404;
	border:1px solid #d26e36;
	
}
div.jbutton.jbuttR {
	border-color: #b64404;
	
}
div.jbutton div.jbuttonSec {
	border:1px solid #8e9d96;
	background-color:#bfcdc7;
	color:#4f5557;
}
div.jbutton.jbuttSec {
	border-color: #bfcdc7;
	
}
/**************Wait Icon*******************/
div#genWait {
	position:absolute;
	top:-10000px;
	width:50px;
	
	height:50px;
	z-index:10000;
	left:-10000px;
	
	background: url(aero_busy.gif) no-repeat transparent;
	
}




/* Pwd Reset Modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(238, 238, 238, 0.5);
}

.modal.show{
	display: block !important;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close-icon {
    color: rgba(192, 183, 130, 0.6);
    float: right;

	font-size: 22px;
    height: 30px;
    line-height: 32px;
}

.close-icon:hover,
.close-icon:focus {
    color: rgba(192, 183, 130, 1);
    text-decoration: none;
    cursor: pointer;
}


.modal-header {
	padding: 2px 16px;
    background-color: #e4e3d1;
    border-bottom: 1px solid #d5d1af;
    color: white;
}

.modal-body {
	padding: 15px 20px;
    background: #edecdf;
}
.modal-body .body-hdr{
	padding-bottom: 15px;
    border-bottom: 1px solid white;
    font-size: 14px;
    font-weight: bold;
    color: #4F5557;
    /*letter-spacing: 0.2px;*/
}
.modal-body .body-txt{
	margin: 6px 0px 8px 0px;
    font-size: 13px;
    font-weight: bold;
    color: #4f5557;
}
.pwd-reset-cntnr{
	/*padding-bottom: 20px;*/
}
.pwd-reset-cntnr span{
	color: #4F5557;
    font-size: .75em;
    font-weight: bold;
    width: 8.6em;
    margin-top: 5px;
}
.pwd-reset-cntnr input[type="text"]{
	font-size: .8em;
    border: 1px solid #B7B17E;
    width: 250px;
    height: 1.3em;
    font-family: Verdana;
    margin-left: 10px;
}
.submit-cntnr{
	border-top: 1px solid #D5D1AF;
    padding: 10px 20px;
    background: #edecdf;
}
.submit-cntnr .btn{
	padding: 3px 5px;
    line-height: 1;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.btn.sub-btn{
	background-color: #b64404;
    border: 1px solid #d26e36;
}
.btn.cncl-btn{
	background-color: #B7B17E;
    border: 1px solid #ccc9b9;
}
.pwd-rst-error-msg{
	font-size: 13px;
    height: 15px;
    line-height: 15px;
    padding-bottom: 20px;
    color: #fe0000;
}
.modal-body .success-msg{
	font-size: 14px;
    font-weight: bold;
    color: #4F5557;
}