@import '../../sass/core/variables';

/*styles for login content only*/

.expire-pwd div:nth-of-type(2){
    margin: 6px 0 12px;
    font-size: 13px;
    color: #4f5557;
}

.login-errorMsg{
    // height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    color: red;
    font-size: .75em;
}

.custom-select {
    margin: 0 0 10px;
}