<div class="container main-content">
        <div class="row">
            <div class="col-sm-6">
                <!-- login box -->
                <p class="header">Log in with your Artstor Account</p>

                <!--<div id="logonErrorMsg">&nbsp;</div>-->
                <!--<div id="logonEmail" class="logonEntry darkText2 bold">Email address</div> -->
                <!--<input [(ngModel)]="user.username" id="logonEmailInp" type="text" size="35" tabindex="0" />-->
                <form (ngSubmit)="login(user)">
                    <div class="form-group">
                        <label for="loginEmail">Email Address</label>
                        <input [(ngModel)]="user.username" name="username" id="loginEmail" type="text" class="form-control" placeholder="Username" tabindex="1" />
                    </div>
                    <div class="form-group">
                        <label for="loginPassword">Password</label>
                        <input [(ngModel)]="user.password" name="password" id="loginPassword" type="password" class="form-control" placeholder="Password" tabindex="2" />
                    </div>   
                    <span> {{ errorMsg }} </span>
                    <div class="form-group">
                        <button class="btn btn-default" type="submit" name="action" tabindex="3">Log in</button>
                    </div>
                </form>
                
                <div class="clearFix"></div>
                <div id="logonForgetPW" class="linkSmall" (click)="showPwdResetModal()">Forgot your password?</div>
                <div id="logonButton" tabindex="58"></div>


            </div>

            <div class="col-sm-6">
                 <p class="header">Log in through your Institution</p>
                 <div class="form-group">
                    <select class="form-control" tabindex="3" [(ngModel)]="loginInst">
                        <option *ngFor="let inst of loginInstitutions" [ngValue]="inst">{{ inst.name }}</option>
                    </select>
                 </div>
                 <div class="form-group">
                    <button (click)="goToInstLogin()" class="btn btn-default" type="submit" name="action" tabindex="4">Log in</button>
                </div>
            </div>


            <div class="col-sm-12">
                <p class="header header2">How do I register?</p>

                <p class="text">To access the images in the Artstor Digital Library you need to be affiliated with a participating institution (university, college, museum, public library or K-12 school). </p>
                <p class="text">Please check a current list of Artstor <a href="http://www.artstor.org/interested-in-participation/i-html/current-participants.shtml" target="_blank">Participants</a> to see if you have access.</p>
                <p class="text">If you are at a participating institution, <a href="http://www.artstor.org/using-artstor/u-html/remote-access.shtml" target="_blank">learn more about accessing Artstor remotely</a></p>

                <p class="text">If you are at a non-participating institution and are interested in getting access to Artstor for your institution, you can learn more about <a href="http://www.artstor.org/interested-in-participation/i-html/becoming-participant.shtml"
                        target="_blank">Becoming a Participant</a> or contact <a href="mailto:participation@artstor.org" target="_blank">Artstor Library Relations.</a></p>
            </div>
        </div>
</div><!--.container-->

<div id="pwd-modal" class="modal" [ngClass]="{'show': showPwdModal}"> <!-- Pwd Reset Modal -->
    <div class="modal-content">
        <div class="modal-header">
            <img id="dialog-logo" src="/assets/img/dialogLogoTransp.gif" />
            <span class="close-icon" (click)="hidePwdResetModal()">×</span>
        </div>
        <div class="modal-body">
            <div *ngIf="!successMsgPwdRst">
                <div class="body-hdr">Forgot your password?</div>
                <div class="body-txt">Enter the email address that you used when registering.</div>
                <div class="pwd-reset-cntnr">
                    <span>Email Address:</span>
                    <input type="text" [(ngModel)]="pwdRstEmail" />
                </div>
                <div class="pwd-rst-error-msg">{{ errorMsgPwdRst }}</div>
            </div>
            <div *ngIf="successMsgPwdRst">
                <div class="success-msg"> {{ successMsgPwdRst }} </div>
            </div>
        </div>
        <div class="submit-cntnr">
            <div *ngIf="!successMsgPwdRst">
                <button class="sub-btn btn" (click)="sendResetPwdRequest()">Submit</button>
                <button class="cncl-btn btn" (click)="hidePwdResetModal()">Cancel</button>
            </div>
            <div *ngIf="successMsgPwdRst">
                <button class="sub-btn btn" (click)="hidePwdResetModal()">Ok</button>
            </div>
        </div>
    </div>
</div>