<div class="container main-content">
    <div class="row">
        <div class="col-sm-6">
            <div class="card card--light">
                <div class="card-header">
                    <h1 translate id="loginHeading">LOGIN.LOGIN_HEADING</h1>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="login(user)">
                        <div class="form-group">
                            <label for="loginEmail">Email Address</label>
                            <input id="inputLoginEmail" [(ngModel)]="user.username" name="username" type="text" class="form-control" placeholder="Username" tabindex="1" />
                        </div>
                        <div class="form-group">
                            <label for="loginPassword">Password</label>
                            <input id="inputLoginPassword" [(ngModel)]="user.password" name="password" type="password" class="form-control" placeholder="Password" tabindex="2" />
                            <div id="errorMsg" *ngIf="errorMsg" class="login-errorMsg"> {{ errorMsg | translate }} </div>
                        </div>
                        <p>By using Artstor Digital Library, I agree to the <a id="linkTermsAndConditions" href="http://www.artstor.org/terms" tabindex="0" class="link">Terms</a></p>
                        <div class="form-group">
                            <button id="btnLoginRemote" class="btn btn-primary" [class.loading]="loginLoading" type="submit" name="action" tabindex="3">Log in</button>
                        </div>
                    </form>

                    <a id="linkLoginResetModal" tabindex="4" class="link" (click)="showPwdResetModal()">Forgot password?</a>
                    <br/>
                    <div *ngIf="showRegister">
                        <a [routerLink]="['/register']" tabindex="5" class="link">Not Registered?</a>
                        <br/>
                    </div>
                    <a tabindex="6" class="link">! Login Help</a>
                </div>
                <div class="block-right">
                    <a tabindex="7" class="link" (click)="toggleAccessHelpModal()">How do I get access?</a>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card card--v-pad">
                <div class="card-header">
                    <h1 translate id="institutionHeading">LOGIN.INSTITUTION_HEADING</h1>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label>Select your institution's name</label>
                        <select id="selectLoginInstitution" class="form-control custom-select" tabindex="8" [(ngModel)]="loginInst">
                            <option [ngValue]="" class="placeholder" selected="true">Select an institution...</option>
                            <option *ngFor="let inst of loginInstitutions" [ngValue]="inst" [innerHtml]="inst.name"></option>
                        </select>
                        <div *ngIf="instErrorMsg" class="login-errorMsg"> {{ instErrorMsg }} </div>
                        <p translate class="small">LOGIN.INSTITUTION_LIST_INFO</p>
                    </div>
                    <div class="form-group">
                        <button id="btnLoginProxy" (click)="goToInstLogin()" class="btn btn-primary" type="submit" name="action" tabindex="9">Log in</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--.container-->

<div id="helpModal" class="modal" [ngClass]="{'show': showHelpModal }">
    <!-- Login Help Modal -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 translate>ACCESS_HELP_MODAL.HEADING</h5>
                <button (click)="toggleAccessHelpModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div [innerHtml]="'ACCESS_HELP_MODAL.PROMPT' | translate" class="modal-body">
            </div>
            <div class="modal-footer">
                    <button id="btnLoginDismissHelp" class="btn btn-primary" (click)="toggleAccessHelpModal()">Ok</button>
            </div>
        </div>
    </div>
</div>

<div id="pwd-modal" class="modal" [ngClass]="{'show': showPwdModal}">
    <!-- Pwd Reset Modal -->
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Password Reset</h5>
                <button (click)="hidePwdModal()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="pwdReset">
                    <p>Enter the email address that you used when registering.</p>
                    <div class="form-group" [ngClass]="{ 'has-danger' : errorMsgPwdRst }">
                        <label>Email Address:</label>
                        <input id="inputLoginResetEmail" class="form-control" type="text" [(ngModel)]="pwdRstEmail" />
                        <div id="msgLoginResetError" *ngIf="errorMsgPwdRst" class="form-control-feedback">{{ errorMsgPwdRst }}</div>
                    </div>
                </div>
                <div *ngIf="successMsgPwdRst" class="has-success"> {{ successMsgPwdRst }} </div>
                <div *ngIf="expirePwd" class="has-danger">
                    <p class="form-control-feedback">Remote login was unsuccessful! Your 120 day access period expired.</p>
                    <p class="form-control-feedback">To restart your 120-day timer, log in to your Artstor account while within your institution's network.</p>
                </div>
            </div>
            <div class="modal-footer">
                <div *ngIf="pwdReset">
                    <button id="btnLoginCancelReset" class="btn btn-secondary" (click)="hidePwdModal()">Cancel</button>
                    <button id="btnLoginSubmitReset" class="btn btn-primary" (click)="sendResetPwdRequest()">Submit</button>
                </div>
                <div *ngIf="successMsgPwdRst || expirePwd">
                    <button id="btnLoginDismissReset" class="btn btn-primary" (click)="hidePwdModal()">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>