<nav-menu></nav-menu>
<div class="container main-content">
    <div class="row">
        <div class="col-sm-12">
            <h3 id="pageType">Browse Collection</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <h1 id="pageTitle">{{ colName }}</h1>
            <p id="pageDescription" [innerHtml]="colDescription"></p>
            
        </div>
        <div *ngIf="colThumbnail.length > 0" class="col-sm-3 ">
            <div class="thumbnail-shelf">
                <img class="collection-thumb" src="http://viewer2.artstor.org/{{ colThumbnail }}" />
            </div>
        </div>
    </div>
    <ang-asset-grid [assetCount]="assetCount"></ang-asset-grid>
</div>