<nav-menu></nav-menu>
<div class="container main-content">
    <div class="row no-gutters row--search-bar">
        <div class="col-md-5">
        <ang-search></ang-search>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
            <h3 id="pageType">Browse Collection</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <h1 id="pageTitle">{{ colName }}</h1>
            <p #colDesc id="pageDescription" class="page__description" [innerHtml]="colDescription" [class.limit]="descCollapsed"></p>
            <div [class.hidden]="colDesc.clientHeight < 75" (click)="descCollapsed = !descCollapsed" class="expander link--action small" [innerHtml]="descCollapsed ? 'More' : 'Less'" role="button">More</div>
        </div>
        <div *ngIf="colThumbnail.length > 0" class="col-sm-3 ">
            <div class="thumbnail-shelf">
                <img class="collection-thumb" src="http://viewer2.artstor.org/{{ colThumbnail }}" />
            </div>
        </div>
    </div>
    <ang-asset-grid [actionOptions]="{collection: true}" [assetCount]="assetCount"></ang-asset-grid>

    <!--<div id="accessDeniedModal" class="modal" [ngClass]="{'show': showaccessDeniedModal }">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row hdr">
                            <h1>Resource is unavailable</h1>
                        </div>
                        <div class="row pt-3 main-content">
                            Sorry, you do not have access to the requested resource. Please access Artstor from a subscribing institution or login remotely.
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                        <button class="btn btn-primary" (click)="resourceAccessDenied()">Return to Home</button>
                </div>
            </div>
        </div>
    </div>-->
    <ang-access-denied-modal *ngIf="showaccessDeniedModal"></ang-access-denied-modal>
</div>