<div class="container main-content">
  <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card card--light">
          <div class="card-header">
            <h1>Your Artstor Account</h1>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label>Email Address</label>
              <p class="form-control-static">{{ user.username }}</p>
            </div>
            <!--<div class="form-group">
              <label class="col-form-label">Access</label>
              <p class="form-control-static">Provided by: {{ institutionObj.institutionName }}</p>
            </div>-->

            <!--Change Password Form-->
            <form id="changePasswordForm" [formGroup]="passForm" (ngSubmit)="changePass(passForm.value)">
              <div class="form-group" [class.has-danger]="submitted && passForm.controls['oldPass'].hasError('required')">
                <label translate for="inputOldPassword">ACCOUNT.CHANGE_PASS.LABELS.OLD_PASS</label>
                <input [formControl]="passForm.controls['oldPass']" type="password" class="form-control" id="inputOldPassword">
                <div id="msgOldPassRequired" translate *ngIf="submitted && passForm.controls['oldPass'].hasError('required')" class="form-control-feedback">
                  ACCOUNT.CHANGE_PASS.OLD_PASS_REQUIRED
                </div>
              </div>
              <div class="form-group" [class.has-danger]="submitted && passForm.controls['newPass'].hasError('required')" [class.has-warning]="passForm.controls['newPass'].dirty && passForm.controls['newPass'].hasError('required') || passForm.controls['newPass'].hasError('minlength')">
                <label translate for="inputNewPassword">ACCOUNT.CHANGE_PASS.LABELS.NEW_PASS</label>
                <input [formControl]="passForm.controls['newPass']" type="password" class="form-control" id="inputNewPassword">
                <div id="msgNewPassMinLength" translate *ngIf="passForm.controls['newPass'].dirty && passForm.controls['newPass'].hasError('required') || passForm.controls['newPass'].hasError('minlength')" class="form-control-feedback">
                  ACCOUNT.CHANGE_PASS.MIN_LENGTH_PROMPT
                </div>
                <div id="msgNewPassRequired" translate *ngIf="submitted && passForm.controls['newPass'].hasError('required')" class="form-control-feedback">
                  ACCOUNT.CHANGE_PASS.NEW_PASS_REQUIRED
                </div>
              </div>
              <div class="form-group" [class.has-danger]="submitted && passForm.controls['newPassConfirm'].hasError('required')" [class.has-warning]="passForm.hasError('passwordMismatch')">
                <label translate for="inputOldPassword">ACCOUNT.CHANGE_PASS.LABELS.NEW_PASS_CONFIRM</label>
                <input [formControl]="passForm.controls['newPassConfirm']" type="password" class="form-control" id="inputNewPasswordConfirm">
                <div id="msgPassConfirmError" translate *ngIf="passForm.hasError('passwordMismatch')" class="form-control-feedback">
                  ACCOUNT.CHANGE_PASS.PASS_CONFIRM_ERROR
                </div>
              </div>
              <div class="form-group" [class.has-danger]="serviceResponses.generalError || serviceResponses.wrongPass" [class.has-success]="serviceResponses.success">
                  <button id="btnSubmitChangePassword" class="btn btn-primary" [class.loading]="changePassLoading" type="submit" name="action">
                    Update
                  </button>
                <div translate *ngIf="serviceResponses.success" class="form-control-feedback">
                  ACCOUNT.CHANGE_PASS.CHANGE_SUCCESS
                </div>
                <div translate *ngIf="serviceResponses.generalError" class="form-control-feedback">
                  ACCOUNT.CHANGE_PASS.GENERAL_ERROR
                </div>
                <div translate *ngIf="serviceResponses.wrongPass" class="form-control-feedback">
                  ACCOUNT.CHANGE_PASS.WRONG_PASS_ERROR
                </div>
              </div>
            </form>
            <br />
            <a class="link" href="http://support.artstor.org/?article=user-preferences">Account Help</a>
          </div><!-- End .card-body -->
        </div><!-- End .card -->
      </div>
  </div>
</div>