.container.main-content
  .row
    .col-md-8.offset-md-2
      #mainContent.card.card--light
        .card-header
          h1 Your Artstor Account
        .card-body
          .form-group
            label Email Address
            p.form-control-static {{ user.username }}
          a.link((click)="showChangePassModal = true", tabindex="1") Change Password
          br
          a.link(href="http://support.artstor.org/?article=user-preferences", target="_blank") Account Help
ang-change-password-modal(*ngIf="showChangePassModal", (closeModal)="showChangePassModal = false")