.container.main-content
  .row
    .col-md-8.offset-md-2
      #mainContent.card.card--light
        .card-header
          h1 Your Artstor Account
        .card-body
          .form-group
            label Email Address
            p.form-control-static {{ user.username }}
          form#accountUpdateForm([formGroup]="accountUpdateForm", (ngSubmit)="submitAccountUpdate(accountUpdateForm)")
            .form-group
              label(for="inputFirstName") {{ 'ACCOUNT.UPDATE_FORM.FIRST_NAME' | translate }}
              input#inputFirstName.form-control([formControl]="accountUpdateForm.controls['firstName']", type="text", tabindex="0")
            .form-group
              label(for="inputLastName") {{ 'ACCOUNT.UPDATE_FORM.LAST_NAME' | translate }}
              input#inputLastName.form-control([formControl]="accountUpdateForm.controls['lastName']", type="text", tabindex="0")
            .form-group
              label(for="selectUserDept") {{ 'ACCOUNT.UPDATE_FORM.ROLE' | translate }}
              select#selectUserRole.form-control.custom-select([formControl]="accountUpdateForm.controls['role']", tabindex="0")
                option(*ngFor="let role of userRoles", [ngValue]="role.id") {{ role.desc }}
            .form-group
              label(for="selectUserDept") {{ 'ACCOUNT.UPDATE_FORM.DEPARTMENT' | translate }}
              select#selectUserDept.form-control.custom-select([formControl]="accountUpdateForm.controls['dept']", tabindex="0")
                option(*ngFor="let dept of userDepts", [ngValue]="dept.id") {{ dept.desc }}
          a.link((click)="showChangePassModal = true", tabindex="1") {{ 'ACCOUNT.CHANGE_PASSWORD_LINK' | translate }}
          br
          a.link(href="http://support.artstor.org/?article=user-preferences", target="_blank") {{ 'ACCOUNT.ACCOUNT_HELP_LINK' | translate }}
ang-change-password-modal(*ngIf="showChangePassModal", (closeModal)="showChangePassModal = false")