#mainContent.container(tabindex="0")
  .row
    .col-1.col-md-3
    .col-10.col-md-6
      .card.card--light
        .card-header
          h1#loginHeading {{ copyBase + 'LOGIN.REG_LOGIN.HEADING' | translate }}
        .card-body
          ang-login-form
          a#linkLoginResetModal((click)="showPwdModal = true" tabindex="0" class="link" data-automation-component="artstor-pw-reset-link") {{ 'LOGIN.REG_LOGIN.FORGOT_PW_PROMPT' | translate }}
          br
          div(*ngIf="showRegister")
            a.link([routerLink]="['/register']") {{ 'LOGIN.REGISTER_PROMPT' | translate }}
            br
          a.link([attr.href]="'LOGIN.REG_LOGIN.LOGIN_HELP_LINK' | translate" target="_blank" data-automation-component="artstor-login-help-link") {{ 'LOGIN.REG_LOGIN.LOGIN_HELP_PROMPT' | translate }}
        .block-right
          a.link((click)="showHelpModal = true" tabindex="0" data-automation-component="artstor-access-help-link") {{ 'LOGIN.ACCESS_PROMPT' | translate }}
#helpModal.modal([ngClass]="{'show': showHelpModal }")
  .modal-dialog
    .modal-content
      .modal-header
        h5 {{ 'ACCESS_HELP_MODAL.HEADING' | translate }}
        button.close((click)="showHelpModal = false" type="button")
          span(aria-hidden="true") &times;
      .modal-body([innerHtml]="'ACCESS_HELP_MODAL.PROMPT' | translate")
      .modal-footer
        button#btnLoginDismissHelp.btn.btn-primary((click)="showHelpModal = false") {{ 'ACCESS_HELP_MODAL.DISMISS' | translate }}