$blue: #0039c6;
.start-tour {
    // margin-top: 0.5em;
    // margin-left: -1em;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background-color: #C9510D;
    color: #fff !important;
  
    &:hover{
      background: darken(#C9510D, 10%);
      color: #fff !important;
    }
  }
