<!-- BEGIN Optimal Workshop Intercept Snippet -->
div#owInviteSnippet(style='position:fixed;right:20px;bottom:20px;width:280px;padding:20px;margin:0;border-radius:6px;background:#333333;color:#EEEEEE;text-align:left;z-index:2200000000;opacity:0;transition:opacity 500ms;-webkit-transition:opacity 500ms;display:none;')
    p#owInviteMessage(style='padding:0;margin:0 0 20px 0;font-size:16px;') Got a spare 5 minutes to help us improve our website?
    a#owInviteOk(href='https://ithaka.optimalworkshop.com/optimalsort/wa708h4c?tag=intercept&utm_medium=intercept', target='_blank', style='color:#7DB6EE;font-size:16px;font-weight:bold;text-decoration:underline;') I'll do it
    a#owInviteCancel(href='javascript:void(0)', onclick='this.parentNode.style.display="none";', style='color:#EEEEEE;font-size:14px;text-decoration:underline;float:right;') No thanks
<!-- END Optimal Workshop snippet -->