.prompt-box
  .row
    .col-sm-9
      b More Images to Research and Discover
      div.asset-title Search across more than 2 million images in the Artstor Digital Library.
      a(href='/#/login') Log in through your institution to begin
    .col-sm-3
      .mobile--hide
        .row
          .col-sm-4
            img#promptImg1(src="/assets/img/prompt-img1.jpg")
          .col-sm-4
            img#promptImg2(src="/assets/img/prompt-img2.jpg")
          .col-sm-4
            img#promptImg3(src="/assets/img/prompt-img3.jpg")