.prompt-box
  .row
    .col-sm-9
      div(style="margin-bottom:10px;margin-top:3px;")
        b#promptHeader Not finding what you want?
      div(style="margin-bottom:2px;")
        p#promptText These are images in public collections. There's more content available for participating institutions.
      div
        a(href='/#/login', (click)="trackUnaffiliatedInstLogin()") Log in through your institution to begin
    .col-sm-3
      .mobile--hide
        .row
          .col-sm-4
            img#promptImg1(src="/assets/img/prompt-img1.jpg")
          .col-sm-4
            img#promptImg2(src="/assets/img/question-mark.png")
          .col-sm-4
            img#promptImg3(src="/assets/img/prompt-img3.jpg")