@import '../../../sass/core/variables';


.prompt-box {
    box-shadow: 2px 2px 7px 0 #000000;
    opacity: 80%;
    padding: 0.8rem;
    border-radius: 3px;
    font-size: 0.9rem;
    line-height: 120%;

    a:link,
    a:visited,
    a:focus {
        color:#0039c6;
        text-decoration:underline;
        font-size: 0.9rem;
    }

    #promptImg1 {
        position: relative;
        height: 4.5rem;
        margin-bottom: -8.5rem;
        margin-top: -5rem;
    }

    #promptImg2 {
        position: relative;
        right: 2.5rem;
        height: 9rem;
        margin-top: -10.5rem;
        margin-bottom: -11.5rem;
        z-index: 2;
    }

    #promptImg3 {
        position: relative;
        right: 2.5rem;
        height: 6.5rem;
        margin-top: -11rem;
        margin-bottom: -12.5rem;
    }

    
    .col-sm-9{
        padding: 0;
        padding-right: 10px;
        div {
            text-align: right;

            #promptHeader {
                font-family: Verdana;
                font-size: 16px;
                color: #E21C28;
                margin-bottom: 10px;
            }

            #promptText {
                font-family: Verdana;
                font-size: 12.6px;
                margin-bottom: 2px;
            }
        }
    }
    

    
}

  