@import '../../../sass/core/variables';
@import '../../../sass/core/typography';

.page-input {
    padding: 0.4rem;
    margin-left: -1px;
    line-height: 1.25;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 40px;
    text-align:center;
    z-index:1;
    position: relative;

    // Hide increment arrows on Firefox
    -moz-appearance:textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    &:hover, &:focus {
        outline: none;
        background: #fafafa;
        border-color: $red;
    }
}
// .pag-controls{
//     text-align: right;
//     @media (max-width: $phone) {
//         text-align: center;
//     }
// }
// .pag-controls input{
//     font-size: 13px;
//     height: 1.75em;
//     width: 4.5em;
//     margin: 0px 5px;
//     text-align: center;
// }
// .pag-controls input:hover{
//     // border: 1px solid #b64404;
// }
// .pag-controls input:focus{
//     // border: 1px solid #b64404;
//     outline: none;
// }
.page-input, .page-info {
    font-size: 13px;
}
.page-input, .page-info, .page-link {
    @extend %SansRegular;
    font-weight: normal;
}


button.page-link {
    cursor: pointer;
    color: $red;
    background: transparent; //#f7f7f7;
    border-color: transparent;
    // vertical alignment adjustment
    // border-color: transparent;
    border-radius: 0 !important;
    padding: 0.35rem 0.4rem;
    white-space: nowrap;
    // Better arrow characters
    font-family: 'Aria', Helvetica, sans-serif;

    &:hover {
        background: #f8f8f8;
    }

    &:disabled {
        pointer-events: none;
        color: #cdcdcd !important;
    }

    &:active, &:focus {
        outline: none;
        box-shadow: none;
    }
}

.page-info{
    white-space: nowrap;
    color: #666;
    vertical-align: middle;
    padding: 0.5rem 4px 0.5rem 0;
    border-bottom: 1px solid transparent;
}

.right {
  float: right;
}
