<div class="modal fade-in">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" translate>LOGIN_REQUIRED_MODAL.HEADING</h4>
        <button type="button" class="close" (click)="closeModal.emit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p [innerHtml]="'LOGIN_REQUIRED_MODAL.PROMPT' | translate"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal.emit()">Cancel</button>
        <!--<button type="button" class="btn btn-secondary" (click)="closeModal.emit()">Cancel</button>-->
        <button class="btn btn-primary" (click)="goToLogin()">Go To Login</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->