.modal.fade-in(id="modal", tabindex="-1")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h4.modal-title {{ 'LOGIN_REQUIRED_MODAL.HEADING' | translate }}
        button.close(type="button", (click)="closeModal.emit()", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        p([innerHtml]="'LOGIN_REQUIRED_MODAL.PROMPT' | translate")
      .modal-footer
        button.btn.btn-secondary(type="button", (click)="closeModal.emit()") Cancel
        button.btn.btn-primary((click)="goToLogin()") Go To Login
