<div class="asset-viewer" [class.fullscreen]="isFullscreen" [class.multi-view]="isMultiView" (contextmenu)="disableContextMenu($event)">
  <!-- Large thumbnail fallback
      - Thumbnail is always showing, and hidden by other viewers placed on top
      - This allows search crawlers to find the thumbnail
      -->
  <div id="fallbackViewer">
            <img class="item item--thumbnail" alt="{{ asset.title }}" [attr.src]="asset.thumbnail_url"
                 (error)="asset.fallbackThumbnailUrl()">
  </div>
  <div class="more-results overlay-wrap--center" id="loader-wrapper" *ngIf="state == 0"><i
    class="icon-asterisk icon-spin icon-large"></i></div>
  <!-- IIIF Image Viewer-->
  <div [class.aiw-hidden]="state != 1">
    <div class="item osd-wrap" [attr.id]="osdViewerId" [attr.zoomValue]="lastZoomValue" role="application" attr.aria-label="Interactive image viewer. Now viewing {{ asset.title }}."></div>
  </div>
  <!-- Video Player-->
  <div class="video-player" [class.aiw-hidden]="state != 2">
    <iframe id="{{ 'kalturaIframe-' + index }}" frameborder="0"></iframe>
  </div>
  <!--panorama Krpano viewer-->
  <div class="krpano-viewer osd-wrap" [class.aiw-hidden]="state != 3">
    <div class="pano" id="pano-{{ index }}"></div>
  </div>
  <!-- PDF Viewer -->
  <div class="pdf-viewer-container" *ngIf="state == 6">
    <pdf-viewer [src]="pdfViewerOpts" [original-size]="false" [render-text]="true" [autoresize]="true"
                [show-all]="false" [page]="pdfCurrentPage" [zoom]="pdfZoomValue"
                (after-load-complete)="onPdfLoad($event)" (error)="onPdfError($event)"></pdf-viewer>
    <div class="asset-viewer__edge-arrows">
      <button class="btn btn--icon btn--prev" [class.aiw-hidden]="pdfCurrentPage === 1" (click)="pdfPrevPage()"><i
        class="icon icon-prev--white"></i></button>
      <button class="btn btn--icon btn--next" [class.aiw-hidden]="pdfCurrentPage === pdfTotalPages"
              (click)="pdfNextPage()"><i class="icon icon-next--white"></i></button>
    </div>
    <div class="page-info">Page <b>{{ pdfCurrentPage }}</b> / <b>{{ pdfTotalPages }}</b></div>
  </div>

  <!--Viewer Buttons-->
  <div *ngIf="!thumbnailMode">
    <div class="asset-viewer__buttons" id="imageButtons-{{ osdViewerId }}">
      <pharos-tooltip placement="bottom" class="asset-viewer__buttons__button">
        <button slot="target" class="btn btn--icon btn--zoomIn" [class.aiw-hidden]="state != 1" id="zoomIn-{{ osdViewerId}}" aria-label="Zoom in"><i class="icon icon-zoom-in"></i></button>
        <div slot="content">Zoom in</div>
      </pharos-tooltip>
      <pharos-tooltip placement="bottom" class="asset-viewer__buttons__button">
        <button slot="target" class="btn btn--icon btn--zoomOut" [class.aiw-hidden]="state != 1" id="zoomOut-{{ osdViewerId }}" aria-label="Zoom out"><i class="icon icon-zoom-out"></i></button>
        <div slot="content">Zoom out</div>
      </pharos-tooltip>
      <pharos-tooltip placement="bottom" class="asset-viewer__buttons__button">
        <button slot="target" class="btn btn--icon btn--zoomFit" [class.aiw-hidden]="state != 1" id="zoomFit-{{ osdViewerId }}"><i class="icon icon-fit-to-view"></i></button>
        <div slot="content">Fit to view</div>
      </pharos-tooltip>
      <pharos-tooltip placement="bottom" *ngIf="!isFullscreen" class="asset-viewer__buttons__button">
        <button slot="target" class="btn btn--icon btn--fullScreen" [class.standalone-present-icon]="state != 1" id="fullScreen-{{ osdViewerId }}" aria-label="Full screen" (click)="togglePresentationMode()"><i class="icon icon-present"></i></button>
        <div slot="content">Present</div>
      </pharos-tooltip>
      <pharos-tooltip placement="bottom" *ngIf="isFullscreen && assetCompareCount > 1" class="asset-viewer__buttons__button">
        <button slot="target" class="btn btn--icon" [class.standalone-remove-icon]="state != 1" (click)="removeAsset.emit(asset)" aria-label="Remove from comparison"><i class="icon icon-remove-from-comparison"></i></button>
        <div slot="content">Remove from comparison</div>
      </pharos-tooltip>
    </div>


    <!-- Hide if not multi view (do not use ngIf, OSD needs to bind) -->
    <!-- Bottom right arrow style -->
    <!-- <div [class.aiw-hidden]="!isMultiView" class="button-group asset-viewer__pagination" id="imagePageButtons-{{ osdViewerId }}">
    <button class="btn btn--icon btn--prev" id="previousButton-{{ osdViewerId}}"><</button><span class="btn-divider"></span><button class="btn btn--icon btn--next" id="nextButton-{{ osdViewerId}}">></button>
    </div> -->
    <!-- Edge pagination arrow style -->
    <div [class.aiw-hidden]="!isMultiView" class="asset-viewer__edge-arrows" id="imagePageButtons-{{ osdViewerId }}">
      <button [class.aiw-hidden]="multiViewPage == 1" class="btn btn--icon btn--prev" id="previousButton-{{ osdViewerId }}"><i class="icon icon-prev--white"></i></button>
      <button [class.aiw-hidden]="multiViewPage == multiViewCount" class="btn btn--icon btn--next" id="nextButton-{{ osdViewerId }}"><i class="icon icon-next--white"></i></button>
    </div>
    <div *ngIf="isMultiView && assetCompareCount < 4" class="asset-viewer_multi-view-info">
      <b>{{ multiViewPage }}</b> of <b>{{ multiViewCount }}</b>
      <button *ngIf="hasMultiViewHelp()" (click)="multiViewHelp.emit()" class="help-icon">?</button>
    </div>
  </div>

    <div class="fullscreen-metadata" *ngIf="!thumbnailMode && isFullscreen" [class.slideAway]="!showCaption">
      <div class="vertical-center-wrap">
        <i class="icon icon-direction icon-left" *ngIf="assetCompareCount == 1 && !quizMode && assetNumber > 1" title="Previous in results" tabindex="0" (click)="prevPage.emit()" (keydown.enter)="prevPage.emit()"></i>
        <div class="title" [innerHtml]="asset.title"></div>
        <i class="icon icon-direction icon-right" *ngIf="assetCompareCount == 1 && !quizMode && assetNumber < assetGroupCount" title="Next in results" tabindex="0" (click)="nextPage.emit()" (keydown.enter)="nextPage.emit()"></i>
        <div class="meta-block small">
          <div class="creator" [innerHtml]="asset.creator"></div>
          <div class="date" [innerHtml]="asset.date"></div>
        </div>
      </div>
    </div>

</div>
<a [class.aiw-hidden]="state != 1" class="link text-primary p-1 mobile--hide" [routerLink]="['/support']" target="_blank">
  Use this viewer with your keyboard
</a>
