.upload-cntnr{
  line-height: 100%;
  height: auto;

  .lbl{
      color: #444;
      padding-bottom: 5px;
      letter-spacing: 0.5px;
  }

  .my-drop-zone { 
      border: dotted 3px lightgray;
      height: auto;
      padding: 10px;
      text-align: center;
      background-color: #fff; 

      .inner-wrapper{
          width: 100%;
      }

      &.nv-file-over { 
          border: dotted 3px #ccefcf; 
      }

      &.error{
          border: dotted 3px #ea4335; 
      }

      .file-select-btn{
          display: inline-block;
          margin: 0 0 0 20px;
          cursor: pointer;
      }

      input[type="file"]{
          visibility: hidden;
          height: 0;
          display: block;
      }

      .file-name{
          font-size: 13px;
          letter-spacing: 0.5px;
          line-height: 18px;
          text-align: left;

          display: block;
        //   min-height: 40px;
          max-height: 200px;
          overflow: auto;

          .error-msg{
              color: #ea4335;
              padding: 3px;
              border-top: 2px solid #fff;
          }
      }
  }

  .info-lbl{
      display: inline-block;
      font-size: 12px;
      padding: 10px 0;
      color: #444;
      letter-spacing: 0.4px;
  }
  .help{
      float: right;
      color: #9b9a9b;

      &:hover, &:active {
          outline: 0;
      }
  }

}

.error-wrap {
  background-color: #eee;
}

.queue-item {
    padding-left: 20px;
    position: relative;

    i {
        left: 0;
        top: 2px;
    }
}

.header-upload {
    display: inline-block;
    color: gray;
}