// For generate image URL Modal
.modal-body{
    font-family: 'Graphik Web', sans-serif;
}

.asset-title{
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    font-family: 'Graphik', Futura, Helvetica, sans-serif;
    padding-bottom: 5px;
}
.imgURL-gen-info{
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 18px;
    padding-top: 10px;
} 
.value{
    font-size: 13px;
    word-wrap: break-word;
    padding: 5px 0;
}
.copy-clipboard{
    font-size: 12px;
    color: #a4a4a4;
    border-bottom: 1px dotted #ddd;
    display: inline-block;
    padding-bottom: 2px;
    cursor: pointer;
}
.copy-status-msg{
    display: inline-block;
    font-size: 12px;
    color: #000;
    padding-bottom: 2px;
    margin-left: 20px;
}
.value textarea{
    font-family: Courier New, Courier, monospace;// 'Graphik Web', sans-serif;
    font-size: 13px;
    word-wrap: break-word;
    word-break: break-all;
    width: 100%;
    min-height: 50px;
    padding: 5px 10px;
    text-align: left;
    margin-top: 0;
    border: 1px solid #ddd;
    // resize: none;
}
.value #copyHTML{
    min-height: 110px !important;
}