.modal.fade-in.show
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h4.modal-title([innerHtml]="'AJI INTERCEPT' | translate")
        button.close(type="button", (click)="dismissModal()", aria-label="Close")
          span(aria-hidden="true") &times;