<div class="modal fade-in show">
  <div class="modal-dialog" role="document">
    
    <!--modal content: Is deleted, now what? -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 translate class="modal-title">SHARE_IG_LINK_MODAL.MAIN_HEADING</h4>
        <button type="button" class="close" (click)="closeModal.emit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="pt-3">
          <div class="pb-3 form-group" [class.has-success]="igCopied" [class.has-danger]="serviceStatus.tokenError">
            <label translate for="copyURL">SHARE_IG_LINK_MODAL.URL_LABEL</label>
            <div class="value">
                <textarea #copyURL id="copyURL" readonly>{{ shareLink }}</textarea>
            </div>
            <div class="copy-clipboard" (click)=" copyURL.select(); document.execCommand('copy', false, null); igCopied = true; ">Copy to Clipboard</div>
            <div *ngIf="igCopied" translate class="form-control-feedback">SHARE_IG_LINK_MODAL.COPY_SUCCESS</div>
            <div *ngIf="serviceStatus.tokenError" translate class="form-control-feedback">SHARE_IG_LINK_MODAL.SERVICE_ERROR</div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-link with-pad" href="http://support.artstor.org/?article=creating-links" target="_blank">Help</a>
        <button translate class="btn btn-primary" (click)="closeModal.emit()">Close</button>
      </div>
    </div><!-- /.modal-content -->
    
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->