// Main Sass File

// Core overrides
@import './sass/core/variables';

// Libraries
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

// Core (order matters here)
@import './sass/core/reset';
@import './sass/core/helpers';
@import './sass/core/layout';
@import './sass/core/typography';

// Modules
@import './sass/modules/base';



// Inbox

.form-control {
  border-radius: 0px;
}

#logo {
  height: 22px; // Half the image height 
  width: auto;
  padding: 45px 20px; 
}

html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

span.active {
  background-color: $gray;
}

.hidden {
  /* Used to replicate ng-hide functionality:
    [class.hidden]="variable"
  */
  display: none !important;
}

.main-content {
  padding-top: $basePadding;
  padding-bottom: $basePadding;
}