// Main Sass File

// Bootstrap variable ovverides
$btn-border-radius: 0px;

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$gray: #cdcdcd;


.form-control {
  border-radius: 0px;
}

#logo {
  height: 22px; // Half the image height 
  width: auto;
  padding: 45px 20px; 
}

html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

span.active {
  background-color: $gray;
}
