//- The .driver-find-cardview class is important for the tour to find it, be careful when removing or changing it
.card-view.driver-find-cardview
  .row
    .col-sm-2.col-4
      div(style="min-height: 140px;")
        i.icon.no-image-placeholder(*ngIf="!thumbnails.length")
        img.group-thumb(*ngIf="thumbnails[0]", [ngClass]="thumbnails.length==3 ? 'group-thumb-1-3': thumbnails.length==2 ? 'group-thumb-1-2' : 'group-thumb-1-1'", [attr.src]="_search.makeThumbUrl(thumbnails[0].thumbnailImgUrl, 0, thumbnails[0]['compound_media'])", alt="Sample image for this image group")
        img.group-thumb(*ngIf="thumbnails[1]", [ngClass]="thumbnails.length==3 ? 'group-thumb-2-3' : 'group-thumb-2-2'", [attr.src]="_search.makeThumbUrl(thumbnails[1].thumbnailImgUrl, 0, thumbnails[1]['compound_media'])", alt="Sample image for this image group")
        img.group-thumb.group-thumb-3-3(*ngIf="thumbnails[2]", [attr.src]="_search.makeThumbUrl(thumbnails[2].thumbnailImgUrl, 0, thumbnails[2]['compound_media'])", alt="Sample image for this image group")
      div
        i#item-row(*ngIf="group.items.length>1") {{ group.items.length }} items
        i#item-row(*ngIf="group.items.length<2") {{ group.items.length }} item
    .col-sm-10.col-8
      .row.cardview-text
        .col-sm-8
          div(id="tagItem{{ tag.tagId }}", title="{{ tag.title }}", [ngClass]="[ link ? 'tag-link' : '', 'tag-item', tag.canOpen ? 'clickable' : '', 'tag-item__indent-' + tag.getLevel(), linkRoute.length < 1 ? 'no-link' : '']")
            a(id="tagItem{{ tag.tagId }}Open", [ngClass]="{ 'no-link' : linkRoute.length < 1 || !tag.canOpen }", [routerLink]="[ linkRoute, tag.tagId ]")
              span.font-weight-bold.notranslate {{ tag.title }}
          .value.mobile--hide#description([innerHtml]="description")
          .row.mobile--show#information-row
              span.font-weight-bold Creator:&nbsp;
              span.link(*ngIf="group.owner_name", (click)="searchOwner(group)") {{  group.owner_name }}
              span(*ngIf="!group.owner_name") -
        .col-sm-4.mobile--hide#no-padding-left
          .row#information-row
            .col-sm-6
              p.font-weight-bold Last Modified:
            .col-sm-6
              p#absolute-bottom(*ngIf="group.update_date") {{ group.update_date | date:'MM-dd-yyyy' }}
              p#absolute-bottom(*ngIf="!group.update_date") -
          .row#information-row
            .col-sm-6
              p.font-weight-bold Creator:
            .col-sm-6
              p.link(*ngIf="group.owner_name", (click)="searchOwner(group)") {{  group.owner_name }}
              p(*ngIf="!group.owner_name") -
          .row#information-row
            .col-sm-6
              p.font-weight-bold Type:
            .col-sm-6
              p {{ groupType }}
      .row.cardview-text#tag-row
        .col-sm-12
          p.font-weight-bold#tag-text Group Tags:
          .groupTagsCntnr([class.limit]="tagsCollapsed")
            ul.list-inline(#groupTagsList="")
              i(*ngIf="!group.tags.length") This group does not have any tags.
              li.list-inline-item(*ngFor="let tag of group.tags")
                a.tag-link.font-weight-bold((click)="selectTag(tag)") {{ tag }}
          .expander.link--action.small([class.hidden]="groupTagsList.clientHeight < 70", [class.collapsed]="tagsCollapsed", (click)="tagsCollapsed = !tagsCollapsed", [innerHtml]="tagsCollapsed ? 'Show all ' + group.tags.length + ' tags....' : 'Show less'", role="button") Show all {{ group.tags.length }} tags....