.ig-title{
    font-family: Verdana, Arial, Helvetica;
    font-size: 13px;
    padding: 15px;
    font-variant: small-caps;
    font-weight: 600;
    letter-spacing: .1em;
    color: #627267;
    text-align: center;
}
.ig-desc{
    padding: 25px 10px;
    border-bottom: 2px solid #627267;
}
.assets-block{
    padding: 20px 0;
    border-bottom: 1px dotted #627267;

    .inline{
        display: inline-block;
        vertical-align: top;
    }
}
.meta-block{
    padding-top: 10px;
    font-size: 14px;
}
.meta-block .label{
    color: #c9d0c9;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.meta-block .value{
    color: #000;
    line-height: 16px;
    font-weight: normal;
    letter-spacing: 0;
}
.thmbnail-cntnr{
    width: 220px;
    height: 220px;
    padding: 4px;
    margin-left: 25px;
    border: 4px solid #D7E0DB;
    text-align: center;
}

@media print {
    .assets-cntnr{
        margin: 30px auto;
        display: block;
        width: 950px;
    }
}