<div id="genImgURL" class="modal fade show">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Share Image</h1>
                <button type="button" (click)="closeModal.emit()" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="asset" class="modal-body">
              <div class="media">
                <div class="media-body">
                   <div class="asset-title" [innerHTML]="asset.thumbnail1"></div>
                   <div class="imgURL-gen-info">Copy the image URL or the HTML code to share this image with others at your institution.</div>
                </div>
                <img class="d-flex align-self-center ml-3" [attr.src]="_assets.makeThumbUrl(asset.largeImgUrl, 0)" alt="asset.thumbnail1">
              </div>
             <!--<div class="pt-3">
                  <input class="mr-2" type="radio" [(ngModel)]="genImgMode"  name="genImgMode" value="half">Half screen viewer
                  <input class="ml-2 mr-2" type="radio" [(ngModel)]="genImgMode"  name="genImgMode" value="full">Full screen viewer (no pop-up window)
              </div>-->
              <div class="pt-3">
                  <div class="pb-3">
                      <label>Image URL</label>
                      <div class="value">
                          <textarea id="copyURL" readonly>{{ shareLink }}</textarea>
                      </div>
                      <!--<div class="value" *ngIf="genImgMode == 'full'">
                          <textarea id="copyURL" readonly>{{ baseURL + "/ViewImages?id=" + imgEncryptId + "&userId=" + usrEncryptId + "&zoomparams=&fs=true" }}</textarea>
                      </div>-->
                      <div class="copy-clipboard" (click)="copyTexttoClipBoard('copyURL')">
                        Copy to Clipboard</div>
                      <div class="copy-status-msg">{{ copyURLStatusMsg }}</div>
                  </div>
                  <div class="pb-3">
                      <label>Thumbnail hyperlink to the Image</label>
                      <div class="value">
                          <textarea id="copyHTML" readonly>{{ '<a target="_blank" href="' + shareLink + '"><img src="' + _assets.makeThumbUrl(asset.largeImgUrl, 0) + '"  alt="' + asset.thumbnail1 + '" title="' + asset.thumbnail1 + '" /></a>' }}</textarea>
                      </div>
                      <!--<div class="value" *ngIf="genImgMode == 'full'">
                          <textarea id="copyHTML" readonly>{{ '<a target="_blank" href="' + baseURL + '/ViewImages?id=' + imgEncryptId + '&userId=' + usrEncryptId + '&zoomparams=&fs=true' + '"><img src="' + _assets.makeThumbUrl(asset.largeImgUrl, 0) + '"  alt="' + asset.thumbnail1 + '" title="' + asset.thumbnail1 + '" /></a>' }}</textarea>
                      </div>-->
                      <div class="copy-clipboard" (click)="copyTexttoClipBoard('copyHTML')">
                        Copy to Clipboard</div>
                      <div class="copy-status-msg">{{ copyHTMLStatusMsg }}</div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
                    <a class="btn btn-link with-pad" (click)="showHelp()">Help</a>
                    <button class="btn btn-primary" (click)="closeModal.emit()">Close</button>
            </div>
        </div>
    </div>
</div>