header.navbar.navbar-light
  .container(style="padding:0px;")
    .row.fit
      .col-8
        a.navbar-brand([routerLink]="['/home']" tabindex="1")
          .mobile--hide
            img#logo.hidden-xs-down([attr.src]="logoUrl" alt="Artstor logo")
          .mobile--show
            img#logoMobile.hidden-sm-up(src="/assets/img/logo-square.png" alt="Artstor logo")
        .btn.btn--icon(*ngIf="showAppliedFlags")
          .icon.icon-flag
          .tooltip.bs-tooltip-bottom.show-on-hover(role="tooltip")
            .arrow
            .tooltip-inner 
              | Applied Flags:<br/>
              p(*ngFor="let flagKey of appliedFlags") {{ flagKey }}
      .col-4
        .login-panel(*ngIf="showLoginPanel")
          .vertical-center-wrap
            .login-panel__status(*ngIf="user.isLoggedIn")
              h2.hidden Login Panel
              #navMessageWelcome Welcome, {{ user.username ? user.username : ''}}
              #navMessageInstitution.login-panel__institution(*ngIf="institutionObj.displayName || institutionObj.institutionName") Access provided by {{ institutionObj.displayName ? institutionObj.displayName : institutionObj.institutionName }}
              .login-panel__links
                a.link--accent#nav-setting([routerLink]=" ['./account'] " routerLinkActive="active" tabindex="1") Settings
                a.link--accent#nav-logout((click)="logout()" tabindex="1") Log Out
            .login-panel__status(*ngIf="!user.isLoggedIn")
              b(*ngIf="_auth.isPublicOnly()") Welcome to Artstor's public collections!
              #navMessageInstitution.login-panel__institution(*ngIf="!_auth.isPublicOnly() && (institutionObj.displayName || institutionObj.institutionName)") Access provided by {{ institutionObj.displayName ? institutionObj.displayName : institutionObj.institutionName }}
              div
                a.link#nav-login((click)="navigateAndSaveRoute('/login')" tabindex="1") Log in
                ng-container(*ngIf="ipAuthed")
                  span &nbsp;or&nbsp;
                  a.link#nav-register((click)="navigateAndSaveRoute('/register')", tabindex="1") Register
                span(*ngIf="_auth.isPublicOnly()") &nbsp;to access the core collections.
                span(*ngIf="user.status && !user.isLoggedIn") &nbsp;to save images
.toast-stack
  ng-container(*ngFor="let toast of toasts")
    ang-toast([toast]="toast", [dismiss]="toast.dismiss")
ang-session-expire-modal(*ngIf="showinactiveUserLogoutModal && allowExpiredModal" "(closeModal)"="inactiveUsrLogOut()")
