header.navbar.navbar-light
  .container(style="padding:0px;")
    .row.fit
      .col-8
        a.navbar-brand([routerLink]="['/home']")
          .mobile--hide
            img#logo.hidden-xs-down([attr.src]="logoUrl" alt="Artstor logo")
          .mobile--show
            img#logoMobile.hidden-sm-up(src="/assets/img/logo-square.png" alt="Artstor logo")
      .col-4
        .login-panel(*ngIf="showLoginPanel")
          .vertical-center-wrap
            .login-panel__status(*ngIf="user.isLoggedIn")
              h2.hidden Login Panel
              #navMessageWelcome Welcome, {{ user.username ? user.username : ''}}
              #navMessageInstitution.login-panel__institution(*ngIf="institutionObj.displayName || institutionObj.institutionName") Institution: {{ institutionObj.displayName ? institutionObj.displayName : institutionObj.institutionName }}
              .login-panel__links
                a.link--accent([routerLink]=" ['./account'] " routerLinkActive="active" tabindex="1") Settings
                a.link--accent((click)="logout()" tabindex="1") Log Out
            .login-panel__status(*ngIf="!user.isLoggedIn")
              div
                a.link((click)="navigateAndSaveRoute('/login')" tabindex="1") Log in
                span(*ngIf="!user.unaffliatedUser") &nbsp;or&nbsp;
                a.link(*ngIf="!user.unaffliatedUser", (click)="navigateAndSaveRoute('/register')", tabindex="1") Register
                span &nbsp;to save images
              div(*ngIf="institutionObj.displayName || institutionObj.institutionName")
                | Institution: {{ institutionObj.displayName ? institutionObj.displayName : institutionObj.institutionName }}
ang-session-expire-modal(*ngIf="showinactiveUserLogoutModal && showLoginPanel" "(closeModal)"="inactiveUsrLogOut()")
