<header class="navbar navbar-light">
  <div class="container" style="padding:0px;">
    <div class="row">
    <div class="col-8">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img id="logo" src="/assets/img/logo.png" alt="Artstor logo" class="hidden-xs-down" />
        <img id="logoMobile" src="/assets/img/logo-square.png" alt="Artstor logo" class="hidden-sm-up"/>
      </a>
    </div>

    <div class="col-4">
      <div *ngIf="showLoginPanel" class="login-panel">
        <div class="vertical-center-wrap">
          <div *ngIf="user.isLoggedIn" class="login-panel__status">
            <h2 class="hidden">Login Panel</h2>
            <div id="navMessageWelcome">Welcome, {{ user.username ? user.username : ''}}</div>
            <div id="navMessageInstitution" *ngIf="institutionObj.shortName || institutionObj.institutionName">Institution: {{ institutionObj.shortName ? institutionObj.shortName : institutionObj.institutionName }}</div>
            <div class="login-panel__links">
              <a class="link--accent" [routerLink]=" ['./account'] " routerLinkActive="active" tabindex="1">
                Settings
              </a>
              <a class="link--accent" (click)="logout()" tabindex="1">
                Log Out
              </a>
            </div>
          </div>
          <div *ngIf="!user.isLoggedIn" class="login-panel__status">
            <div><a (click)="navigateAndSaveRoute('/login')" class="link" tabindex="1">Log in</a> or <a (click)="navigateAndSaveRoute('/register')" class="link" tabindex="1">Register</a> to save images</div>
            <div *ngIf="institutionObj.shortName || institutionObj.institutionName">Institution: {{ institutionObj.shortName ? institutionObj.shortName : institutionObj.institutionName }}</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</header>

<ang-session-expire-modal *ngIf="showinactiveUserLogoutModal" (closeModal)="inactiveUsrLogOut()"></ang-session-expire-modal>
