<header class="navbar navbar-light">
  <div class="container" style="padding:0px;">
    <div class="row">
    <div class="col-8">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img id="logo" src="/assets/img/logo.png" />
      </a>
    </div>

    <div class="col-4">
      <div *ngIf="showLoginPanel" class="login-panel">
        <div class="vertical-center-wrap">
          <div *ngIf="user.isLoggedIn" class="login-panel__status">
            <div>Welcome, {{ user.username ? user.username : ''}}</div>
            <div *ngIf="institutionObj.shortName || institutionObj.institutionName">Institution: {{ institutionObj.shortName ? institutionObj.shortName : institutionObj.institutionName }}</div>
            <div class="login-panel__links">
              <a class="link--accent" [routerLink]=" ['./login'] " routerLinkActive="active">
                !Settings
              </a>
              <a class="link--accent" [routerLink]=" ['./login'] " (click)="logout()">
                Log Out
              </a>
            </div>
          </div>
          <div *ngIf="!user.isLoggedIn" class="login-panel__status">
            <div><a (click)="loginAndSaveRoute()" class="link">Log in</a> or <a [routerLink]="['/register']" class="link">!Register</a> for more features</div>
            <div *ngIf="institutionObj.shortName || institutionObj.institutionName">Institution: {{ institutionObj.shortName ? institutionObj.shortName : institutionObj.institutionName }}</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</header>
