<header class="navbar navbar-light">
  <div class="container" style="padding:0px;">
    <div class="row">
    <div class="col-8">
      <a class="navbar-brand" [routerLink]="['/home']">
        <img id="logo" src="/assets/img/logo.png" alt="Artstor logo" class="hidden-xs-down" />
        <img id="logoMobile" src="/assets/img/logo-square.png" alt="Artstor logo" class="hidden-sm-up"/>
      </a>
    </div>

    <div class="col-4">
      <div *ngIf="showLoginPanel" class="login-panel">
        <div class="vertical-center-wrap">
          <div *ngIf="user.isLoggedIn && user.rememberMe" class="login-panel__status">
            <div id="navMessageWelcome">Welcome, {{ user.username ? user.username : ''}}</div>
            <div id="navMessageInstitution" *ngIf="institutionObj.shortName || institutionObj.institutionName">Institution: {{ institutionObj.shortName ? institutionObj.shortName : institutionObj.institutionName }}</div>
            <div class="login-panel__links">
              <a class="link--accent" [routerLink]=" ['./account'] " routerLinkActive="active" tabindex="1">
                Settings
              </a>
              <a class="link--accent" (click)="logout()" tabindex="1">
                Log Out
              </a>
            </div>
          </div>
          <div *ngIf="!user.isLoggedIn || !user.rememberMe" class="login-panel__status">
            <div><a (click)="navigateAndSaveRoute('/login')" class="link" tabindex="1">Log in</a> or <a (click)="navigateAndSaveRoute('/register')" class="link" tabindex="1">Register</a> to save images</div>
            <div *ngIf="institutionObj.shortName || institutionObj.institutionName">Institution: {{ institutionObj.shortName ? institutionObj.shortName : institutionObj.institutionName }}</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</header>

<div id="inactiveUserLogoutModal" class="modal" [ngClass]="{'show': showinactiveUserLogoutModal }">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close-icon" (click)="showinactiveUserLogoutModal = false">×</span>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row hdr">
                        <h1>Logged out</h1>
                    </div>
                    <div class="row pt-3 main-content">
                        We logged you out after being idle for 60 minutes. Please login again.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                    <button class="btn btn-primary" (click)="inactiveUsrLogOut()">Okay</button>
            </div>
        </div>
    </div>
</div>
