@import '../../../sass/core/variables';
// $navBg: rgb(225,232,225);
$navBarHeight: 80px;
$mobileNavHeight: 60px;

$loginPanelBg: #f9f9f9; //#f5f9f5; //#d4cd98

#logo {
    // Make sure height is a factor of the real image height for scaling
    $logoHeight: 24px;
    height: $logoHeight;
    width: auto;
    margin: ($mobileNavHeight - $logoHeight)/2 0;
    margin-right: 20px;
    padding: 0px;

    @media (min-width: 768px) {
        margin: ($navBarHeight - $logoHeight)/2 0;
    }
}

#logoMobile {
    position: fixed;
    top: 8px;
    left: 14px;
    z-index: 9000;
    height: 32px;
}
.navbar-brand {
    border: none !important;
    padding: 0px;
}

.navbar-light {
    // background: $navBg;
    /*width: 100%;
    height: 108px;*/
    display: block;
    border-radius: 0px;
    padding-top: 0px;
    padding-bottom: 0px;

    & .navbar-collapse {
        line-height: $mobileNavHeight - 20px;
        @media (min-width: 768px) {
            margin: ($navBarHeight - 20px)/2 0;
        }
    }
}

.navbar-form {
    margin-top: 13px;
    margin-bottom: 13px;
}

$loginPanelCollapseHeight: $navBarHeight;
$loginPanelMobileHeight: 0px;

.login-panel {
    position: relative;
    min-height: $loginPanelMobileHeight;
    // max-height: $loginPanelMobileHeight;
    overflow: hidden;
    height: 100%;

    @media (max-width: $phone) {
        max-height: 0px;
    }

    @media (min-width: 768px) {
        min-height: $loginPanelCollapseHeight;
        max-height: $loginPanelCollapseHeight;
    }

    background: $loginPanelBg;
}

.login-panel__status {
    font-size: 12px;
    text-align: center;
}

.login-panel__institution {
    font-weight: bold;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.login-panel__links {
    text-align: center;
    font-size: 12px;

    & a {
        margin: 6px 5px;
    }
}

.fit {
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
}
