<div class="modal fade-in">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Export/Download Guidelines</h4>
        <button type="button" class="close" (click)="closeModal.emit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>All logged in users may export/download up to <b>2000</b> images in a <b>120</b> day period. Multimedia files are not exported.</p>
        <p>You have exported or downloaded <b id="countAlreadyDownloads">{{ig.igDownloadInfo.alreadyDwnldImgCnt}}</b> of images in the last <b>120</b> days, which means you can currently export or download up to <b id="countAllowedLeftDownloads">{{ig.igDownloadInfo.curAllowedDwnldCnt}}</b> images.</p>
        <p>Also note that, by accepting this download, you are agreeing to the <a class="link" href="http://www.artstor.org/terms" name="Terms and conditions of use" target="_blank">terms and conditions of use.</a></p>
        <p>Would you like to proceed?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal.emit()">Cancel</button>
        <!--<button *ngIf="!isLoading" class="btn btn-primary" (click)="getDownloadLink()">I accept</button>--> 
        <a *ngIf="!isLoading" class="btn btn-primary"
            id="downloadPowerpointLink"
            [attr.href]="downloadLink"
            [attr.download]="downloadTitle">
            Download PPT 
            <!--<i id="downloadAssetLink" class="icon icon-slideshow" ></i>-->
        </a>
        <button *ngIf="isLoading" class="btn btn-primary" disabled>
          <i class="icon icon-loading"></i>
        </button>

        <a *ngIf="!zipLoading" class="btn btn-primary"
            id="downloadZipLink"
            [attr.href]="zipDownloadLink"
            [attr.download]="downloadTitle">
            Download Zip 
            <!--<i id="downloadAssetLink" class="icon icon-download" ></i>-->
        </a>
        <button *ngIf="zipLoading" class="btn btn-primary" disabled>
          <i class="icon icon-loading"></i>
        </button>
        
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->