#printable-cntnr.container-fluid(*ngIf="asset")
  .asset-img
    img([class.disablePointerEvents]="reorderMode",
    [attr.src]="setThumbnail(asset)",
    [attr.alt]="asset.title ? 'Thumbnail of ' + asset.title : 'No title available'")
  .disclaimer This image and the text corresponding to this image may only be used for noncommercial educational and scholarly purposes.
  .meta-cntnr(*ngIf="asset.formattedMetadata")
    h2 Item Details
    .table
      .meta-row.row(*ngFor="let fieldName of asset.formattedMetadata | keys")
        .col-md-4.lbl([attr.id]="cleanId(fieldName)") {{ fieldName }}
        .col-md-8
          .value(*ngFor="let value of asset.formattedMetadata[fieldName]")
            span([innerHTML]="cleanFieldValue(value) | linkify", [attr.aria-labelledby]="cleanId(fieldName)")

