.modal.fade-in(id="modal", tabindex="-1")
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h4.modal-title Terms and Conditions of Use
        button.close(type="button", (click)="closeModal.emit()", aria-label="Close")
          span(aria-hidden="true") &times;
      .notranslate.modal-body
        p I have read, understand and agree to the
          = " "
          a.link(href="http://www.artstor.org/terms", name="Terms and conditions of use", target="_blank") terms and conditions of use.
        p Note that the descriptive information has been embedded into the corresponding image file. For help on how to view embedded metadata,
          = " "
          a.link(href="http://support.artstor.org/?article=embedded-metadata", name="Embedded metadata viewing help", target="_blank") click here.
      .modal-footer
        button.btn.btn-secondary(type="button", (click)="closeModal.emit()") I reject
        //- a.btn.btn-primary(*ngIf="!isMSAgent", (click)="agree()", [href]="downloadUrl", [download]="downloadName", target="_self") I accept
        a.btn.btn-primary((click)="agree()", [href]="downloadUrl", target="_blank") I accept
