nav-menu([allowSelectAll]="true")
.container.main-content
  .row.no-gutters.row--search-bar
    #mainContent.col-md-5(tabindex="-1")
      ang-search

  h1 Associated Assets
  h3#associatedAssetsTitle(*ngIf="assetTitle") {{assetTitle}}
  br
  ang-asset-grid([actionOptions]="{associated: true}", [hasMaxAssetLimit]="true")
