<div class="modal fade show">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 translate class="modal-title">UPLOAD_IMAGES_MODAL.TITLE</h5>
        <button (click)="closeModal.emit()" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="upload-cntnr">
          <div class="lbl" translate>UPLOAD_IMAGES_MODAL.UPLOAD_LBL</div>
          <div ng2FileDrop [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver, 'error': !typeValid }" (fileOver)="fileOverBase($event)" [uploader]="uploader" class="well my-drop-zone">
              <div class="inner-wrapper">
                <h3 translate>UPLOAD_IMAGES_MODAL.DROP_TXT</h3>
                <button translate type="button" class="btn btn-primary file-select-btn" (click)="file.click()">UPLOAD_IMAGES_MODAL.SELECT_BUTTON_TXT</button>
                <input type="file" accept=".jpg,.jpeg" multiple ng2FileSelect [uploader]="uploader" #file />
                <div class="file-name" >
                  <div *ngFor="let fileObj of uploader.queue">{{ fileObj.file.name }}</div>
                  <div *ngIf="!typeValid" class="error-msg">Invalid file format</div>
                </div>
              </div>
          </div>
          <div translate class="info-lbl">UPLOAD_IMAGES_MODAL.FORMAT_LBL</div>
          <a translate class="btn btn-link help" href="http://support.artstor.org/?article-category=09-using-your-own-images" target="_blank">UPLOAD_IMAGES_MODAL.HELP</a>
        </div>
      </div>

    </div>
  </div>
</div>