.modal.fade.show
  .modal-dialog(role="document")
    .modal-content
      .modal-header
        h5.modal-title {{ 'UPLOAD_IMAGES_MODAL.TITLE' | translate }}
        button.close((click)="closeModal.emit()", type="button", data-dismiss="modal", aria-label="Close")
          span(aria-hidden="true") &times;
      .modal-body
        .upload-cntnr
          .lbl {{ 'UPLOAD_IMAGES_MODAL.UPLOAD_LBL' | translate }}
          .well.my-drop-zone(ng2FileDrop, [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver, 'error': !typeValid }", (fileOver)="fileOverBase($event)", [uploader]="uploader")
            .inner-wrapper
              h3 {{ 'UPLOAD_IMAGES_MODAL.DROP_TXT' | translate }}
              button.btn.btn-primary.file-select-btn(type="button", (click)="file.click()") {{ 'UPLOAD_IMAGES_MODAL.SELECT_BUTTON_TXT' | translate }}
              input(type="file", accept=".jpg,.jpeg", multiple, ng2FileSelect, [uploader]="uploader", #file="")
              .file-name
                div(*ngFor="let fileObj of uploader.queue") {{ fileObj.file.name }}
                .error-msg(*ngIf="!typeValid") Invalid file format
          .info-lbl {{ 'UPLOAD_IMAGES_MODAL.FORMAT_LBL' | translate }}
          a.btn.btn-link.help(href="http://support.artstor.org/?article-category=09-using-your-own-images", target="_blank") {{ 'UPLOAD_IMAGES_MODAL.HELP' | translate }}
