<nav-menu></nav-menu>
<div class="container main-content">
    <nav class="nav nav-inline coll-nav">
        <a class="nav-link" *ngFor="let colOpt of colMenuArray" [ngClass]="{'active': colOpt.id == selectedColMenuId}" (click)="selectColMenu(colOpt.id)">{{ colOpt.label }}</a>
    </nav>
    <nav class="nav nav-inline browse-nav">
        <a class="label">Browse By:</a>
        <a class="nav-link" *ngFor="let browseOpt of browseMenuArray" [ngClass]="{'active': browseOpt.id == selectedBrowseId}" (click)="selectBrowseOpt(browseOpt.id)">{{ browseOpt.label }}</a>
    </nav>
    <div class="row mt-1">
        <div class="col-md-8">
            
            <div class="tree">
                <div *ngFor="let category of categories">
                    <i class="icon icon-direction absolute-left tree-icon" (click)="toggleTree(category)" [ngClass]="{ 'icon-down' : category.expanded, 'icon-right' : !category.expanded }"></i>
                    <div class="parent" (click)="toggleTree(category)"> {{ category.title }} </div>
                    <div class="child-cntnr collapse" [ngClass]="{ 'in' : category.expanded }">
                        <div class="child" *ngFor="let subcategory of category.subcategories">
                            <img class="info-icon" *ngIf="subcategory.descriptionId && !subcategory.isFolder" src="/assets/img/info-icon.png" (click)="toggleInfo(subcategory)">
                            <i class="icon icon-direction absolute-left tree-icon" *ngIf="subcategory.isFolder" (click)="toggleSubTree(subcategory)" [ngClass]="{ 'icon-down' : subcategory.expanded, 'icon-right' : !subcategory.expanded }"></i>
                            <span (click)="openAssets(subcategory)">{{ subcategory.title }}</span>
                            <div class="info-cntnr collapse" *ngIf="subcategory.info_desc || subcategory.info_img" [ngClass]="{ 'in' : subcategory.info_expanded }">
                                <img src="http://viewer2.artstor.org/{{ subcategory.info_img }}" />
                                <div class="desc" [innerHTML]="subcategory.info_desc"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="browse-info">
                <div class="title">{{ currentBrowseRes.collectionname }}</div>
                <div [innerHTML]="currentBrowseRes.blurburl"></div>
            </div>
        </div>
    </div>
</div>