nav.nav.nav-inline.browse-nav
.row
  .col-12
    ul.filter-list
      li.filter.filter--browse(*ngFor="let tag of tags")
        ang-tag([tag]="tag")

.row.has-icon-overlay(*ngIf="loading")
  i.icon-lg.icon-overlay--top.icon-loading-large
