<nav class="nav nav-inline browse-nav">
    <a class="label">Browse By:</a>
    <a class="nav-link" *ngFor="let browseOpt of browseMenuArray" [ngClass]="{'active': browseOpt.id == selectedBrowseId}" (click)="selectBrowseOpt(browseOpt.id)">{{ browseOpt.label }}</a>
</nav>

<div class="col-md-12">
    <div class="tree">
        <ang-tag *ngFor="let tag of tags" [tag]="tag"></ang-tag>
    </div>
    <!--<div class="tree">
        <div *ngFor="let category of categories; let i = index;" [ngClass]=" 'tree__branch-' + category.depth ">

            <div *ngIf="category.isFolder == 'true'" class="collapse" [ngClass]="{ 'in' : showHideNode(category) || category.depth == 0 }" (click)="toggleTree(category, i)">
                <i class="icon icon-direction absolute-left tree-icon"  [ngClass]="{ 'icon-down' : expandedCategories[category.widgetId], 'icon-right' : !expandedCategories[category.widgetId] }"></i>
                <div class="parent"> {{ category.title }} </div>
            </div>
            <div *ngIf="(category.isFolder == 'false') || !category.isFolder" class="child-cntnr collapse" [ngClass]="{ 'in' : showHideNode(category) }">
                    <img class="info-icon" *ngIf="(category.igDesc) && ((category.isFolder == 'false') || !category.isFolder)" src="/assets/img/info-icon.png" (click)="toggleInfo(category)" />
                    <span (click)="openAssets(category)">{{ category.title }}</span>
                    <div class="info-cntnr collapse" *ngIf="category.igDesc" [ngClass]="{ 'in' : category.info_expanded }">
                        <div class="desc" [innerHTML]="category.igDesc"></div>
                    </div>
            </div>
            
        </div>
    </div>-->
</div>