<nav class="nav nav-inline browse-nav">
    <a class="label">Browse By:</a>
    <a class="nav-link" *ngFor="let browseOpt of browseMenuArray" [ngClass]="{'active': browseOpt.level == selectedBrowseLevel}" (click)="selectBrowseOpt(browseOpt.level)">{{ browseOpt.label }}</a>
</nav>
<div class="row">
    <div class="col-md-4">
        <h3 style="margin-bottom:12px;">Tags</h3>
        <div class="filter" *ngFor="let tag of tagFilters" (click)="toggleFilterBy(tag['key'])" [class.active]="appliedTags.indexOf(tag['key']) > -1">
            {{ tag['key'] }} ({{ tag.doc_count }})
        </div>
    </div>
    <div class="col-md-8">
        <h3 style="margin-bottom:12px;">Groups
            <pagination [pageObj]="pagination" (goToPage)="goToPage($event)">
            </pagination>
        </h3>
        <div class="group-list">
            <div *ngIf="errorObj[selectedBrowseLevel]" class="alert alert-warning" [innerHtml]="errorObj[selectedBrowseLevel]"></div>
            <ang-tag *ngFor="let tag of tags" [tag]="tag" link="true"></ang-tag>
        </div>
    </div>
</div>