<nav class="nav nav-inline browse-nav">
    <!--Element for spacing and border consistency-->
</nav>
<div class="row">
    <div class="col-md-8">
        <div class="tree">
            <ang-tag *ngFor="let tag of tags" [tag]="tag"></ang-tag>
        </div>
        <div *ngIf="!loading && tags.length < 1" class="alert alert-info">
            <b>No Institutional Collections found</b><br/>
            You will need to log in to an account tied to an institution with collections.
        </div>
    </div>
</div>