<nav class="nav nav-inline browse-nav">
    <!--Element for spacing and border consistency-->
</nav>
<div class="row">
    <div class="col-md-8">
        <div class="tree">
            <ang-tag *ngFor="let tag of tags" [tag]="tag"></ang-tag>
        </div>
        <div *ngIf="!loading && tags.length < 1" class="alert alert-info">
            <h3 translate>BROWSE.ERRORS.NO_INSTITUTIONAL_COLLECTIONS_HEADING</h3><br/>
            <div [innerHtml]="'BROWSE.ERRORS.NO_INSTITUTIONAL_COLLECTIONS_PROMPT' | translate"></div>
        </div>
    </div>
</div>