nav.nav.nav-inline.browse-nav
  a.label Browse By:&ensp;
  button.nav-link(*ngFor="let browseOpt of browseMenuArray", [ngClass]="{'active': browseOpt.id == selectedBrowseId}", (click)="selectBrowseOpt(browseOpt.id)", tabindex="4") {{ browseOpt.label }}
.row
  .col-md-8
    ul.filter-list
      ng-container(*ngIf="facetQueryMap[facetType] == 'category'")
        .input-group
          input#browsePageFilter.form-control.has-icon(placeholder="Search Collections", tabindex="6", [(ngModel)]="searchTerm", (keyup)="addRouteParam('searchTerm',searchTerm)")
          i#iconSearchClear.icon.icon-close.form-control__icon(*ngIf="searchTerm && searchTerm.length > 0", (click)="clearSearchTerm(term)")
          i#iconSearchSubmit.icon.icon-filter.form-control__icon(*ngIf="!searchTerm || searchTerm.length == 0", (click)="addRouteParam('searchTerm',searchTerm)")
        #alertNoResults.alert.alert-warning.input-group(*ngIf="!(categoryFacets | iggroupfilter:searchTerm).length && !loading", [innerHtml]="'No search results found'")
      li.filter(*ngFor="let facet of categoryFacets | iggroupfilter:searchTerm", [class.hidden]="facet.title === '' || !facet.name")
        a.tag-link(*ngIf="facetQueryMap[facetType] == 'category'", [routerLink]="['/category', facet.name ]")
          | {{ facet.title }} ({{facet.count}})
        a.tag-link(*ngIf="facetQueryMap[facetType] != 'category'", [routerLink]="['/search/*', getLinkParam(facetType, facet.name)]")
          | {{facet.name}} ({{facet.count}})
      li.filter(*ngFor="let key of JSObject.keys(hierarchicalFacets).sort()")
        a.tag-link([routerLink]="['/search/*', getLinkParam(facetType, hierarchicalFacets[key].element.efq)]") {{key}} ({{hierarchicalFacets[key].element.count}})
        ul
          li.filter(*ngFor="let childKey of JSObject.keys(hierarchicalFacets[key].children).sort()")
            a.tag-link([routerLink]="['/search/*', getLinkParam(facetType,hierarchicalFacets[key].children[childKey].element.efq)]") {{childKey}} ({{hierarchicalFacets[key].children[childKey].element.count}})
    //- ul.filter-list
    //-   li.filter(*ngFor)
    .row.has-icon-overlay(*ngIf="loading")
      i.icon-lg.icon-overlay--top.icon-loading-large

    .alert.alert-danger(*ngIf="errorMessage" innerHTML="{{errorMessage | translate}}")
  .col-md-4
    .browse-info(*ngIf="descObj[selectedBrowseId]")
      .img(*ngIf="descObj[selectedBrowseId] + '.LEAD_IMAGE' | translate")
        img.browse__img([attr.src]="descObj[selectedBrowseId] + '.LEAD_IMAGE' | translate", [attr.alt]="descObj[selectedBrowseId] + '.CAPTION' | translate")
        .small([innerHTML]="descObj[selectedBrowseId] + '.CAPTION' | translate")
      .title {{ descObj[selectedBrowseId] + ".HEADING" | translate }}
      .browse__description([innerHTML]="descObj[selectedBrowseId] + '.DESCRIPTION' | translate", tabindex="5")
  ang-access-denied-modal(*ngIf="unaffiliatedUser")
//- .row.has-icon-overlay(*ngIf="loading")
//-   i.icon-lg.icon-overlay--top.icon-loading-large
