nav.nav.nav-inline.browse-nav
  a.label Browse By:&ensp;
  a.nav-link(*ngFor="let browseOpt of browseMenuArray", [ngClass]="{'active': browseOpt.id == selectedBrowseId}", (click)="selectBrowseOpt(browseOpt.id)") {{ browseOpt.label }}
.row
  .col-md-8
    ul.filter-list
      .input-group(*ngIf="facetQueryMap[facetType] == 'category'")
        input#browsePageFilter.form-control.has-icon(placeholder="Search collections", tabindex="0", [(ngModel)]="searchTerm", (keyup)="addRouteParam('searchTerm',searchTerm)")
        i#iconSearchSubmit.icon.icon-close.form-control__icon((click)="clearSearchTerm(term)")
      .alert.alert-warning(*ngIf="!categoryFacets.length", [innerHtml]="'No search results found'")
      li.filter(*ngFor="let facet of categoryFacets", [class.hidden]="facet.title === '' || !facet.name")
        a.tag-link(*ngIf="facetQueryMap[facetType] == 'category'", [routerLink]="['/category', facet.name ]")
          | {{ facet.title }} ({{facet.count}})
        a.tag-link(*ngIf="facetQueryMap[facetType] != 'category'", [routerLink]="['/search/*', getLinkParam(facetType, facet.name)]") 
          | {{facet.name}} ({{facet.count}})
      li.filter(*ngFor="let key of JSObject.keys(hierarchicalFacets).sort()")
        a.tag-link([routerLink]="['/search/*', getLinkParam(facetType, hierarchicalFacets[key].element.efq)]") {{key}} ({{hierarchicalFacets[key].element.count}})
        ul
          li.filter(*ngFor="let childKey of JSObject.keys(hierarchicalFacets[key].children).sort()")
            a.tag-link([routerLink]="['/search/*', getLinkParam(facetType,hierarchicalFacets[key].children[childKey].element.efq)]") {{childKey}} ({{hierarchicalFacets[key].children[childKey].element.count}})
    //- ul.filter-list
    //-   li.filter(*ngFor)
    .row.has-icon-overlay(*ngIf="loading")
      i.icon-lg.icon-overlay--top.icon-loading-large

    .alert.alert-danger(*ngIf="errorMessage" innerHTML="{{errorMessage | translate}}")
  .col-md-4
    .browse-info(*ngIf="descObj[selectedBrowseId]")
      .img(*ngIf="descObj[selectedBrowseId] + '.LEAD_IMAGE' | translate")
        img([attr.src]="descObj[selectedBrowseId] + '.LEAD_IMAGE' | translate", alt="Splash image for browse id: {{ selectedBrowseId }}", style="max-width:100%;")
      .title {{ descObj[selectedBrowseId] + ".HEADING" | translate }}
      .browse__description([innerHTML]="descObj[selectedBrowseId] + '.DESCRIPTION' | translate")
//- .row.has-icon-overlay(*ngIf="loading")
//-   i.icon-lg.icon-overlay--top.icon-loading-large
