<nav class="nav nav-inline browse-nav">
    <a class="label">Browse By:</a>
    <a class="nav-link" *ngFor="let browseOpt of browseMenuArray" [ngClass]="{'active': browseOpt.id == selectedBrowseId}" (click)="selectBrowseOpt(browseOpt.id)">{{ browseOpt.label }}</a>
</nav>
<div class="row">
    <div class="col-md-8">
        <div *ngFor="let browseOpt of browseMenuArray" [class.hidden]="selectedBrowseId != browseOpt.id" class="tree">
            <ang-tag *ngFor="let tag of tagsObj[browseOpt.id]" [tag]="tag"></ang-tag>
        </div>
    </div>

    <div class="col-md-4">
        <div class="browse-info" *ngIf="descObj[selectedBrowseId]">
            <div class="title">{{ descObj[selectedBrowseId].collectionname }}</div>
            <div class="browse__description" [innerHTML]="descObj[selectedBrowseId].blurburl"></div>
        </div>
    </div>
</div>