<nav class="nav nav-inline browse-nav">
    <!--Element for spacing and border consistency-->
</nav>
<div class="row">
    <div class="col-md-6">
        <div class="tree">
            <ang-tag *ngFor="let tag of tags" [tag]="tag" [edit]="pcFeatureFlag" (editTag)="showEditModal(tag)"></ang-tag>
            <div *ngIf="(tags.length === 0) && pcFeatureFlag" class="add-pc-cntnr" (click)="showUploadImgsModal = true"><div class="icon-cntnr"><i class="icon absolute-left icon-add"></i></div><a>My Personal Collections</a></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mycol-info">
            <div class="img"><img src="/assets/img/collection-splash.png" alt="Splash image for My Collections"></div>
            <div class="desc">
                <p>Only you can see this collection. To share these images with others at your institution, add them to an image group. Learn more about Personal Collections. <a href="http://support.artstor.org/?article-category=09-using-your-own-images" target="_blank">http://support.artstor.org/?article-category=09-using-your-own-images</a>.</p>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="row has-icon-overlay">
    <i class="icon-lg icon-overlay--top icon-loading-large"></i>
</div>
<ang-upload-images *ngIf="showUploadImgsModal" (closeModal)="showUploadImgsModal = false"></ang-upload-images>
<ang-edit-personal-collection *ngIf="showEditPCModal" (closeModal)="showEditPCModal = false" [colId]="editTagId"></ang-edit-personal-collection>