nav.nav.nav-inline.browse-nav
.row
  .col-md-6
    .tree
      // Show tags for Personal and Private collections (when logged in)
      ng-container(*ngIf="isLoggedIn")
        ul.filter-list
          li.filter.filter--browse(*ngFor="let col of pcollections")
            a.tag-link(id="{{ col.collectionid }}", title="{{ col.collectionname }}",
            [routerLink]="col.collectionid === '37436' ? ['/pcollection', col.collectionid] : ['/collection', col.collectionid ]")
              span.notranslate {{ col.collectionname }}
            span.edit(*ngIf="col.collectionid === '37436' ", (click)="showEditPCModal = true", tabIndex="0", role="button", aria-label="Add items to My Personal Collection") Edit
      .alert.alert-info(*ngIf="!isLoggedIn")
        h3 {{ 'BROWSE.ERRORS.LOGIN_PC_HEADING' | translate }}
        br
        div([innerHtml]="'BROWSE.ERRORS.LOGIN_PC_COLLECTIONS_PROMPT' | translate")
  .col-md-6
    .mycol-info
      .img
        img(src="/assets/img/collection-splash.png", alt="Splash image for My Collections")
      .desc
        p([innerHtml]="'BROWSE.MY_COLLECTION.DESCRIPTION' | translate")
.row.has-icon-overlay(*ngIf="loading")
  i.icon-lg.icon-overlay--top.icon-loading-large
ang-edit-personal-collection(*ngIf="showEditPCModal", (closeModal)="showEditPCModal = false", [colId]="editTagId")
ang-access-denied-modal(*ngIf="unaffiliatedUser")
