nav.nav.nav-inline.browse-nav
.row
  .col-md-6
    .tree
      ang-tag(*ngFor="let tag of tags", [tag]="tag", [edit]="tag.type && tag.type.label === 'pcollection'", (editTag)="showEditModal(tag)")
      //- Fallback "My Personal Collection" link
      .add-pc-cntnr(*ngIf="tags.length === 0", (click)="showEditPCModal = true")
        .icon-cntnr
          i.icon.absolute-left.icon-add
            a My Personal Collections
  .col-md-6
    .mycol-info
      .img
        img(src="/assets/img/collection-splash.png", alt="Splash image for My Collections")
      .desc
        p([innerHtml]="'BROWSE.MY_COLLECTION.DESCRIPTION' | translate")
.row.has-icon-overlay(*ngIf="loading")
  i.icon-lg.icon-overlay--top.icon-loading-large
//- ang-upload-images(*ngIf="showUploadImgsModal", (closeModal)="showUploadImgsModal = false")
ang-edit-personal-collection(*ngIf="showEditPCModal", (closeModal)="showEditPCModal = false", [colId]="editTagId")
