.container.main-content
  h1 Keyboard Shortcuts
  table
    thead
      tr
        th Action
        th Keyboard Shortcut
    tbody
      tr
        td Move viewport up
        td w, Up Arrow
      tr
        td Move viewport down
        td s, Down Arrow
      tr
        td Move viewport left
        td a, Left Arrow
      tr
        td Move viewport right
        td d, Right arrow
      tr
        td Zoom / Move viewport home
        td 0
      tr
        td Zoom viewport out
        td - / _, Shift + s, Shift + Down arrow
      tr
        td Zoom viewport in
        td = / +, Shift + w, Shift + Up arrow
      tr
        td Rotate clockwise
        td r
      tr
        td Rotate counterclockwise
        td Shift + r
      tr
        td Flip horizontally
        td f
