<nav-menu></nav-menu>
<div class="container">
    <!--Asset Viewer Row-->
    <div class="col-md-7">
        <div class="row">
            <ang-asset-viewer [asset]="asset"></ang-asset-viewer>
        </div>
    </div>
    <!--Asset Metadata Row-->
    <div class="col-md-5">
        <div class="row pb-1">
            <div class="row-hdr pt-1" *ngIf="asset.metaDataArray.length > 0">Object Details</div>
            <!--Loop through metaData Array-->
            <div class="meta-block" *ngFor="let metadataObj of asset.metaDataArray">
                <div class="label">{{ metadataObj.fieldName }}</div>
                <div class="value" [innerHTML]="metadataObj.fieldValue"></div>
            </div>

            <div class="row-hdr pt-1" *ngIf="asset.filePropertiesArray.length > 0">File Properties</div>
            <!--Loop through File Properties Array-->
            <div class="meta-block" *ngFor="let filePropObj of asset.filePropertiesArray">
                <div class="label">{{ filePropObj.fieldName }}</div>
                <div class="value" [innerHTML]="filePropObj.fieldValue"></div>
            </div>
        </div>
    </div>
</div>