.row-hdr{
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    font-family: 'Graphik', Futura, Helvetica, sans-serif;
}
.meta-block{
    padding-top: 10px;
    font-size: 14px;
    font-family: 'Graphik', Futura, Helvetica, sans-serif;
}
.meta-block .label{
    color: #c9d0c9;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.meta-block .value{
    color: #000;
    line-height: 16px;
    font-weight: normal;
    letter-spacing: 0px;
}

/**
  * Because these component scoped styles, we can simply use .fullscreen!
  */
.fullscreen {
    background: #000;
}