.row-hdr{
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    font-family: 'Graphik', Futura, Helvetica, sans-serif;
}
.meta-block{
    padding-top: 10px;
    font-size: 14px;
    font-family: 'Graphik', Futura, Helvetica, sans-serif;
}
.meta-block .label{
    color: #c9d0c9;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.meta-block .value{
    color: #000;
    line-height: 16px;
    font-weight: normal;
    letter-spacing: 0px;
}

// Title Prev / Next Asset
.title-nav-cntnr{
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
    text-align: center;
    font-weight: bold;
}
.title-nav-cntnr i{
    vertical-align: top;
    margin: 3px;
    cursor: pointer;
}
.title-nav-cntnr .title{
    display: inline-block;
    width: 350px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}
.title-nav-cntnr .page-tooltip{
    font-weight: normal;
    font-size: 10px;
    min-width: 120px;
    line-height: 21px;
    display: block;
    position: absolute;
    z-index: 5000;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    background: white;
    color: black;
    padding: 2px 15px 0px;
    opacity: 0;
    -webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;
}
.title-nav-cntnr:hover .page-tooltip{
    opacity: 1;
}

.fullscreen {
    & .title-nav-cntnr {
        position: fixed;
        background: #e1e8e1;
        bottom: 0;
        z-index: 1000;
        opacity: 0.95;
    }
}

.asset-page.fullscreen {
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}