<div class="container-fluid" [class.fullscreen]="isFullscreen">
    <!--Asset Viewer Row-->
    <div class="col-md-8">
        <div class="row">
            <ang-asset-viewer [asset]="asset" (fullscreenChange)="updateFullscreenVar($event)" index="1"></ang-asset-viewer>
        </div>
        <!--If the user has not accepted the agreement, show modal when clicked, otherwise download immediately-->
        <a *ngIf="asset.downloadLink" 
            [attr.href]="downloadAuth() ? asset.downloadLink : null"
            [attr.download]="downloadAuth() ? asset.title : null"
            (click)="!downloadAuth() ? showAgreeModal = true : null"
        >
            <i id="downloadAssetLink" class="icon icon-download" ></i>
        </a><!--setting name to asset.title does not currently work - it is always named "download" - see below-->
        <!--http://stackoverflow.com/questions/33909763/download-attribute-with-a-file-name-not-working-->
    </div>
    <!--Asset Metadata Row-->
    <div class="col-md-4">
        <div class="row pb-1">
            <div class="row-hdr pt-1" *ngIf="asset.metaDataArray.length > 0">Object Details</div>
            <!--Loop through metaData Array-->
            <div class="meta-block" *ngFor="let metadataObj of asset.metaDataArray">
                <div class="label">{{ metadataObj.fieldName }}
                 <div [attr.id]="cleanId(metadataObj.fieldName)" class="value" [innerHTML]="metadataObj.fieldValue"></div>
                </div>
            </div>

            <div class="row-hdr pt-1" *ngIf="asset.filePropertiesArray.length > 0">File Properties</div>
            <!--Loop through File Properties Array-->
            <div class="meta-block" *ngFor="let filePropObj of asset.filePropertiesArray">
                <div class="label">{{ filePropObj.fieldName }}
                    <div [attr.id]="cleanId(filePropObj.fieldName)" class="value" [innerHTML]="filePropObj.fieldValue"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<ang-agree-modal *ngIf="showAgreeModal" (closeModal)="showAgreeModal = false" [asset]="asset"></ang-agree-modal>