@import '../../sass/core/variables';

$titleNavBg: #eee;

// Avoid asset viewer bumping into the footer
.asset-page{
    margin-bottom: 4em;
}

.asset-col {
    padding: 0 !important;

    @media(max-width: $phone) {
        max-height: 50vh;
        overflow: hidden;
        margin-left: -15px;
        margin-right: -15px;
        width: calc(100% + 30px);
    }
}

// Title Prev / Next Asset
.title-nav-cntnr{
    // border-bottom: 1px solid #ddd;
    background: $titleNavBg;
    padding: 1rem 0;
    text-align: center;
    font-weight: bold;
    min-height: 48px;

    @media(max-width: $phone) {
        margin-top:22px;
        background: transparent;
    }

    .back-results{
        position: absolute;
        left: 20px;
        font-weight: 400;
        text-decoration: underline;
        cursor: pointer;
    }
}
.title-nav-cntnr i{
    vertical-align: top;
    margin: 3px;
    cursor: pointer;
}
.title-nav-cntnr .title{
    display: inline-block;
    max-width: 400px;
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}
.title-nav-cntnr .page-tooltip{
    font-weight: normal;
    font-size: 10px;
    min-width: 120px;
    line-height: 21px;
    display: block;
    position: absolute;
    z-index: 5000;
    top: 100%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    background: white;
    color: black;
    padding: 2px 15px 0;
    opacity: 0;
    -webkit-transition: opacity linear 0.3s;
    -moz-transition: opacity linear 0.3s;
    transition: opacity linear 0.3s;

    &.show{
        opacity: 1;
    }
}
.title-nav-cntnr:hover .page-tooltip{
    opacity: 1;
}

.title-wrap {
    display: block;

     & .title {
         max-width: calc(100% - 50px);

         &.shortened{
             max-width: calc(100% - 300px) !important;
         }
     }
}

.fullscreen-btns {
    position: fixed;
    top:0;
    right: 0;
    margin: 20px*2;
    z-index: 2000;

    opacity: 0.8;
    transition: opacity 0.2s linear;

    &:hover, &:active {
        opacity: 1;
    }

    &.fade-out {
        opacity: 0;
        pointer-events: none;
    }

    & .btn {
        padding: 0 12px;
    }
}

.asset-drawer__header {
    line-height: 41px;
    cursor: pointer;
    vertical-align: middle;
    line-height: 41px;
    padding: 36px 0 12px;
    // Offset to fix position "sticky" clicking behavior
    top: -24px;
    position: sticky;
    display: block;
    background: #fafafa;
    margin: 12px 0;
    z-index: 3000;
    width: 100%;
    left: 0;
}

.asset-drawer__close {
    background: transparent;
    border: none;
    font-size: 36px !important;
    font-weight: initial;
    opacity: 0.7;
    cursor: pointer;

    & i {
        cursor: pointer;
    }

    &:hover, &:active {
        opacity: 1;
    }
}

.asset-page.fullscreen {
    background: #000;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.asset-drawer {
    position: absolute;
    z-index: 2500;
    top: 0;
    right: -230px;
    bottom: 0;
    width: 230px;
    height: 100%;
    background: rgba(255,255,255,0.98);
    overflow-y: scroll;
    padding: 30px 0 80px;
    // Let the asset drawer cover the exit fullscreen button
    margin-top: 0;

    transition: 300ms ease all;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.3);

    &.slideOut {
      -webkit-transform: translateX(-230px);
      transform: translateX(-230px);

      transform: translate3d(-230px, 0, 0);
      -webkit-transform: translate3d(-230px, 0, 0);
    }
    & .card {
        background: transparent;
    }
}

.copy-status-msg{
    font-family: 'Graphik Web', sans-serif;
    font-size: 12px;
    color: #000;
    padding-bottom: 2px;
}

.fullscreen .asset-viewer-row {
    position: fixed !important;
    width: 100%  !important;
    height: 100%  !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.fullscreen-container {
    width: 100%;
    height: calc(100% - 40px);
    top: 0;
    position: fixed;
    transition: 1ms ease-in all;
    &.drawer {
      width: calc(100% - 230px);
    }
}

.fullscreen {
    @for $n from 1 through 24 {
        & .asset-viewer-#{ $n } {
            float: left !important;
            width: 100%/$n;
            height: calc(100vh - 40px);
        }
    }

    & .asset-viewer-4 {
        width: 50%;
        height: calc(50vh - 20px);
    }

    & .asset-viewer-5 {
        width: 50%;
        height: calc(50vh - 20px);

        &:nth-child(3), &:nth-child(4), &:nth-child(5) {
            width: 100%*1/3;
        }
    }

    & .asset-viewer-6 {
        width: 100%*1/3;
        height: calc(50vh - 20px);
    }

    & .asset-viewer-7 {
        width: 100%*1/3;
        height: calc(50vh - 20px);

        &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) {
            width: 100%*1/4;
        }
    }

    & .asset-viewer-8 {
        width: 100%*1/4;
        height: calc(50vh - 20px);
    }

    & .asset-viewer-9 {
        width: 100%*1/4;
        height: calc(50vh - 20px);

        &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8), &:nth-child(9) {
            width: 100%*1/5;
        }
    }

    & .asset-viewer-10 {
        width: 100%*1/5;
        height: calc(50vh - 20px);
    }
}

.btn{

    .icon-print{
        background-image: url("/assets/img/icon-print-white.svg");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
    }
}

.quiz-caption-cntnr{
    position: absolute;
    background: #f1f8f1;
    left: 0;
    top: 100%;
    z-index: 1;
    opacity: 1;
    width: 100%;
    height: 40px;
    padding: 10px;
    transition: transform 0.2s linear;
    transform: translateY(0);

    &.cntnr-bg{
        background: #f1f8f1;
    }

    .quiz-cntnr{
        position: absolute;
        right: 15px;
        top: 15px;
        width: 120px;
        letter-spacing: 0.3px;
        color: #c8c8c8;
        cursor: pointer;
        font-size: 12px;
        transition: 250ms all;

        .quiz-btn{
            width: 10px;
            height: 10px;
            display: inline-block;
            border: 1px solid #c8c8c8;
            background-color: #c8c8c8;
            border-radius: 10px;
            margin-right: 8px;
        }

        &.active{
            color: #000;
            top: 20px !important;

            .quiz-btn{
                border: 1px solid #000;
                background-color: #000;
            }
        }
    }

    .shuffle-cntnr{
        position: absolute;
        right: 15px;
        top: 2px;
        width: 120px;
        letter-spacing: 0.3px;
        color: #c8c8c8;
        cursor: pointer;
        font-size: 12px;

        .shuffle-btn{
            width: 10px;
            height: 10px;
            display: inline-block;
            border: 1px solid #c8c8c8;
            background-color: #c8c8c8;
            border-radius: 10px;
            margin-right: 8px;
        }

        &.active{
            color: #000;

            .shuffle-btn{
                border: 1px solid #000;
                background-color: #000;
            }
        }
    }

    .caption-btn-cntnr{
        position: absolute;
        left: 15px;
        top: 15px;
        width: 120px;
        letter-spacing: 0.3px;
        color: #c8c8c8;
        cursor: pointer;
        font-size: 12px;

        .caption-btn{
            width: 10px;
            height: 10px;
            display: inline-block;
            border: 1px solid #c8c8c8;
            background-color: #c8c8c8;
            border-radius: 10px;
            margin-right: 8px;
        }

        &.active{
            color: #000;

            .caption-btn{
                border: 1px solid #000;
                background-color: #000;
            }
        }
    }

    .quiz-browse-cntnr{
        display: block;
        width: 120px;
        margin: auto;

        .icon{
            cursor: pointer;

            &.icon-left{
                float: left;
            }
            &.icon-right{
                float: right;
            }
        }
    }
}

.meta-block {
    overflow-wrap: break-word;
}

.collection-type-display {
    & .icon {
        background-position: center bottom;
    }
    color: $color-gray-5;
}

.jstor-result{
    cursor: pointer;
    padding-bottom: 5px;
    display: block;

    a{
        padding: 5px 5px 5px 0;
        &:hover{
            background: #f9f9f9;
        }
    }

    .type{
        color: #989898;
        font-size: 1rem;
        font-weight: 600;
        text-transform: capitalize;
        display: inline;
    }

    .label{
        display: inline;
    }
}

#copy-link {
    margin-left: 0.15rem;
    max-width: 25rem;
    width: 100%;
    #assetpage-btn {
        margin-left:0;
        width:6rem;
    }
}

#asset-btn {
    margin: 0;
}

#generatedImgURL {
    display: inline-block;
    width: 75%;
    height: 2.11rem;
    margin-top: 4px;
    margin-left: 3px;
    margin-right: 0;
}

#assetpage-btn, #downloadAssetDropdown {

    &.btn-primary {
        width: 12rem;
    }

    &.btn-secondary, a.btn-secondary {
      width: 12rem;

      &.dropdown-toggle {
          &:hover, &:focus, &:active, &.active {
              background-color: #C9510D;
              color: white;
          }
      }
  }
}

.btn-secondary {
    &.active .icon-download-asset-orange, &:hover .icon-download-asset-orange, &:focus .icon-download-asset-orange {
        background-image: url("/assets/img/icon-download-asset-white.svg");
    }
}

.rights-icon {
  width: 15px;
  display: inline-block;
}

.rights-text {
  text-transform: capitalize;
}
