<div class="modal fade-in show">
  <div class="modal-dialog" role="document">
    
    <!--modal content: Is deleted, now what? -->
    <div class="modal-content">
      <div class="modal-header">
        <h4 translate class="modal-title" [innerHtml]="'NO_IG.HEADING' | translate"></h4>
      </div>
      <div class="modal-body">
        <p *ngIf="!noAccessIg" [innerHtml]="'NO_IG.NO_EXISTS' | translate"></p>
        <p *ngIf="noAccessIg" [innerHtml]="'NO_IG.NO_ACCESS' | translate"></p>
      </div>
      <div class="modal-footer">
        <a translate class="btn btn-secondary" [routerLink]="['/browse', 'groups']">BROWSE_GROUPS</a>
        <a translate class="btn btn-primary" [routerLink]="['/home']">RETURN_HOME</a>
      </div>
    </div><!-- /.modal-content -->
    
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->