.modal.fade-in.show
  .modal-dialog(role="document")
    // modal content: Is deleted, now what?
    .modal-content
      .modal-header
        h4.modal-title(*ngIf="!noAccessIg", [innerHtml]="'NO_IG.HEADING_NO_EXISTS' | translate")
        h4.modal-title(*ngIf="noAccessIg", [innerHtml]="'NO_IG.HEADING_NO_ACCESS' | translate")
      .modal-body
        p(*ngIf="!noAccessIg", [innerHtml]="'NO_IG.NO_EXISTS' | translate")
        p(*ngIf="noAccessIg", [innerHtml]="'NO_IG.NO_ACCESS' | translate")
      .modal-footer
        a.btn.btn-secondary([routerLink]="['/browse', 'groups']") {{ 'BROWSE_GROUPS' | translate }}
        a.btn.btn-primary(*ngIf="!noAccessIg", [routerLink]="['/home']") {{ 'RETURN_HOME' | translate }}
        a.btn.btn-primary(*ngIf="noAccessIg", (click)="goToLogin()") {{ 'LOGIN.LOGIN_BTN' | translate }}
