<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Run the app from the root directory -->
  <base href="/">
  <!--Track initial URL in cases where we need to re-route legacy links-->
  <script type="text/javascript">
    var initPath = window.location.href;
    var initOrigin = window.location.origin;
    // To cater for legacy links via both proxy and without proxy, we avoid matching ".org"
    if ( initPath.indexOf('/#/library') < 0 &&
          (initPath.indexOf('/library/ExternalIV.jsp') > -1
          || initPath.indexOf('/library/secure/ViewImages') > -1
          || initPath.indexOf('/library/collection') > -1
          || initPath.indexOf('/library/welcome.html') > -1
          || initPath.indexOf('.org/library/#') > -1
          || initPath.indexOf('/openlibrary') > -1
          || initPath.indexOf('/asset/') > -1
          || initPath.indexOf('/public/') > -1
          || initPath.indexOf('/object/') > -1
          || initPath.indexOf('/assetprint/') > -1
          || initPath.indexOf('/group/') > -1
          || initPath.indexOf('/browse/') > -1
          || initPath.indexOf('/collection/') > -1
          || initPath.indexOf('/category/') > -1
          )
        ) {
          if (initPath.indexOf('/library/') > -1) {
            initPath = initPath.substr(initPath.indexOf('/library/'));
          } else if (initPath.indexOf('/openlibrary/') > -1) {
            initPath = initPath.substr(initPath.indexOf('/openlibrary/'));
          } else if (initPath.indexOf(initOrigin) > -1) {
            // Handle cases where hostname exists within the URL multiple times, especially on proxies
            initPath = initPath.substr(initPath.lastIndexOf(initOrigin) + initOrigin.length);
          } else {
            initPath = null
          }
          console.log('Old path found: ', initPath);
    } else {
      initPath = null;
    }
  </script>

  <!--Load Google Translate before other javascript-->
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">

  <!--Force not caching index.html to make sure user gets updated version-->
  <meta http-equiv="cache-control" content="no-store, no-cache, must-revalidate, post-check=0, pre-check=0">
  <meta http-equiv="expires" content="0">
  <meta http-equiv="pragma" content="no-cache">

  <!-- <title><%= htmlWebpackPlugin.options.metadata.title %></title> -->

  <!-- <meta name="description" content="<%= htmlWebpackPlugin.options.metadata.title %>"> -->

  <!--favicon icons-->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/icon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/assets/icon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/assets/icon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/assets/icon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/assets/icon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/assets/icon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/assets/icon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/assets/icon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/assets/icon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192" href="/assets/icon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/assets/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/assets/icon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/assets/icon/favicon-16x16.png">
	<link rel="manifest" href="/assets/manifest.json">
	<meta name="msapplication-TileColor" content="#00bcd4">
	<meta name="msapplication-TileImage" content="/assets/icon/ms-icon-144x144.png">
	<meta name="theme-color" content="#00bcd4">

  <!-- Mediathread Metadata -->
  <meta name="asset.id" content="" />

  <!-- Exporting Metadata to Zotero -->
  <meta name="DC.format" scheme="DCTERMS.IMT" content="Artwork" />
  <meta name="DC.type" scheme="DCTERMS.DCMIType" content="Artwork" />
  <meta name="DC.title" content="Artstor" />
  <meta name="DC.creator" content="Artstor" />
  <meta name="DCTERMS.subject" content="Art & Culture" />
  <meta name="DC.description" content="Artstor is a nonprofit organization committed to digital collection solutions for universities, museums, schools, and libraries worldwide." />
  <meta name="DCTERMS.issued" scheme="DCTERMS.W3CDTF" content="" />
  <meta name="DC.identifier" scheme="DCTERMS.URI" content="http://dublincore.org/documents/dcq-html/" />

  <!--Google Analytics-->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-90427799-1', 'auto');
  </script>

  <!-- Load krpano JS file for Qtvr viewer -->
  <script src="/assets/js/krpano.js"></script>
  <!-- Load OpenSeaDragon -->
  <script src="https://cdn.jsdelivr.net/npm/openseadragon@2.4/build/openseadragon/openseadragon.min.js"></script>

  <style>
    /** Inititial loading styles **/
    .page-overlay {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
    }
    .icon-loading-large {
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: url('/assets/img/icon-loading-large.gif');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50px 50px !important;
    }
  </style>
</head>

<body>
  <noscript>
      <style>
        .page-overlay {
          display: none;
        }
      </style>
    <div id="nojs-container">
        <img id="nojs-logo"src="/assets/img/logo-v1-1.png" alt="Artstor logo">
        <p>Javascript must be enabled to view this site.</p>
        <p><a id = "nojs-support-link" href="https://support.artstor.org/?article=system-requirements-2" target="_blank">Read our system requirements.</a></p>
    </div>
  </noscript>

  <app-root>
    <div class="page-overlay">
      <i class="icon-loading-large"></i>
    </div>
  </app-root>

  <!-- For cookie banner -->
  <script src="https://static.ithaka.org/gdpr-banner/js/banner.js" type="text/javascript"></script>

</body>
</html>
