/*styles for search content only*/

.card--asset {
    margin-bottom: 0px;
    height: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;

    & .card-img-top {
        text-align: center;
        height: 100px;
        position: relative;

        & img {
            /*@extend %vertical-center;*/
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }

    & .card-block {
        text-align: left;
    }

    &:hover, &:active, &:focus {
        background: #fdfdfd;
        border: 1px solid #eaeaea;
    }
}

.card-text {
    font-size:11px;
    line-height: 14px;
    margin-top: 12px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;

    & i {
        font-size: 16px;
    }
    & span {
        /*max-height: 2em;*/
        white-space: nowrap;
        display: block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.row--search-bar {
    margin-bottom: 20px;
}
.btn#sortdropdownMenu, .btn#pagesizedropdownMenu{
    color: #000;
}
.sortlist, .pagesizelist{
    list-style: none;
    display: inline-block;
}
.active-sort, .page-size{
    display: inline-block;
}
.filter-hdr a{
    color: #b64403;
}  
.card-text li{
    cursor: pointer;
} 

.filter-group__label{
    display: inline-block !important;
    width: 85% !important;
    font-weight: bold;
    color: #4f5557;
}
.filter-group h2{
    display: inline-block;
    cursor: pointer;
}
.filter-group{
    border-bottom: 1px solid #CECBA5;
}
.pag-controls{
    text-align: right;
}
.pag-controls input{
    font-size: 13px;
    height: 1.75em;
    width: 4.5em;
    margin: 0px 5px;
    text-align: center;
}
.pag-controls input:hover{
    border: 1px solid #b64404;
}
.pag-controls input:focus{
    border: 1px solid #b64404;
    outline: none;
}
.pag-controls .pag-info{
    vertical-align: middle;
    padding: 0px 5px;
}
.pag{
    display: inline-block;
    text-align: center;
    width: 1.35em;
    height: 1.35em;
    border: 1px solid #b64404;
    cursor: pointer;
    vertical-align: middle;
}
.pag.pag-first{
    background: url(/assets/img/pagination-icons/first.gif) 50% 50% no-repeat #b64404;
}
.pag.pag-first.disable{
    background: url(/assets/img/pagination-icons/first-disable.gif) 50% 50% no-repeat #b64404 !important;
    border: 1px solid #cecba5;
}
.pag.pag-first:hover{
    background: url(/assets/img/pagination-icons/first-hover.gif) 50% 50% no-repeat #b64404;
}
.pag.pag-prev{
    background: url(/assets/img/pagination-icons/prev.gif) 50% 50% no-repeat #b64404;
}
.pag.pag-prev.disable{
    background: url(/assets/img/pagination-icons/prev-disable.gif) 50% 50% no-repeat #b64404 !important;
    border: 1px solid #cecba5;
}
.pag.pag-prev:hover{
    background: url(/assets/img/pagination-icons/prev-hover.gif) 50% 50% no-repeat #b64404;
}
.pag.pag-last{
    background: url(/assets/img/pagination-icons/last.gif) 50% 50% no-repeat #b64404;
}
.pag.pag-last.disable{
    background: url(/assets/img/pagination-icons/last-disable.gif) 50% 50% no-repeat #b64404 !important;
    border: 1px solid #cecba5;
}
.pag.pag-last:hover{
    background: url(/assets/img/pagination-icons/last-hover.gif) 50% 50% no-repeat #b64404;
}
.pag.pag-next{
    background: url(/assets/img/pagination-icons/next.gif) 50% 50% no-repeat #b64404;
}
.pag.pag-next.disable{
    background: url(/assets/img/pagination-icons/next-disable.gif) 50% 50% no-repeat #b64404 !important;
    border: 1px solid #cecba5;
}
.pag.pag-next:hover{
    background: url(/assets/img/pagination-icons/next-hover.gif) 50% 50% no-repeat #b64404;
}