<div class="container main-content">
    <div class="row">
        <div class="col-sm-6">
            <h2>Filtered Search</h2>
        </div>
    </div>
    <div class="row row--search-bar">
        <div class="col-sm-4">
            <div class="input-group">
                <input [(ngModel)]="term" (keyup.enter)="searchAssets(term)" type="text" class="form-control" placeholder="Search term...">
                <span class="input-group-btn">
                <button (click)="searchAssets(term)" class="btn btn-secondary" type="button">Go</button>
                </span>
            </div>
        </div>
        <div class="col-sm-3">
            <li class="dropdown" class="sortlist" ngbDropdown>
                <button class="btn btn-link" id="sortdropdownMenu" ngbDropdownToggle>Sort</button>
                <div class="dropdown-menu" aria-labelledby="sortdropdownMenu">
                    <button class="dropdown-item" (click)="changeSortOpt('1', 'Title')">Title</button>
                    <button class="dropdown-item" (click)="changeSortOpt('2', 'Creator')">Creator</button>
                    <button class="dropdown-item" (click)="changeSortOpt('3', 'Date')">Date</button>
                    <button class="dropdown-item" (click)="changeSortOpt('0', 'Relevance')">Relevance</button>
                </div>
            </li>
            <span class="active-sort">{{ activeSort.label }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            WIP: Filters
        </div>
        <div class="col-sm-10">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div *ngFor="let asset of results" class="card card--asset col-sm-2">
                        <div class="card-img-top">
                            <img src="http://viewer2.artstor.org/{{ asset.thumbnailImgUrl }}" alt="Card image cap">
                        </div>
                        <div class="card-block card-text">
                            <span>{{ asset.thumbnail1 }}</span>
                            <span>{{ asset.thumbnail2 }}</span>
                            <span>{{ asset.thumbnail3 }}</span>
                            <span>{{ asset.thumbnail4 }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>