<nav-menu></nav-menu>
<div class="container main-content">
    <div class="row">
        <div class="col-sm-6">
            <h2>Filtered Search</h2>
        </div>
    </div>
    <div class="row row--search-bar">
        <div class="col-sm-4">
            <div class="input-group">
                <input [(ngModel)]="term" (keyup.enter)="searchAssets(term)" type="text" class="form-control" placeholder="Search term...">
                <span class="input-group-btn">
                <button (click)="searchAssets(term)" class="btn btn-secondary" type="button">Go</button>
                </span>
            </div>
        </div>
        <div class="col-sm-2">
            <li class="dropdown" class="sortlist" ngbDropdown>
                <button class="btn btn-link" id="sortdropdownMenu" ngbDropdownToggle>Sort</button>
                <div class="dropdown-menu" aria-labelledby="sortdropdownMenu">
                    <button class="dropdown-item" (click)="changeSortOpt('1', 'Title')">Title</button>
                    <button class="dropdown-item" (click)="changeSortOpt('2', 'Creator')">Creator</button>
                    <button class="dropdown-item" (click)="changeSortOpt('3', 'Date')">Date</button>
                    <button class="dropdown-item" (click)="changeSortOpt('0', 'Relevance')">Relevance</button>
                </div>
            </li>
            <span class="active-sort">{{ activeSort.label }}</span>
        </div>
        <div class="col-sm-3">
            <li class="dropdown" class="pagesizelist" ngbDropdown>
                <button class="btn btn-link" id="pagesizedropdownMenu" ngbDropdownToggle>Images/page</button>
                <div class="dropdown-menu" aria-labelledby="pagesizedropdownMenu">
                    <button class="dropdown-item" (click)="changePageSize('24')">24</button>
                    <button class="dropdown-item" (click)="changePageSize('48')">48</button>
                    <button class="dropdown-item" (click)="changePageSize('72')">72</button>
                </div>
            </li>
            <span class="page-size">{{ pagination.pageSize }}</span>
        </div>
        <div class="col-sm-3 pag-controls">
            <span class="pag pag-first" (click)="firstPage()" [ngClass]="{'disable': isfirstPage()}"></span>
            <span class="pag pag-prev" (click)="prevPage()" [ngClass]="{'disable': isfirstPage()}"></span>
            <span class="pag-info">Page</span>
            <input type="text" [(ngModel)]="pagination.currentPage" (blur)="currentPageOnblurr()" />
            <span class="pag-info">of {{ pagination.totalPages }}</span>
            <span class="pag pag-next" (click)="nextPage()" [ngClass]="{'disable': isLastPage()}"></span>
            <span class="pag pag-last" (click)="lastPage()" [ngClass]="{'disable': isLastPage()}"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            WIP: Filters
            <div class="filter-group"> 
                <span class="filter-group__label">Collection Type</span>
                <h2 class="small half-margin left-align"><a class="link right-block" (click)="clearAllFilterGroup('collTypes')">Clear</a></h2>
                <div class="filter" *ngFor="let collTypeFacet of collTypeFacets" (click)="toggleFilter(collTypeFacet.id, 'collTypes')" [ngClass]="{'active': filterApplied(collTypeFacet.id, 'collTypes')}">{{ collTypeFacet.label }}</div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div *ngFor="let asset of results" class="card card--asset col-sm-2">
                        <div class="card-img-top">
                            <img src="http://viewer2.artstor.org/{{ asset.thumbnailImgUrl }}" alt="Card image cap">
                        </div>
                        <div class="card-block card-text">
                            <i *ngIf="asset.cfObjectId.length > 0" class="icon icon-collab"></i>
                            <i *ngIf="asset.clustered == 1" class="icon icon-cluster"></i>
                            <i *ngIf="asset.iapFlag > 0" class="icon icon-iap"></i>
                            <i *ngIf="asset.objectTypeId == 24" class="icon icon-video"></i>
                            <i class="icon"><!--spacer--></i>
                            <span title="{{ asset.thumbnail1 }}">{{ asset.thumbnail1 }}</span>
                            <span title="{{ asset.thumbnail2 }}">{{ asset.thumbnail2 }}</span>
                            <span title="{{ asset.thumbnail3 }}">{{ asset.thumbnail3 }}</span>
                            <span title="{{ asset.thumbnail4 }}">{{ asset.thumbnail4 }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>