/*styles for search content only*/

.card--asset {
    margin-bottom: 0px;
    height: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;

    & .card-img-top {
        text-align: center;
        height: 100px;
        position: relative;

        & img {
            /*@extend %vertical-center;*/
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }

    & .card-block {
        text-align: left;
    }

    &:hover, &:active, &:focus {
        background: #fdfdfd;
        border: 1px solid #eaeaea;
    }
}

.card-text {
    font-size:12px;
    line-height: 18px;
    margin-top: 18px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;

    & span {
        /*max-height: 2em;*/
        white-space: nowrap;
        display: block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.row--search-bar {
    margin-bottom: 20px;
}.sortlist{
    list-style: none;
    display: inline-block;
}
.active-sort{
    display: inline-block;
}

.filter-grp{
    margin: 10px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #CECBA5;
}
/*.filter-hdr span{
    font-size: 15px;
    border: none;
    padding: 0;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #4f5557;
}*/
.filter-hdr a{
    color: #b64403;
    /*font-size: 13px;
    cursor: pointer;
    float: right;
    line-height: 22px;
    height: 22px;*/
}  
.card-text li{
    cursor: pointer;
} 