/*styles for search content only*/

.card--asset {
    margin-bottom: 0px;
    height: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 0px;
    cursor: pointer;

    & .card-img-top {
        text-align: center;
        height: 100px;
        position: relative;

        & img {
            /*@extend %vertical-center;*/
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }

    & .card-block {
        text-align: left;
    }

    &:hover, &:active, &:focus {
        background: #fdfdfd;
        border: 1px solid #eaeaea;
    }
}

.card-text {
    font-size:11px;
    line-height: 14px;
    margin-top: 12px;
    margin-bottom: 0px;
    padding: 0px;
    position: relative;

    & i {
        font-size: 16px;
    }
    & span {
        /*max-height: 2em;*/
        white-space: nowrap;
        display: block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.row--search-bar {
    margin-bottom: 20px;
}
.btn#sortdropdownMenu{
    color: #000;
}
.sortlist{
    list-style: none;
    display: inline-block;
}
.active-sort{
    display: inline-block;
}
.filter-hdr a{
    color: #b64403;
}  
.card-text li{
    cursor: pointer;
} 

.filter-group__label{
    display: inline-block !important;
    width: 85% !important;
    font-weight: bold;
    color: #4f5557;
}
.filter-group h2{
    display: inline-block;
    cursor: pointer;
}
.filter-group{
    border-bottom: 1px solid #CECBA5;
}