<div class="modal fade-in show">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 translate class="modal-title">IMAGE_GROUP_PAGE.DOWNLOAD_LIMIT_MODAL.TITLE</h4>
        <button type="button" class="close" (click)="closeModal.emit()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p translate>IMAGE_GROUP_PAGE.DOWNLOAD_LIMIT_MODAL.MAIN_BODY</p>
      </div>
      <div class="modal-footer">
        <button translate type="button" class="btn btn-primary" (click)="closeModal.emit()">IMAGE_GROUP_PAGE.DOWNLOAD_LIMIT_MODAL.CLOSE_BUTTON</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->