nav-menu
.container.main-content
  //- for accessibility so that page has title
  h1.hidden Artstor Home Page
  
  .row.my-4
    .col-sm-4
      h3.browse-category {{ 'Art and Visual Resources' | translate }}
      p.small(*ngIf="siteID=='SAHARA'", [innerHtml]="'HOME.CONTENT_ACCESS.SAHARA' | translate")
      p.small(*ngIf="siteID!='SAHARA'", [innerHtml]="'HOME.CONTENT_ACCESS.USER' | translate")
    .col-sm-5.search-highlight
      ang-search(tabindex="-1")#mainContent
  .row
    .col-sm-4
      #mainContent.card
        .card-header.pt-0
          h2.h1 {{ 'HOME.BROWSE.TITLE' | translate }}
        ul.list-group.list-group-flush.list-group-clean
          //- ADL Collections Link
          a#linkBrowseCollection.list-group-item(*ngIf="browseSec.collection", [routerLink]="['/browse','library']")
            h3.browse-category {{ 'HOME.BROWSE.COLL_HEADING' | translate }}
            p.small([innerHtml]="'HOME.BROWSE.COLL_LIST' | translate")
          //- Institutional Collections Link
          a#linkBrowseInstCollection.list-group-item(*ngIf="browseSec.instCollection", [routerLink]="['/browse','institution']")
            h3.browse-category {{ 'HOME.BROWSE.COLL_HEADING' | translate }}
            p.small([innerHtml]="'HOME.BROWSE.COLL_LIST_SHORT' | translate")
          //- Classification Link
          a#linkBrowseClassification.list-group-item(*ngIf="browseSec.classification", [routerLink]="['/browse','library', {viewId: 250}]")
            h3.browse-category {{ 'HOME.BROWSE.CLASS_HEADING' | translate }}
            p.small([innerHtml]="'HOME.BROWSE.CLASS_LIST' | translate")
          //- Geography Link
          a#linkBrowseGeography.list-group-item(*ngIf="browseSec.geography", [routerLink]="['/browse','library', {viewId: 260}]")
            h3.browse-category {{ 'HOME.BROWSE.GEO_HEADING' | translate }}
            p.small([innerHtml]="'HOME.BROWSE.GEO_LIST' | translate")
          //- Teaching Resources Link
          a#linkBrowseTeaching.list-group-item.pb-0(*ngIf="browseSec.teachingResources", [routerLink]="['/browse','groups', 'public']")
            h3.browse-category {{ 'HOME.BROWSE.TEACHING_HEADING' | translate }}
          //- Teaching resource description includes links, and should not be a child of the header
          p.small([innerHtml]="'HOME.BROWSE.TEACHING_LIST' | translate")
          //- Image Groups Link
          a#linkBrowseIGs.list-group-item(*ngIf="browseSec.imageGrps", [routerLink]="['/browse','groups', defaultGrpBrwseBy]")
            h3.browse-category {{ 'HOME.BROWSE.GROUPS_HEADING' | translate }}
            p.small([innerHtml]="'HOME.BROWSE.GROUPS_LIST' | translate")
      //- Institution Shared Shelf Collections
      .card(*ngIf="institution && instCollections.length > 0")
        .card-header
          h2 {{ 'HOME.HEADINGS.INSTITUTION_COLLECTIONS' | translate:{ institutionName: institution.shortName ? institution.shortName : 'Institutional' } }}
        .list--home-collections([class.loading]="loaders['instCollections']")
          .list-group.list-group-flush
            a.list-group-item.list-group-item-action(*ngFor="let collection of instCollections", [routerLink]="[ '/collection', collection.collectionid ]")
              span.notranslate  {{ collection.collectionname }}
        .card-block(*ngIf="errors.instCollections")
          #errorCollectionsLoading.alert.alert-warning(role="alert")
            strong Error
              | {{ errors.instCollections }}
      //- Shared Shelf Commons Collections
      .card.pb-3(*ngIf="showHomeSSC")
        .card-header
          h2 {{ 'HOME.HEADINGS.SSC' | translate }}
        a.link.sr-only.sr-only-focusable((click)="featuredCollection.focus()", (keydown.enter)="featuredCollection.focus()", tabindex="0") {{ 'HOME.LINKS.SKIP_COLLECTIONS' | translate }}
        .list--home-collections([class.loading]="loaders['collections']")
          ul.list-group.list-group-flush
            li.list-group-item.list-group-item-action(*ngFor="let collection of collections")
              a([routerLink]="[ '/collection', collection.collectionid ]")
                span.notranslate {{ collection.collectionname }}
        .card-block(*ngIf="errors.collections")
          #errorCollectionsLoading.alert.alert-warning(role="alert")
            strong Error
              | {{ errors.collections }}
    .col-sm-5
      a#featuredCollectionLink.card.featured-card(#featuredCollection="", [attr.href]="featuredCollectionConf + '.LINK' | translate")
        img.card-img-top.no-stretch([attr.src]="featuredCollectionConf + '.IMG_SOURCE' | translate", [attr.alt]="featuredCollectionConf + '.ALT_TEXT' | translate", [attr.title]="featuredCollectionConf + '.LINK_TITLE' | translate")
        .card-body.pt-1
          label(style="margin-bottom:0px;", [innerHtml]="featuredCollectionConf + '.HEADING' | translate")
          p(style="margin-bottom:6px;", [innerHtml]="featuredCollectionConf + '.SUBHEADING' | translate")
        div.featured-caption([innerHtml]="featuredCollectionConf + '.DESCRIPTION' | translate")
      .card(*ngIf="showBlog")
        .card-header
          h2([innerHtml]="'HOME.HEADINGS.FRM_BLOG' | translate")
        .loading(*ngIf="blogLoading")
        div(*ngIf="!blogLoading")
          a.blog-post(*ngFor="let post of blogPosts | slice:0:3", [href]="post['URL']", target="_blank")
            h3.blog-post__title([innerHtml]="post.title")
            p.blog-post__preview([innerHtml]="post.excerpt")
    .col-sm-3
      a#imageAdSpaceLink.card.hidden-xs-down(*ngIf="showHomeAd", [attr.href]=" 'HOME.AD.LINK' | translate ", target="_blank")
        img.card-img.no-stretch([attr.src]="'HOME.AD.IMG_SOURCE' | translate", [attr.alt]="'HOME.AD.ALT_TEXT' | translate")
      .card([class.pt-4]="showHomeAd")
        .card-header
          h3 {{ 'HOME.QUESTIONS.HEADING' | translate }}
        ul.list-group.list-group-flush.list-group-clean(*ngIf="siteID=='ARTSTOR'")
          a#linkEmailInstitutionContact.list-group-item.small([href]="institution.institutionContact && institution.institutionContact[0] && institution.institutionContact[0].email ? 'mailto:' + institution.institutionContact[0].email : 'mailto:userservices@artstor.org'") {{ 'HOME.QUESTIONS.EMAIL_INSTITUTION' | translate }}
          a#linkEmailArtstor.list-group-item.small([href]="artStorEmailLink") {{ 'HOME.QUESTIONS.EMAIL_ARTSTOR' | translate }}
          a#linkArtstorWebinar.list-group-item.small(href="http://www.artstor.org/webinars?view=ADL", target="_blank") {{ 'HOME.QUESTIONS.WEBINAR' | translate }}
          a#linkArtstorSurvey.list-group-item.small(href="https://www.surveymonkey.com/r/TW9SKC6", target="_blank") {{ 'HOME.QUESTIONS.SURVEY' | translate }}
          li#itemArtstorAccess.list-group-item.small(*ngIf="institution.displayName") {{ 'HOME.ACCESS_PROVIDED_BY' | translate }}
            br
            b {{ institution.displayName }}
        ul.list-group.list-group-flush.list-group-clean(*ngIf="siteID=='SAHARA'")
          li.list-group-item.small
            a.link--action(href="mailto:sahara@sah.org", [innerHtml]="'HOME.QUESTIONS.SAHARA_QUESTIONS' | translate")
          li.list-group-item.small
            a.link--action(href="mailto:support@artstor.org", [innerHtml]="'HOME.QUESTIONS.ARTSTOR_QUESTIONS' | translate") 
