<nav-menu></nav-menu>
<div class="container main-content">
    <div class="row">
        <div class="col-sm-4">
            <ang-search></ang-search>
            <div class="card">
                <div class="card-header">
                    <h1>Browse</h1>
                </div>
                <ul class="list-group list-group-flush list-group-clean">
                    <a id="linkBrowseGeography" class="list-group-item" [routerLink]="['/browse','library', {viewId: 260}]">
                        Geography
                        <p class="small">(Afghanistan, Albania, Algeria...)</p>
                    </a>
                    <a id="linkBrowseClassification" class="list-group-item" [routerLink]="['/browse','library', {viewId: 250}]">
                        Classification
                        <p class="small">(painting, performing arts, photography...)</p>
                    </a>
                    <a id="linkBrowseCollection" class="list-group-item" [routerLink]="['/browse','library', {viewId: 103}]">
                        Collection
                        <p class="small">(Artstor, Shared Shelf, Shared Shelf Commons, My Collections...)</p>
                    </a>
                    <a id="linkBrowseTeaching" class="list-group-item" [routerLink]="['/browse','groups']">
                        Teaching Resources
                        <p class="small">(Curriculum Guides, AP® Resources, Surveys and Case Studies: Art History, Humanities and Social Sciences)</p>
                    </a>
                </ul>

            </div>
             <div class="card">
                <div class="card-header">
                    <h2>What's New</h2>
                </div>
                <div class="loading" *ngIf="blogLoading"></div>
                <div *ngIf="!blogLoading">
                    <a class="blog-post" *ngFor="let post of blogPosts | slice:0:3" [href]="post['URL']">
                        <h3 class="blog-post__title">{{ post.title }}</h3>
                        <p class="blog-post__preview" [innerHtml]="post.excerpt"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-header">Placeholder: Featured Collection</div>
            </div>
            <!--Shared Shelf Commons Collections-->
            <div class="card">
                <div class="card-header">
                    <h2>Shared Shelf Commons</h2>
                </div>
                <div class="list--home-collections" [class.loading]="loaders['collections']">
                    <div class="list-group list-group-flush">
                        <a *ngFor="let collection of collections" class="list-group-item list-group-item-action" [routerLink]="[ '/collection', collection.collectionid ]">
                                {{ collection.collectionname }}
                        </a>
                    </div>
                </div>
                <div *ngIf="errors.collections" class="card-block">
                    <div id="errorCollectionsLoading" class="alert alert-warning" role="alert">
                        <strong>Error</strong> {{ errors.collections }}
                    </div>
                </div>
            </div>
             <!-- Institution Shared Shelf Collections-->
            <div *ngIf="institution && institution.displayName" class="card">
                <div class="card-header">
                    <h2>{{ institution.displayName }} Collections</h2>
                </div>
                <div class="list--home-collections" [class.loading]="loaders['instCollections']">
                    <div class="list-group list-group-flush">
                        <a *ngFor="let collection of instCollections" class="list-group-item list-group-item-action" [routerLink]="[ '/collection', collection.collectionid ]">
                                {{ collection.collectionname }}
                        </a>
                    </div>
                </div>
                <div *ngIf="errors.instCollections" class="card-block">
                    <div id="errorCollectionsLoading" class="alert alert-warning" role="alert">
                        <strong>Error</strong> {{ errors.instCollections }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <a id="imageAdSpaceLink" class="card" href="http://www.artstor.org/webinars?view=ADL" target="_blank">
                <img class="card-img-top no-stretch" src="/assets/img/promo-webinar.gif" alt="Try a webinar!">
            </a>
            <div class="card pt-4">
                <div class="card-header">
                    <h3>Questions</h3>
                </div>
                 <ul class="list-group list-group-flush list-group-clean">
                    <a id="linkEmailInstitutionContact" class="list-group-item small" [href]="institution.institutionContact && institution.institutionContact[0] && institution.institutionContact[0].email ? 'mailto:' + institution.institutionContact[0].email : 'mailto:userservices@artstor.org'">
                        Email your institutional contact
                    </a>
                    <a id="linkEmailArtstor" class="list-group-item small" href="mailto:userservices@artstor.org">
                        Email Artstor
                    </a>
                    <a id="linkArtstorWebinar" class="list-group-item small" href="http://support.artstor.org/Online_training_schedule/" target="_blank">
                        Sign up for an Artstor webinar
                    </a>
                    <a id="linkArtstorSurvey" class="list-group-item small" href="https://www.surveymonkey.com/r/TW9SKC6" target="_blank">
                        Take a survey: Tell us what you think!
                    </a>
                    <li id="itemArtstorAccess" class="list-group-item small" *ngIf="institution.displayName">
                        Your access to Artstor is provided by:<br/>
                        <b>{{ institution.displayName }}</b>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>