<div class="container-fluid main-content">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
              <div class="card-block">
                <div class="input-group">
                  <input [(ngModel)]="term" (keyup.enter)="searchAssets(term)" type="text" class="form-control" placeholder="Search term...">
                  <span class="input-group-btn">
                    <button (click)="searchAssets(term)" class="btn btn-secondary" type="button">Go</button>
                  </span>
                </div>
              </div>
            </div>
             <div class="card">
                <div class="card-header">Placeholder: Browse (Geography, Classification, Collection, Teaching Resources)</div>
            </div>
             <div class="card">
                <div class="card-header">Placeholder: What's New (Artstor Blog)</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Placeholder: Featured Collection</div>
            </div>
            <div class="card">
                <div class="card-header">Placeholder: Folders & Image Groups Link</div>
            </div>
            <div class="card">
                <div class="card-header">WIP: Shared Shelf Commons</div>
                <ul class="list-group list-group-flush list--home-collections">
                    <li *ngFor="let collection of collections" class="list-group-item">
                        <a href="?collection={{ collection.collectionid}}">{{ collection.collectionname }}</a>
                    </li>
                </ul>
                <div *ngIf="errors.collections" class="card-block">
                    <div class="alert alert-warning" role="alert">
                        <strong>Error</strong> {{ errors.collections }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">Placeholder: Artstor Ad Spot</div>
            </div>
            <div class="card">
                <div class="card-header">Questions</div>
                 <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        Email your <a href="mailto:userservices@artstor.org">institutional contact</a>
                    </li>
                    <li class="list-group-item">
                    Email <a href="mailto:userservices@artstor.org">Artstor</a>
                    </li>
                    <li class="list-group-item">
                        <a href="http://support.artstor.org/Online_training_schedule/" target="_blank">Sign up for an Artstor webinar</a>
                    </li>
                    <li class="list-group-item">
                        <a href="https://www.surveymonkey.com/r/TW9SKC6" target="_blank">Take a survey: Tell us what you think!</a>
                    </li>
                    <li class="list-group-item" *ngIf="user">
                        Your access to Artstor is provided by: {{ user.institutionName }}
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>