@import '../../sass/core/variables';
@import '../../sass/core/typography';

/*styles for home content only*/
.list--home-collections {
    border: 1px solid #cdcdcd;
    min-height: 80px;
    max-height: 350px;
    overflow-y: auto;
    position: relative;
}

.list-group.list-group-clean {
    li, a.list-group-item {
        border: none;
        padding-right: 10px;
        padding-left: 10px;
        margin-left: -10px;
        margin-right: -10px;

        & p {
            margin: 0px;
        }
    }
    li.list-group-item {
      display: block;
    }
}

.featured-caption {
    @extend %SansRegular;
    font-size: 10px;
    line-height: 14px;
    text-align: left;
    padding-bottom: 14px;
}

.featured-card {
    & .card-img-top {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    &:hover {
        color: $blue;
    }
}

.browse-category {
    font-size: 18px;
    line-height: 1.1em;
    font-weight: bold;
}

.card-body {
  padding: 0px;
}

#home-promo {
    margin-top: 20px;
}
