@import '../../sass/core/variables';

/*styles for home content only*/
.list--home-collections {
    border: 1px solid #cdcdcd;
    max-height: 400px;
    overflow-y: scroll;
}

.list-group.list-group-clean {
    li, a.list-group-item {
        border: none;
        padding-right: 2px;
        padding-left: 2px;
    }
}

h1, h2 {
    color: $green;
}

h3 {
    color: $green;
    font-weight: normal;
}
