<nav-menu></nav-menu>
<div class="container main-content">
    <div class="row">
        <div class="col-sm-4">
            <ang-search></ang-search>
            <div class="card pt-2">
                <div class="card-header">
                    <h1>Browse</h1>
                </div>
                <ul class="list-group list-group-flush list-group-clean">
                    <a id="linkBrowseGeography" class="list-group-item" [routerLink]="['/browse','library', {viewId: 260}]">
                        <h3 class="browse-category">Geography</h3>
                        <p class="small">(Afghanistan, Albania, Algeria...)</p>
                    </a>
                    <a id="linkBrowseClassification" class="list-group-item" [routerLink]="['/browse','library', {viewId: 250}]">
                        <h3 class="browse-category">Classification</h3>
                        <p class="small">(painting, performing arts, photography...)</p>
                    </a>
                    <a id="linkBrowseCollection" class="list-group-item" [routerLink]="['/browse','library', {viewId: 103}]">
                        <h3 class="browse-category">Collection</h3>
                        <p class="small">(Artstor, Shared Shelf, Shared Shelf Commons, My Collections...)</p>
                    </a>
                    <a id="linkBrowseTeaching" class="list-group-item" [routerLink]="['/browse','groups', 'public']">
                        <h3 class="browse-category">Teaching Resources</h3>
                        <p class="small">(Curriculum Guides, AP® Resources, Surveys and Case Studies: Art History, Humanities and Social Sciences)</p>
                    </a>
                    <a id="linkBrowseIGs" class="list-group-item" [routerLink]="['/browse','groups', 'institution']">
                        <h3 class="browse-category">Image Groups</h3>
                        <p class="small">(My groups and groups shared by others at my institution)</p>
                    </a>
                </ul>

            </div>
             <!-- Institution Shared Shelf Collections-->
            <div *ngIf="institution && instCollections.length > 0" class="card">
                <div class="card-header">
                    <h2>{{ institution.displayName ? institution.displayName : "Institutional" }} Collections</h2>
                </div>
                <div class="list--home-collections" [class.loading]="loaders['instCollections']">
                    <div class="list-group list-group-flush">
                        <a *ngFor="let collection of instCollections" class="list-group-item list-group-item-action" [routerLink]="[ '/collection', collection.collectionid ]">
                                {{ collection.collectionname }}
                        </a>
                    </div>
                </div>
                <div *ngIf="errors.instCollections" class="card-block">
                    <div id="errorCollectionsLoading" class="alert alert-warning" role="alert">
                        <strong>Error</strong> {{ errors.instCollections }}
                    </div>
                </div>
            </div>
            <!--Shared Shelf Commons Collections-->
            <div class="card pb-3">
                <div class="card-header">
                    <h2>Shared Shelf Commons</h2>
                </div>
                <div class="list--home-collections" [class.loading]="loaders['collections']">
                    <div class="list-group list-group-flush">
                        <a *ngFor="let collection of collections" class="list-group-item list-group-item-action" [routerLink]="[ '/collection', collection.collectionid ]">
                                {{ collection.collectionname }}
                        </a>
                    </div>
                </div>
                <div *ngIf="errors.collections" class="card-block">
                    <div id="errorCollectionsLoading" class="alert alert-warning" role="alert">
                        <strong>Error</strong> {{ errors.collections }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <a id="featuredCollectionLink" class="card featured-card" href="/#/category/10374058919;name=The%20Andy%20Warhol%20Foundation%20for%20the%20Visual%20Arts%3A%20Oeuvre%20458"> 
                <img class="card-img-top no-stretch" src="/assets/img/featured-collection.jpg" alt="Collection: Ezra Stoller Archive (Esto)">
                <div class="card-body pt-1">
                    <label style="margin-bottom:0px;">Featured Collection</label>
                    <p style="margin-bottom:6px;">The Andy Warhol Foundation for the Visual Arts: Oeuvre</p>
                </div>
                <div class="featured-caption">Andy Warhol; Red Jackie; 1964. Images © The Andy Warhol Foundation for the Visual Arts, Inc. and Andy Warhol artwork © The Andy Warhol Foundation for the Visual Arts, Inc.</div>
            </a>
            <div class="card">
                <div class="card-header">
                    <h2>From Our Blog</h2>
                </div>
                <div class="loading" *ngIf="blogLoading"></div>
                <div *ngIf="!blogLoading">
                    <a class="blog-post" *ngFor="let post of blogPosts | slice:0:3" [href]="post['URL']" target="_blank">
                        <h3 class="blog-post__title" [innerHtml]="post.title"></h3>
                        <p class="blog-post__preview" [innerHtml]="post.excerpt"></p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <a id="imageAdSpaceLink" class="card hidden-xs-down" href="http://www.artstor.org/webinars?view=ADL" target="_blank">
                <img class="card-img no-stretch" src="/assets/img/promo-webinar.gif" alt="Try a webinar!">
            </a>
            <div class="card pt-4">
                <div class="card-header">
                    <h3>Questions</h3>
                </div>
                 <ul class="list-group list-group-flush list-group-clean">
                    <a id="linkEmailInstitutionContact" class="list-group-item small" [href]="institution.institutionContact && institution.institutionContact[0] && institution.institutionContact[0].email ? 'mailto:' + institution.institutionContact[0].email : 'mailto:userservices@artstor.org'">
                        Email your institutional contact
                    </a>
                    <a id="linkEmailArtstor" class="list-group-item small" href="mailto:userservices@artstor.org">
                        Email Artstor
                    </a>
                    <a id="linkArtstorWebinar" class="list-group-item small" href="http://www.artstor.org/webinars?view=ADL" target="_blank">
                        Sign up for an Artstor webinar
                    </a>
                    <a id="linkArtstorSurvey" class="list-group-item small" href="https://www.surveymonkey.com/r/TW9SKC6" target="_blank">
                        Take a survey: Tell us what you think!
                    </a>
                    <li id="itemArtstorAccess" class="list-group-item small" *ngIf="institution.displayName">
                        Your access to Artstor is provided by:<br/>
                        <b>{{ institution.displayName }}</b>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>