<div class="container-fluid">
  <div class="footer row">
    <div class="col-12">
      <a class="link" target="_blank" href="http://www.artstor.org/what-is-artstor/w-html/artstor-overview.shtml">About</a>
      <a class="link" target="_blank" href="http://www.artstor.org/using-artstor/u-html/getting-started.shtml">Getting Started</a>
      <a class="link" target="_blank" href="http://www.artstor.org/blog">Teaching and Study Ideas</a>
      <a class="link" target="_blank" href="http://www.artstor.org/news/n-html/send-me-artstor-news.shtml">Stay Informed</a>
      <a class="link" target="_blank" href="http://www.artstor.org/terms">Terms</a>
      <a class="link" target="_blank" href="http://www.artstor.org/our-organization/o-html/privacy-policy.shtml">Privacy</a>
      <a class="link" target="_blank" href="http://www.artstor.org/our-organization/o-html/copyright.shtml">Copyright Concerns</a>
      <a class="link" target="_blank" href="http://support.artstor.org/">Support</a>
      <!--<a class="link footer-logout" (click)="logout()">Log Out</a>-->
      <a class="link footer-logout" (click)="logout()" *ngIf="user && user.isLoggedIn">Log Out</a>
      <a class="link footer-logout" [routerLink]="['/login']" *ngIf="!user || !user.isLoggedIn">Log In</a>
    </div>
     <div class="col-12 center">
      <a href="http://artstor.org" target="_blank">&copy; {{ currentYear }} Artstor, Inc.</a><br/>
      <span style="color: #cdcdcd;">v{{ appVersion }}</span>
    </div>
  </div>
</div>