.container-fluid
  .footer.row
    .col-12
      span(*ngFor="let link of links", [innerHtml]="'FOOTER.LINKS.' + link | translate")
      = " "
      #google_translate_element.translate-flyout
      a.link.footer-logout((click)="logout()", *ngIf="user && user.isLoggedIn") Log Out
      a.link.footer-logout([routerLink]="['/login']", *ngIf="!user || !user.isLoggedIn") Log In
    .col-12.center
      a(href="http://artstor.org", target="_blank") &copy; {{ currentYear }} Artstor, Inc.
      br
      span(style="color: #cdcdcd;") v{{ appVersion }}
