.container-fluid
  .footer.row
    .container
      .row
        .col-md-6.col--explore
          .h1(*ngIf="siteID === 'ARTSTOR'") Explore Artstor
          .h1(*ngIf="siteID === 'SAHARA'") Explore SAHARA
          //- ADL Collections Link
          span(*ngIf="!_auth.isPublicOnly()")
            a.link#footerLinkBrowseCollection.footer__explore-link(*ngIf="browseSec.collection", [routerLink]="['/browse','library']")
              h2.browse-category {{ 'HOME.BROWSE.COLL_HEADING' | translate }}
              p.small([innerHtml]="'HOME.BROWSE.COLL_LIST' | translate")
          //- Institutional Collections Link
          span(*ngIf="!_auth.isPublicOnly()")
            a.link#footerLinkBrowseInstCollection.footer__explore-link(*ngIf="browseSec.instCollection", [routerLink]="['/browse','institution']")
              h2.browse-category {{ 'HOME.BROWSE.COLL_HEADING' | translate }}
              p.small([innerHtml]="'HOME.BROWSE.COLL_LIST_SHORT' | translate")
          //- Classification Link
          span(*ngIf="!_auth.isPublicOnly()")
            a.link#footerLinkBrowseClassification.footer__explore-link(*ngIf="browseSec.classification", [routerLink]="['/browse','library', {viewId: 250}]")
              h2.browse-category {{ 'HOME.BROWSE.CLASS_HEADING' | translate }}
              p.small([innerHtml]="'HOME.BROWSE.CLASS_LIST' | translate")
          //- Geography Link
          span(*ngIf="!_auth.isPublicOnly()")
            a.link#footerLinkBrowseGeography.footer__explore-link(*ngIf="browseSec.geography", [routerLink]="['/browse','library', {viewId: 260}]")
              h2.browse-category {{ 'HOME.BROWSE.GEO_HEADING' | translate }}
              p.small([innerHtml]="'HOME.BROWSE.GEO_LIST' | translate")
          //- Teaching Resources Link
          span(*ngIf="!_auth.isPublicOnly()")
            a.link#footerLinkBrowseTeaching.footer__explore-link(*ngIf="browseSec.teachingResources", [routerLink]="['/browse','groups', 'public']")
              h2.browse-category {{ 'HOME.BROWSE.TEACHING_HEADING' | translate }}
          //- Teaching resource description includes links, and should not be a child of the header
          span(*ngIf="!_auth.isPublicOnly()")
            p.small(*ngIf="siteID != 'SAHARA'", [innerHtml]="'HOME.BROWSE.TEACHING_LIST' | translate")
          //- Image Groups Link
          span(*ngIf="!_auth.isPublicOnly()")
            a.link#footerLinkBrowseIGs.footer__explore-link(*ngIf="browseSec.imageGrps", [routerLink]="['/browse','groups', 'institution']")
              h2.browse-category {{ 'HOME.BROWSE.GROUPS_HEADING' | translate }}
              p.small(*ngIf="siteID != 'SAHARA'", [innerHtml]="'HOME.BROWSE.GROUPS_LIST' | translate")
              p.small(*ngIf="siteID === 'SAHARA'", [innerHtml]="'HOME.BROWSE.GROUPS_LIST_SAHARA' | translate")
          //- Public Collections for Unaffiliated users
          span(*ngIf="_auth.isPublicOnly() && siteID != 'SAHARA'")
            a.link#footerLinkBrowseIGs.footer__explore-link([routerLink]="['/browse','commons']")
              h2.browse-category {{ 'HOME.BROWSE.PUB_COLL_HEADING' | translate }}
              p.small([innerHtml]="'HOME.BROWSE.PUB_COLL_LIST' | translate")
          //- More Content for Unaffiliated users
          span(*ngIf="_auth.isPublicOnly() && siteID != 'SAHARA'")
            a.link#footerLinkBrowseIGs.footer__explore-link([routerLink]="['/login']")
              h2.browse-category {{ 'HOME.BROWSE.MORE_CONT_HEADING' | translate }}
              p.small([innerHtml]="'HOME.BROWSE.MORE_CONT_LIST' | translate")
          //- SAHARA Public Login Page Footer - Left
          span(*ngIf="_auth.isPublicOnly() && siteID === 'SAHARA'")
            p.small([innerHtml]=" 'SAHARA.DESCRIPTION' | translate")
            //- SAHARA Public Collection Link on Artstor
            h2.browse-category {{ 'HOME.BROWSE.PUB_COLL_HEADING' | translate }}
            a.link([routerLink]="['/collection/87732181']" target="_blank")
              | Society of Architectural Historians SAHARA Collection
          //- Prompt to log in for unaffiliated users
          a.link(*ngIf="_auth.isPublicOnly() && siteID != 'SAHARA'", [routerLink]="['/login']") Log in to see more
        //- mobile divider
        .col-sm-12.d-md-none
          hr
        .col-md-3.col-6
          ul.list-unstyled
            li(*ngFor="let link of links", [innerHtml]="'FOOTER.LINKS.' + link | translate")
            = " "
            //- li
            //-   a.link.footer-logout((click)="logout()", *ngIf="user && !_auth.isPublicOnly()") Log Out
            //- li
            //-   a.link.footer-logout([routerLink]="['/login']", *ngIf="!user || _auth.isPublicOnly()") Log In
          .mt-1
            #google_translate_element.translate-flyout
        .col-md-3.col-6
          div.social-icons
            a.icon.icon-facebook(target="_blank" href="https://www.facebook.com/ARTstor" title="Keep up with Artstor on Facebook")
            a.icon.icon-twitter(target="_blank" href="http://twitter.com/#!/artstor" title="Follow us on Twitter")
            a.icon.icon-youtube(target="_blank" href="http://www.youtube.com/user/artstor" title="Watch Artstor on YouTube")
            a.icon.icon-wordpress(target="_blank" href="http://artstor.wordpress.com/" title="View the Artstor Blog")
            a.icon.icon-newsletter(target="_blank" href="http://artstor.org/content/join-our-mailings" title="Subscribe to our Newsletter")
            a.icon.icon-contact(target="_blank" href="http://www.artstor.org/form/contact-us" title="Contact Us")
          p.small([innerHtml]="'FOOTER.DISCLAIMER' | translate")
          p.small &copy;2000-{{ currentYear }} ITHAKA.
          p.small {{ 'FOOTER.RIGHTS' | translate }}
          p.small v{{ appVersion }}
