<div class="container-fluid">
  <div class="footer row">
    <div class="col-12">
      <span *ngFor="let link of links" [innerHtml]="'FOOTER.LINKS.' + link | translate"></span>
      <div class="translate-flyout" id="google_translate_element"></div>
      
      <a class="link footer-logout" (click)="logout()" *ngIf="user && user.isLoggedIn">Log Out</a>
      <a class="link footer-logout" [routerLink]="['/login']" *ngIf="!user || !user.isLoggedIn">Log In</a>
    </div>
     <div class="col-12 center">
      <a href="http://artstor.org" target="_blank">&copy; {{ currentYear }} Artstor, Inc.</a><br/>
      <span style="color: #cdcdcd;">v{{ appVersion }}</span>
    </div>
  </div>
</div>