/*Footer styles only*/

$footerBg: #f9f9f9;

.footer {
    padding: 15px;
    text-align: center;
    font-size: 11px;
    line-height: 24px;
    background: $footerBg;
    // border-top: 1px solid rgba(0, 0, 0, 0.15);

    & a {
        border-bottom: none;
        margin: 0 5px;
        text-decoration: none;

        &.footer-logout{
            display: inline-block;
            @media (min-width: 576px) {
                display: none;
            }
        }
    }
}