<nav-menu [allowSelectAll]="true"></nav-menu>
<div id="mainContent" class="container main-content" tabindex="-1">
  <div class="row">
    <div class="col-sm-3">
      <div class="mobile--hide">
        <h1>Filtered Search</h1>
        <ang-asset-filters></ang-asset-filters>
      </div>
    </div>
    <div class="col-sm-9">
      <h1 class="mobile--show">Results</h1>
      <div class="row no-gutters row--search-bar">
          <div *ngIf="_auth.featureFlags['solrSearch']" class="alert alert-info">
            <strong>Beta Search</strong> You have activated the new Sycamore search!<br/>
            <a class="link" tabindex="1" (click)="_auth.featureFlags['solrSearch'] = false; _router.navigate(['/search'])">Return to current search</a>
          </div>
          <div class="col-md-7">
              <ang-search [allowSearchInRes]="true"></ang-search>
          </div>
      </div>

      <ang-asset-grid></ang-asset-grid>
    </div>
  </div>
</div>