@import '../../sass/core/variables';

.container.main-content {
  padding: 25px 25px 0;
  @media (min-width: $phone) {
    padding: 0;
  }
}

.no-scroll {
  overflow: hidden;
}

.collapse-pane {
  transition: all 0.4s linear;
  max-width: 0px;
  flex: 0 0 0 0;
}

.feature-pane__toggle {
  position: absolute;
  top: 100px;
  right: 0px;
  font-size: 12px;
  width: 85px;
  text-align: right;
  padding-right: $basePadding/2;

  .collapse-pane & {
    // right: 600px;
  }
}

.feature-pane {
  margin-top: 130px;
  padding: $basePadding/2;
  border: 1px solid $color-gray-4;
  border-radius: 3px;
  transition: all 0.4s linear;
  transform: translateX(0px);

  .collapse-pane & {
    min-width: 200px;
    position: absolute;
    transform: translateX(300px);
  }

  label {
    color: $color-gray-5;
    display: block;
    text-align: right;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  .notes, .bio {
    font-size: 12px;
    line-height: 16px;
  }

  .relations-block {
    margin: 1rem 0px;

    & .link {
      font-size: 12px;
    }
  }

  .relation {
    font-style: italic;
  }


}