<nav-menu (generateImgUrl)="generateSelectedImgURL($event)"></nav-menu>
<div class="container main-content">
  <div class="row">
    <div class="col-sm-3">
      <div class="mobile--hide">
        <h1>Filtered Search</h1>
        <ang-asset-filters></ang-asset-filters>
      </div>
    </div>
    <div class="col-sm-9">
      <h1 class="mobile--show">Results</h1>
      <div class="row row--search-bar">
          <div class="col-md-5">
              <ang-search></ang-search>
          </div>
      </div>

      <ang-asset-grid></ang-asset-grid>
    </div>
  </div>
</div>