nav-menu([allowSelectAll]="true")
#mainContent.container.main-content(tabindex="-1")
  .row
    .col-sm-3
      .mobile--hide
        h1 Filtered Search
        ang-asset-filters
    .col-sm-9
      h1.mobile--show Results
      .row.no-gutters.row--search-bar
        .col-md-7
          ang-search([allowSearchInRes]="true")
      ang-asset-grid([hasMaxAssetLimit]="true")
