
$infoColor: $blue;

.alert {
    @extend %SansRegular;
    font-size: 12px;
    line-height: 14px;
    margin: $basePadding/2 0;
    background: #fafafa;
    border-radius: 0;

    & h1, h2, h3, h4, h5, h6 {
        color: inherit;
    }
}

.alert-dismissible {
    & .close {
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
}

.alert-info {
    border-color: $infoColor;
    color: $infoColor;
}