
$infoColor: $blue;

/**
 * @atom Alert Warning
 * @section Alerts
 * @markup
 *  <div aria-label="no search term alert" class="alert alert-warning" id="empty-search-alert" role="alert" tabindex="0">Please enter search term(s).</div>
 */

.alert {
    @extend %SansRegular;
    font-size: 12px;
    line-height: 14px;
    margin: $basePadding/2 0;
    background: #fafafa;
    border-radius: 0;

    & h1, h2, h3, h4, h5, h6 {
        color: inherit;
    }
}

.alert-dismissible {
    & .close {
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
}


/**
 * @atom Alert Info
 * @section Alerts
 * @markup
 *  <div aria-label="no search term alert" class="alert alert-info" id="empty-search-alert" role="alert" tabindex="0">Please enter search term(s).</div>
 */
.alert-info {
    border-color: $infoColor;
    color: $infoColor;
}