/**
 * # Base
 * Styles for default HTML elements (not including type, eg. H1, H2, P...) 
 */

 /**
 * @atom Horizontal Rule
 * @section Base
 * @markup
 *  <hr />
 */
 hr {
     background: none;    
     height: 0;
     border-top: none;
     border-bottom: 1px solid $teal;
 }