/**
 * # Buttons
 * Variations for buttons, links, and clickable icons
 */

$primaryBtnColor: #ca4d2d;

/**
 * @atom Button 
 * @section Navigation > Buttons
 * @markup
 *  <button type="button" class="btn btn-primary">Primary</button>
 *  <button type="button" class="btn btn-secondary">Secondary</button>
 *  <button type="button" class="btn btn-success">Success</button>
 *  <button type="button" class="btn btn-info">Info</button>
 *  <button type="button" class="btn btn-warning">Warning</button>
 *  <button type="button" class="btn btn-danger">Danger</button>
 *  <button type="button" class="btn btn-link">Link</button>
 */
 .btn-primary {
     @extend %Graphik-Bold-Web;
     font-size: 12px;
     background: $primaryBtnColor;
     color: #fff;
     border-color: $primaryBtnColor;
     padding: 8px 24px;
     text-transform: uppercase;
     letter-spacing: 1px;

     &:hover, &:focus, &:active {
        background: darken($primaryBtnColor, 10%);
        border-color: darken($primaryBtnColor, 10%);
     }
 }
 
 .btn-secondary {
     background: rgb(220,220,220);
 }