/**
 * # Buttons
 * Variations for buttons, links, and clickable icons
 */

$primaryBtnColor: #ca4d2d;
$secondaryBtnColor: rgb(225,225,225);
$btnLinkHoverBg: rgb(230,230,230);

.btn {
     @extend %Graphik-Bold-Web;
     color: #fff;
     font-size: 12px;
     padding: 8px 24px;
     text-transform: uppercase;
     letter-spacing: 1px;

     &:hover, &:focus, &:active {
         color: #fff;
     }
}

/**
 * @atom Button 
 * @section Navigation > Buttons
 * @markup
 *  <button type="button" class="btn btn-primary">Primary</button>
 *  <button type="button" class="btn btn-secondary">Secondary</button>
 *  <button type="button" class="btn btn-success">Success</button>
 *  <button type="button" class="btn btn-info">Info</button>
 *  <button type="button" class="btn btn-warning">Warning</button>
 *  <button type="button" class="btn btn-danger">Danger</button>
 *  <button type="button" class="btn btn-link">Link</button>
 */
 .btn-primary {
     background: $primaryBtnColor;
     border-color: $primaryBtnColor;

     &:hover, &:focus, &:active {
        background: darken($primaryBtnColor, 10%);
        border-color: darken($primaryBtnColor, 10%);
     }
 }
 
 .btn-secondary {
     background: $secondaryBtnColor;
     border-color: $secondaryBtnColor;

     &:hover, &:focus, &:active {
        background: darken($secondaryBtnColor, 10%);
        border-color: darken($secondaryBtnColor, 10%);
     }
 }

 .btn.btn-link {
     text-transform: none !important;
     padding: 0px 3px;
     color: #999;
     
     &.with-pad {
        margin: 0px 24px;
     }

     &:active {
         text-decoration: none;
         outline: none;
     }

     &:hover, &:focus  {
         text-decoration: none;
         color: #000;
         outline: none;

         & .value {
             text-decoration: underline;
         }
     }

     & .value {
         color: #000;
         letter-spacing: 0px;
         font-weight: normal;
     }
 }

 .btn.dropdown-toggle {
     padding-right: 10px;
 }