/**
 * # Buttons
 * Variations for buttons, links, and clickable icons
 */

$primaryBtnBg: $orange;
$primaryBtnColor: #fff;
$secondaryBtnBg: rgb(200,200,200);
$secondaryBtnColor: #fff;
$btnLinkHoverBg: rgb(230,230,230);
$btnShadow: none;

$btnHeight: 30px;
$iconBtnSize: $btnHeight;

.btn, a.btn {
     @extend %Graphik-Bold-Web;
     color: #fff;
     font-size: 12px;
     padding: 0 24px;
     text-transform: uppercase;
     letter-spacing: 0.5px;
     border-bottom: none;
     cursor: pointer;
     height: $btnHeight;
     line-height: $btnHeight;

     &:hover, &:focus, &:active {
         color: #fff;
        border-bottom: none;
     }

     &.disabled, &:disabled {
         pointer-events: none;
         opacity: 0.4;
         -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
     }
}

/**
 * @atom Button 
 * @section Navigation > Buttons
 * @markup
 *  <button type="button" class="btn btn-primary">Primary</button>
 *  <button type="button" class="btn btn-secondary">Secondary</button>
 *  <button type="button" class="btn btn-success">Success</button>
 *  <button type="button" class="btn btn-info">Info</button>
 *  <button type="button" class="btn btn-warning">Warning</button>
 *  <button type="button" class="btn btn-danger">Danger</button>
 *  <button type="button" class="btn btn-link">Link</button>
 */

 .btn-primary, a.btn-primary {
    background: #C9510D;
    border-color: #C9510D;

    &:hover, &:focus, &:active {
       background: darken(#C9510D, 10%);
       border-color: darken(#C9510D, 10%);
    }
}
 

 .btn-secondary, a.btn-secondary {
    background: white;
    border: solid 1px #C9510D;
    color: #C9510D;

    &:hover, &:focus, &:active, &.active {
        background-color: #C9510D;
        color: white;
    }

    // Override Bootstrap default
    &.disabled, &:disabled {
        background: white;
        border-color:#C9510D;
    }
}

 .btn-dark {
     background: #2d2d2d;
     color: #fff;
 }

 .btn-light {
     background: rgba(255, 255, 255, 0.98);
     color: #333;

     &:hover, &:active {
         background: $btnLinkHoverBg;
     }

     &:hover, &:active, &:focus, &:visited {
         color: #000;
     }
 }

 .btn:not(.btn--icon) > .icon {
    margin: 0 0.5em;
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
    transform: translateY(-0.1em);
 }

 .btn.btn-link, a.btn.btn-link { 
     text-transform: none !important;
     padding: 0 6px 0 0;
     color: #000;
     background: none;
     
     &.with-pad {
        margin: 0 24px;
     }

     &:active {
         text-decoration: none;
         outline: none;
     }

     &.active{
        color: #0039c6;
     }

     &:hover, &:focus  {
         text-decoration: none;
         color: #0039c6;
         outline: none;
         background: none;

         & .value {
             text-decoration: underline;
         }
     }

     & .value {
         color: #000;
         letter-spacing: 0;
         font-weight: normal;
     }
 }

 .btn.dropdown-toggle {
     padding-right: 10px;
 }

 .btn.loading {
    @extend .progress-bar-striped;
    @extend .progress-bar-animated;
    color: rgba(255,255,255,0.5);
    pointer-events: none;

    // Hide other class
    &:after {
        display: none !important;
    }
 }

 $btnBorderRadius: 0;

.btn.btn--square {
    height: $iconBtnSize;
    width: $iconBtnSize;
    padding: 0;
}

 .btn.btn--icon {
    position: relative;
    cursor: pointer;
    border-radius: $btnBorderRadius;
    height: $iconBtnSize;
    width: $iconBtnSize;
    margin: 0;
    background: rgba(255,255,255,0.98);
    color: #333;
    box-shadow: $btnShadow;
    padding: 0;
    text-align: center;
    border-bottom: none;

    & .icon {
        opacity: 0.8;
        height: 18px;
        width: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    &:hover, &:active {
        background: rgba(240,240,240,1);

        & .icon {
            opacity: 1;
        }
    }

    &.active {
        background: rgb(200,200,200);
    }
 }

 .button-group {
     & .btn {
         border-radius: 0;
         margin: 0;
         border-right: 1px solid rgba(0,0,0,0.05);

         &:first-of-type {
             border-top-left-radius: $btnBorderRadius;
             border-bottom-left-radius: $btnBorderRadius;
         }

         &:last-of-type {
             border-top-right-radius: $btnBorderRadius;
             border-bottom-right-radius: $btnBorderRadius;
             border-right: 0 solid transparent;
         }
     }
 }

 .btn-row {
     // White space fix
     font-size: 0;

     & .btn {
         margin: 4px;
     }
 }