/**
 * # Cards
 * Modifications to the Bootstrap element:
 * https://v4-alpha.getbootstrap.com/components/card/
 */

$cardPadding: 24px;
$cardBorderStyle: 1px solid rgba(0, 0, 0, 0.15);
$assetCardBorderSize: 1px;

.card{
    border-radius: 0;
    border: 0 solid transparent;

    &.disabled {
        opacity: 0.4;
        pointer-events: none;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    }
}

.card--light {
    padding: $cardPadding;
    background: $bgLightAccent;

    & hr {
        border-color: #fff;
        margin: $cardPadding/2 -1*$cardPadding;
    }
}

.card--clear {
    padding: $cardPadding;
    background: transparent;

    & hr {
        border-color: #fff;
        margin: $cardPadding/2 -1*$cardPadding;
    }
}



.card--v-pad {
    padding: 24px 0;
    @media (max-width: $phone) {
        padding: $cardPadding;
    }
}

 .card-header {
    padding: $cardPadding 0 $cardPadding/2;
    background: transparent;
    border: 0 solid transparent;
 }

.form-card {
    border: $cardBorderStyle;
    & .list-group {
        max-height: 100px;
        overflow-y: scroll;
    }
}

.list-group.compact {
    padding: 0.5rem 0;

    & .list-group-item {
        border: none;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
}

.card--link {
    cursor: pointer;
    opacity: 0.95;
}

img.no-stretch {
    width: 100%;
    height: auto;
}


.card.card--asset, .card--asset {
    margin-bottom: 0;
    height: 210px;
    overflow: visible;
    text-overflow: ellipsis;
    padding: 3px 0;
    margin: 0 auto;
    cursor: pointer;

    max-width: 300px;

    &.lrgThmb{
        height: 280px;

        .card-img-top {
            height: 190px;

            img{
                max-height: 185px;
            }
        }
    }

    &.disabled {
        opacity: 0.8;
        pointer-events: none;
        cursor: default;

        & .card-block {
            background: #eee;
        }
    }

    & .card-block {
        margin: 3px;
        padding: 5px;
        // prevents odd spacing change in edit mode
        border: $assetCardBorderSize solid transparent;
        border-radius: 3px;
        min-height: 100%;
    }

    & .card-img-top {
        text-align: center;
        height: 120px;
        position: relative;
        margin-bottom: 6px;

        & img {
            /*@extend %vertical-center;*/
            position: absolute;
            max-width: 100%;
            max-height: 115px;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
        }
    }

    & .card-block {
        text-align: left;
    }

    &:hover, &:active, &:focus {
        & .card-block {
            background: #fdfdfd;
            border: $assetCardBorderSize solid #eaeaea;
        }
    }
}

.card-text {
    font-size:11px;
    line-height: 14px;
    margin-top: 12px;
    margin-bottom: 0;
    padding: 0;
    position: relative;

    & i {
        font-size: 16px;
    }
    & span {
        /*max-height: 2em;*/
        max-height: 14px;
        white-space: nowrap;
        display: block;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;

        &.multiview-count{
            display: inline-block;
            font-size: 11px;
            font-weight: bold;
            line-height: 12px;
            padding-left: 4px;
        }
    }

    .multiview-indicator{
        color: #444444;
        padding: 2px 0;

        .icon{
            font-size: 10px;
            height: 12px;
        }
        &:hover{
            color: #000000;
        }
    }
}

.card-text li{
    cursor: pointer;
}

.edit .card--asset{
    opacity: 0.9;
}

.draggable .card--asset {
    &:hover {
      cursor: grab;
    }
    &:active {
      cursor: grabbing;
    }
}

.card--asset.selected{
    opacity: 1 !important;
    & .card-block {
        border-color: #ababab;
        transform: translateY(-1px);
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.3);
    }
}


.list-group-clean .list-group-item {
        padding-top: $basePadding/4;
}
