/**
 * # Cards
 * Modifications to the Bootstrap element:
 * https://v4-alpha.getbootstrap.com/components/card/
 */

$cardPadding: 24px;
$cardBorderStyle: 1px solid rgba(0, 0, 0, 0.15);

.card{
    border-radius: 0px;
    border: 0px solid transparent;
}

.card--light {
    padding: $cardPadding;
    background: $bgLightAccent;

    & hr {
        border-color: #fff;
        margin: $cardPadding/2 -1*$cardPadding;
    }
}

.card--v-pad {
    padding: 24px 0px;
}

 .card-header {
     padding: $cardPadding/2 0px;
     background: transparent;
    border: 0px solid transparent;
 } 

.form-card {
    border: $cardBorderStyle; 
    & .list-group {
        max-height: 100px;
        overflow-y: scroll;
    }
}

.list-group.compact {
    padding: 0.5rem 0;

    & .list-group-item {
        border: none;
        padding-top: 0.1rem;
        padding-bottom: 0.1rem;
    }
}
