
$activeFilterColor: #000;
$filterUnfocusOpacity: 0.5;
$filterBorderStyle: 1px solid rgba(0, 0, 0, 0.15);

/**
 * Filter:
 * `filter` - A simple link toggle that is used inside of the 'filter-group' component
 *
 *     @example
 *     filter Example Filter
 */
 $filterColor: #555; //rgba(0,0,0,0.45);
 $filterHoverBg: #f1f1f1;
 $filterTextIndent: 15px;

filter, .filter {
    cursor: pointer;
	font-size: 13px;
	/*@extend %bodyFontStyle;*/
	display: block;
	position: relative;
	background: transparent;

	// Clear button styles
	box-shadow: none;
	border: none;
	outline: none;
	text-align: left;

	//Hanging Indent
	padding: 2px;
	padding-left: $filterTextIndent + 2px;
	padding-right: 22px;
	text-indent: -1 * $filterTextIndent;
	word-break: break-word;

	max-height: 100%;
	width: 100%;

	&.child {
		margin-left: 20px;
		width: calc(100% - 20px);
	}

	&__inline-block {
		display: inline-block;
		width: 100;
        transition:  color linear 0.2s, max-eight ease-out 0.2s, padding linear 0.2s, opacity linear 0.2s;
    }
	& form {
		display: block;
		width: 100%;
		float: left;
	}

	&.filter--left-icon {
		padding-left: $filterTextIndent + 20px;
	}

	& .link-wrap {
		// Allows indent area to be clicked
		&:before {
			position: absolute;
			content: ' ';
			display: block;
			left: 0;
			width: $filterTextIndent;
			height: 100%;
		}
	}

	// inactive filter color
	color:  $filterColor;

	&.no-buttons {
		&:hover, &:active, &:focus {
			padding-right: 0;
		}
	}

	&.active {
		color: $activeFilterColor;
		background: $filterHoverBg;
		margin-bottom: 1px;
		text-decoration: none;
		font-weight: bold;
	}

	&:hover, &:active, &:focus{
        transition:  color 0s linear;
		color: $activeFilterColor;
		cursor: pointer;
		background: $filterHoverBg;

		// Space for buttons
		// padding-right: 38px;

		&.active {
			color: rgba($activeFilterColor, 0.7);
			& i {
				color: $activeFilterColor;
			}
		}

		& .on-hover {
			color: $activeFilterColor;
		}

		& .link {
			color: #000;
		}

		& .icon-add {
			display: block;
		}
	}

	& a {
		color: $filterColor;
		&:hover {
			color: $activeFilterColor;
		}
	}

	& .icon-context, & .icon-grid {
		font-size: 1.3em !important;
		position: absolute;
    	left: 18px;
    	top: 3px;
	}

	&:hover, &.active {
		& .icon-context, & .icon-grid {
			color: #000 !important;
			display: inline;
		}
	}

	& .icon-close, & .icon-close-circle,  {
		display: none;
		//padding-top: 1px;
		float: right;
		height: 1em;
		font-size: 20px;
	}

	& .icon-add, & .icon-close {
		position: absolute;
		right: 4px;
		top: 5px;
		padding: 5px;
		font-size: 14px;
	}

	&.inactive {
		color: rgba(0,0,0,0.45);
	}

	&.active {
		color: $activeFilterColor;

		& i {
			display: inline-block;
			color: rgba(0,0,0,0.2);
		}

		& .icon-add {
			display: none !important;
		}
	}

	& span {
		display: inline;
	}
}

.filter-list {
	padding-left: 0;
	margin-top: 2px;
	
	& li,
	& li.filter-item {
		display: inline-block;
		background-color: transparent;
		margin-right: 8px;
		margin-bottom: 10px;

		a {
			color: #000;
			background-color: #efefef;
			padding: 4px 8px;
            border-radius: 3px;

			&:hover {
			background-color: #d6d6d6;
			}
		}

		ul,
		.filter-item {
			padding-left: 5px;
		}
	}
}

button.filter--tag {
	width: 100%;
}

.filter--tag {
	color:#000;
	text-decoration: underline;
}

filter.date-span-input {
	&:hover {
		background: transparent;
	}
}

.date-filter-row{
    margin-bottom: 8px;
}
.date-filter-row input[type="number"]{
    width: 52%;
    display: inline-block;
}
.date-filter-row .toggle-btn{
    display: inline-block;
    width: 35%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
    cursor: pointer;
    background: #f1f1f1;
}
.date-filter-row .toggle-btn:hover{
    background: #fff;
}

.date-filter-row{

	.side-toggle-btn{
		display: inline-block;
		width: 24%;
		padding: 0.5rem;
		font-size: 1rem;
		font-weight: 600;
		line-height: 1.25;
		border-top: 1px solid rgba(0, 0, 0, 0.15);
		border-right: 1px solid rgba(0, 0, 0, 0.15);
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		text-align: center;
		cursor: pointer;
		background-color: #fff;
		color: #ddd;

		&:hover, &.active{
			color: #fff;
			background-color: #000000;
		}
	}
}
.date-filter-row .btn{
    width: 50%;
    cursor: pointer;
    color: #373a3c;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
.date-filter-row .btn:hover{
    background: #373a3c;
    color: #fff;
}
.date-filter-row .btn:nth-of-type(2){
    border-left: none;
}
.date-filter-error-msg{
	line-height: 20px;
    margin-bottom: 10px;
    color: red;
    font-size: .75em;
}

