/**
 * # Forms
 * Forms includes input and input wrapper elements (not buttons)
 */

$inputTextColor: #000;

$inputBorderFocusColor: #918f92; 

$dropdownShadow: 0px 2px 3px 0px rgba(0,0,0,0.2);

/**
 * @atom Form Group
 * @section Forms > Input
 * @markup
 *  <div class="form-group">
 *      <label>Email</label>
 *      <input class="form-control" placeholder="student@school.org" />
 *  </div>
 */
 .form-group {
     & label {
        //  font-weight: bold;
     }
 }

 /**
 * @atom Form Control
 * @section Forms > Input
 * @markup
 *  <input class="form-control" placeholder="Form control..." />
 */
input.form-control, select.form-control {
    text-overflow: ellipsis;

    &, &:focus {
        color: $inputTextColor;
    }
    
    &:focus {
        border-color: $inputBorderFocusColor;
    }
}

.dropdown:hover {
    & > .btn-link.dropdown-toggle {
        text-decoration: none;
        color: #000;
        outline: none;

        & .value {
            text-decoration: underline;
        }
    }
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0px;
    border-radius: 0px;
    z-index: 2000;
    box-shadow: $dropdownShadow;
}

button.dropdown-item {
    cursor: pointer;
}

select.form-control {
    border-radius: 0 !important;
}

.form-control {
    &.has-icon {
        padding-right: 2rem
    }
}

.form-control__icon {
    &, &.icon {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        z-index: 1000;
        @include transform(translateY(-50%));
        height: 100%;
        width: 1.5em;
    }
}