/**
 * # Forms
 * Forms includes input and input wrapper elements (not buttons)
 */

$inputTextColor: #000;

$inputBorderFocusColor: #918f92;

/**
 * @atom Form Group
 * @section Forms > Input
 * @markup
 *  <div class="form-group">
 *      <label>Email</label>
 *      <input class="form-control" placeholder="student@school.org" />
 *  </div>
 */
 .form-group {
     & label {
        //  font-weight: bold;
     }
 }

 /**
 * @atom Form Control
 * @section Forms > Input
 * @markup
 *  <input class="form-control" placeholder="Form control..." />
 */
input.form-control, select.form-control {

    &, &:focus {
        color: $inputTextColor;
    }
    
    &:focus {
        border-color: $inputBorderFocusColor;
    }
}

.dropdown-menu {
    border-radius: 0px;
}

select.form-control {
    border-radius: 0 !important;
}