/**
 * # Forms
 * Forms includes input and input wrapper elements (not buttons)
 */

$inputTextColor: #000;
$inputPlaceholderColor: #b3b3b1;

$inputBorderFocusColor: #918f92;

$dropdownShadow: 0 2px 3px 0 rgba(0,0,0,0.2);

/**
 * @atom Form Group
 * @section Forms > Input
 * @markup
 *  <div class="form-group">
 *      <label>Email</label>
 *      <input class="form-control" placeholder="student@school.org" />
 *  </div>
 */
 .form-group {
     & label {
        //  font-weight: bold;
     }
 }

 /**
 * @atom Form Control
 * @section Forms > Input
 * @markup
 *  <input class="form-control" placeholder="Form control..." />
 */
input.form-control, select.form-control {
    text-overflow: ellipsis;

    &, &:focus {
        color: $inputTextColor;
    }

    &:focus {
        border-color: $inputBorderFocusColor;
    }
}

// Apply default webkit outline to input/search field(s) once focused
input.form-control:focus{
    outline: auto 5px -webkit-focus-ring-color;
    box-shadow: none;
}

.dropdown:hover {
    & > .btn-link.dropdown-toggle {
        text-decoration: none;
        color: #0039c6;
        outline: none;

        & .value {
            text-decoration: underline;
        }
    }
}

// .dropdown:hover .dropdown-menu {
//     display: block;
// }

.dropdown-menu {
    margin-top: 0;
    border-radius: 0;
    z-index: 2000;
    box-shadow: $dropdownShadow;
    border: none;
    box-shadow: none;

    .open & {
        display: block;
    }

    @media (min-width: $phone) {
        border: 1px solid rgba(0, 0, 0, 0.15);
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    }
}

button.dropdown-item, a.dropdown-item {
    cursor: pointer;

    &:disabled, &.disabled {
        pointer-events: none;
        color: #ccc;

        & i, & .icon {
            opacity: 0.5;
        }
    }
}

.dropdown-item {
    & .icon {
        vertical-align: middle;
    }
}

// Style untouched: Safari fix
select.ng-untouched,
option.placeholder {
    color: $inputPlaceholderColor;
}

select.form-control {
    border-radius: 0 !important;
}

.form-control {
    &.has-icon {
        padding-right: 2rem
    }
}

.form-control__icon {
    &, &.icon {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        z-index: 1000;
        transform: translateY(-50%);
        height: 100%;
        width: 1.5em;
    }
}

rl-tag-input, rl-tag-input-item, .ng2-tag-input-field, .rl-autocomplete-item {
    font-size: 12px !important;
    line-height: 36px !important;
    font-family: Graphik, Futura, Arial !important;
}

rl-tag-input-item {
    color: #8300e0 !important;
    cursor: pointer;
    transition: color 0s linear;
    background: #f8f8f8  !important;
    border-radius: 3px;
}

.rl-autocomplete-item {
    height: 36px !important;
    padding: 0 10px !important;
    white-space: nowrap !important;
}

.ng2-tag-input-form {
    display: inline-block !important;
}

.ng2-tag-input-field {
    background: transparent;
    text-align: left;
    background: #fff;
    padding-left: 5px !important;
    border: 1px dotted #cdcdcd !important;
    line-height: 12px !important;
    position: relative !important;
    overflow: visible !important;
    display: inline-block !important;

    &::-webkit-input-placeholder {
    color: $inputPlaceholderColor !important;
    }
    &:-moz-placeholder {
    color: $inputPlaceholderColor !important;
    }
    &::-moz-placeholder {
    color: $inputPlaceholderColor !important;
    }
    &:-ms-input-placeholder {
    color: $inputPlaceholderColor !important;
    }
}

.rl-tag-input-autocomplete-container {
    display: block !important;
}

rl-tag-input-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    width: auto;
    min-width: 200px;
}

.ng2-tag-input-remove {
    &:hover {
        background: $red !important;
        color: #fff !important;
    }
}

.rl-autocomplete-item {
    cursor: pointer;
    pointer-events: all;
    &:hover {
        background: #fafafa;
        color: $blue;
    }
}

.completer-input {
    width: 100%;
    background: #fff;
    padding: 6px;
    border: 1px solid #ededed;

    &:hover, &:focus {
        border: 1px solid #cdcdcd;
    }
}

rl-tag-input {
    line-height: 40px;
    background: #fff;
    padding: 6px !important;
    border: 1px solid #cdcdcd;
    box-shadow: none !important;
}

rl-tag-input > form > input {
    border-radius: 5px;
    height: 34px;
    width: 100px !important;
    text-align: center;
}

rl-tag-input-item {
    border-radius: 5px !important;
    height: 34px !important;
}

.has-danger {
  color: #e21c28;
}

.has-success {
  color: #afc128;
}

.has-warning {
  color: #f2be19;
}

.search-highlight #inputSearchTerm{
  box-shadow: 0 2px 15px 0 rgba(0,0,0,0.15);
  height: 40px !important;
  font-size: 16px;
}

.search-page-highlight #inputSearchTerm{
    width: 200px;
    height: 40px !important;
    font-size: 16px;
}