/**
 * # Icons
 */

.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
}

@mixin icon($name, $imageType) {
    .icon-#{ $name } {
        background-image: url('/assets/img/icon-' + $name + '.' + $imageType);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
    }
}

@mixin icon--hover($name, $imageType) {
    .icon-#{ $name } {
        cursor: pointer;
        background-image: url('/assets/img/icon-' + $name + '.' + $imageType);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% auto;
        
        &:hover, &:focus, &:active {
            background-image: url('/assets/img/icon-' + $name + '--hover.' + $imageType);
        }
    }
}

@include icon('search', 'svg');
@include icon('up', 'svg');
@include icon('down', 'svg');
@include icon('left', 'svg');
@include icon('right', 'svg');
@include icon('loading', 'gif');
@include icon('loading-large', 'gif');
@include icon('open-link', 'svg');
@include icon('download', 'svg');
@include icon('cluster', 'svg');
@include icon('fit', 'svg');
@include icon('fullscreen', 'svg');
@include icon('more', 'svg');
@include icon('share', 'svg');
@include icon('star', 'svg');
@include icon('zoom-in', 'svg');
@include icon('zoom-out', 'svg');
@include icon--hover('collab', 'gif');
@include icon--hover('iap', 'gif');
@include icon('pdf', 'gif');
@include icon('doc', 'gif');
@include icon('xls', 'gif');
@include icon('ppt', 'gif');
@include icon('video', 'gif');
@include icon('3d', 'gif');
@include icon('qtvr', 'gif');

.icon-search {
    cursor: pointer;
    opacity: 0.6;

    &:hover, &:focus {
        opacity: 1;
    }    
}
 
.icon-direction {
    background-image: url('/assets/img/icon-down.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;

    transition: transform linear 0.2s;
    transform: rotate(0deg);

    &.icon-down, &.icon-up, &.icon-right, &.icon-left {
        background-image: url('/assets/img/icon-down.svg');
    }

    &.icon-up {
        transform: rotate(180deg);
    } 
    &.icon-right {
        transform: rotate(-90deg);
    } 
    &.icon-left {
        transform: rotate(90deg);
    }
}

.icon-empty {
    background-image: none !important;
}

a .icon {
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}