
.meta-block{
    padding-top: 10px;
    font-size: 14px;
    font-family: 'Graphik', Futura, Helvetica, sans-serif;
    display: block;

    &.small {
        font-size: 12px;
        padding-top: 0px;
    }
}
.meta-block .label{
    color: #c9d0c9;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.meta-block .value{
    color: #000;
    line-height: 16px;
    font-weight: normal;
    letter-spacing: 0px;
}