
.meta-block{
    @extend %SansRegular;
    padding-top: 10px;
    font-size: 14px;
    display: block;

    &.small {
        font-size: 12px;
        padding-top: 0px;
    }
}
.meta-block .label{
    color: #989898;
    font-size: 12px;
    font-weight: 600;
    // letter-spacing: 0.5px;
}
.meta-block .value{
    color: #000;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: 0px;
}