
.meta-block{
    @extend %SansRegular;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
    display: block;

    &.small {
        font-size: 12px;
        padding-top: 0;
    }
}
.meta-block .label, .meta-block label{
    color: #989898;
    font-size: 12px;
    font-weight: 600;
    // letter-spacing: 0.5px;
}
.meta-block .value{
    color: #000;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: 0;
    padding: 2px 0;

    &.col-link, a{
        text-decoration: underline !important;
        color: #0039c6 !important;
    }
}