/**
 * # Modals
 * Modifications to the Bootstrap element:
 * https://v4-alpha.getbootstrap.com/components/modal/
 */

 @import '../core/variables';

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 9000;
    overflow-y: auto;
}

.modal.show{
	display: block !important;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin-top: 15em;
    padding: 0;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    padding: 15px !important;

    &  button.close {
        cursor: pointer;

        &:hover, &:active, &:focus {
            background: none;  /** Changed in sprint 50 from #cdcdcd */
        }
    }

    & h1, & h2, & h3, & h4{
        position: static;
    }
}
// .close-icon {
//     color: #444;
//     float: right;
// 	font-size: 22px;
//     height: 30px;
//     line-height: 32px;

//     &:hover,
//     &:focus {
//         color: $brightOrange;
//         text-decoration: none;
//         cursor: pointer;
//     }
// }

.modal-header {
	padding: 2px 16px;
    background: #fff;
    border: none;
}

.modal-body {
	padding: $basePadding;
  background-color: $bgLightAccent;
}

.modal-footer {
    border: none;
    background-color: $bgLightAccent;

    @media(max-width: $phone) {
        display: block !important;
    }

    .btn-secondary {
      &:focus {
        background: none;
        color: #C9510D;
      }
        @media(max-width: $phone) {
            display: block;
            margin: 10px auto;
        }
    }
}

.modal-body .success-msg {
	font-size: 14px;
  font-weight: bold;
  color: #4F5557;
}
