/**
 * # Modals
 * Modifications to the Bootstrap element:
 * https://v4-alpha.getbootstrap.com/components/modal/
 */

 @import '../core/variables';

.modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.55);
    z-index: 9000;
    overflow-y: auto;
}

.modal.show{
	display: block !important;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin-top: 15em;
    padding: 0;
    border: none;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-lg .modal-content {
    margin-top: 5em;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.modal-header {
    padding: 15px !important;
    border-bottom: 1px solid $color-border-gray;

    &  button.close {
        cursor: pointer;

        &:hover, &:active, &:focus {
            background: none;  /** Changed in sprint 50 from #cdcdcd */
        }
    }

    & h1, & h2, & h3, & h4{
        position: static;
    }
}

.modal-header {
	padding: 2px 16px;
    background: $color-white;
}

.modal-body {
	padding: $basePadding;
    background-color: $color-white;
}

.modal-footer {
    background-color: $color-white;
    border-top: 1px solid $color-border-gray;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;

    &.border-none{
        border: none;
    }

    @media(max-width: $phone) {
        display: block !important;
    }

   & a:focus, & a:active {
      background: $orange;
    }

    & .btn-secondary {
      /* Override color and focus outline on cancel button **/
      &:focus {
        background: none;
        color: $orange;
        outline: 5px auto -webkit-focus-ring-color;
      }
        @media(max-width: $phone) {
            display: block;
            margin: 10px auto;
        }
    }

    .pc-upload-info{
        & a:focus, & a:active {
            background: inherit !important;
        }
    }
}

.modal-body .success-msg {
	font-size: 14px;
  font-weight: bold;
  color: #4F5557;
}

/** fix me */
 .placeholder-text, .placeholder-text::placeholder, .medium-editor-placeholder {
  color: $color-gray-5;
}



#newIgForm {
  & .modal-label, .modal-label:hover {
    color: $color-gray-6;
    font-weight: 900;
  }
  & .orange-label, .orange-label:hover {
    color: $orange;
  }

  & .form-group {
    & .btn-group {
      & .modal-label, .orange-label {
        padding-left: 0;

      }
    }

    & .ng2-tag-input-field:focus {
      border: 1px dotted #cdcdcd !important;;

      &::-webkit-input-placeholder {
      color: $inputPlaceholderColor !important;
      }
      &:-moz-placeholder {
      color: $inputPlaceholderColor !important;
      }
      &::-moz-placeholder {
      color: $inputPlaceholderColor !important;
      }
      &:-ms-input-placeholder {
      color: $inputPlaceholderColor !important;
      }

    }

        /**
        & input[type=radio]:active, input[type=radio]:active {
          background-color: $orange;
        } */
  }

}

