//@import './dist/driver.min';

div#driver-popover-item{
    margin: 1em;
    display:none;
    position:absolute;
    background:#fff;
    color:#2d2d2d;
    padding: 2em;
    border-radius:5px;
    min-width:250px;
    max-width:350px;
    box-shadow:0 1px 10px rgba(0,0,0,.4);
    z-index:1000000000
}

div#driver-popover-item .driver-popover-tip.bottom{
    bottom:-18px;
    border-top-color:#fff;
    border-right-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent
}

div#driver-popover-item .driver-popover-tip.left{
    left:-18px;
    top:18px;
    border-top-color:transparent;
    border-right-color:#fff;
    border-bottom-color:transparent;
    border-left-color:transparent
}

div#driver-popover-item .driver-popover-tip.right{
    right:-18px;
    top:18px;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:transparent;
    border-left-color:#fff
}

div#driver-popover-item .driver-popover-tip.top{
    top:-18px;
    border-top-color:transparent;
    border-right-color:transparent;
    border-bottom-color:#fff;
    border-left-color:transparent
}

div#driver-popover-item .driver-popover-tip{
    border:9px solid #fff;
    content:"";
    position:absolute
}

div#driver-popover-item .driver-popover-title{
    font:19px/normal verdana;
    margin:0 0 10px;
    font-weight:700;
    display:block;
    position:relative;
    line-height:1.5;
    zoom:1
}

div#driver-popover-item .driver-popover-description{
    margin-bottom:0;
    font:14px/normal verdana;
    line-height:1.5;
    color:#2d2d2d;
    font-weight:400;
    zoom:1
}

div#driver-popover-item .driver-popover-footer{
    text-align: right;
    display:block;
    clear:both;
    margin-top:12px
}

div#driver-popover-item .driver-popover-footer button{
&.driver-close-btn {
    border: none;
    background: none;
    color: black;
    text-decoration: underline;
    position: absolute;
    right: 5%;
    top: 5%;
    font-size:small;
    letter-spacing: unset;
    font-weight: unset;
    text-transform: none;
    &:hover, &:focus, &:active {
        background: transparent;
        text-decoration: underline;
        color: $blue;
        border-color: #fff;
     }
}
    display:inline-block;
    padding:3px 10px;
    text-decoration:none;
    color: #fff;
    background: #C9510D;
    border-color: #C9510D;
    cursor:pointer;
    margin:10px 0 0;
    border: 1px solid transparent;
    text-shadow: none;
    font: unset;
    outline: none;
    zoom: 0;
    border-radius: unset;
    letter-spacing: 0.5px;
    height: 30px;
    width: auto;
    min-width: 7em;
    font-size: 12px;
    font-family: Verdana, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    &:hover, &:focus, &:active {
       background: darken(#C9510D, 10%);
       border-color: darken(#C9510D, 10%);
    }

    &.driver-prev-btn {
        color: #C9510D;
        background: #fff;
        border-color: #c9510d7d;
        border-width: 2px;
        margin-right: 1em;

        &:hover, &:focus, &:active, &.active {
            background-color: #C9510D;
            color: white;
        }
    }
}

div#driver-popover-item .driver-popover-footer button.driver-disabled{
    color: #fff;
    pointer-events: none;
    opacity: 0.4;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
   filter: grayscale(100%);
}

div#driver-popover-item .driver-popover-footer .driver-btn-group{
    margin: 0 auto;
    float: none;
}
