@import '../../../sass/core/variables';


.title {
  font-family: Verdana;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-gray-7;
}

.group-border {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.group-border:after {
  position: absolute;
  left: 0;
  content: " ";
  display: block;
  min-height: 109px;
  height: auto;
  width: 100%;
  border-top: solid 1px $color-gray-3;
  border-bottom: solid 1px $color-gray-3;
  z-index: 0;
}

.item-last-updated {
  width: 272px;
  height: 15px;
  font-family: Verdana;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-gray-5;
}

.pb-24 {
  padding-bottom: 24px;
}

.pt-24 {
  padding-top: 24px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.z-1000 {
  z-index: 1000;
}

.center-align{
  display: flex;
  align-items: center;
}


// Custom styles for dropdown buttons menu
.show > .btn-primary.dropdown-toggle {
  border-color: $color-orange-active !important;
  background-color: $color-orange-active !important;
}

.dropdown-menu {

  border: 1px solid $color-border-gray;
  margin-top: 8px;
  left: 0 !important;
  min-width: 173px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2) !important;

  &.download-menu:before, &.download-menu:after{
      left: 61% !important;
  }

  &:before, &:after{
      content: '';
      display: block;
      position: absolute;
      left: 80%;
      width: 0;
      height: 0;
      border-style: solid;
  }

  &:before{
      top: -14px;
      border-color: transparent transparent $color-border-gray transparent;
      border-width: 7px;
  }

  &:after{
      top: -12px;
      border-color: transparent transparent $color-white transparent;
      border-width: 7px;
  }

  .dropdown-item {
      font-size: 12px;
      font-weight: 600;
      padding: 6px 16px;

      display: flex;
      align-items: center;

      &:hover{
          background-color: $color-gray-2;
      }

      .icon {
          font-size: 20px;
          font-weight: 600;
          margin-right: 5px;
      }
  }
}

.btn.dropdown-toggle {
   padding: 0px 20px;
}