.row.group-border(*ngIf="ig.name")
    .col-9.btn-row
        .row.m-sm-0.pb-3(#titlerow="")
            h1.title {{ ig.name }}
        .row.m-sm-0.item-last-updated
            span(*ngIf="ig.total != 1") {{ ig.total }} items
            span(*ngIf="ig.total === 1") {{ ig.total }} item
            span.dot •
            span Last updated {{ ig.update_date | date:'MMMM dd, yyyy' }}
    .col-3.btn-row.center-align
        //- button.btn.btn-secondary.ml-3 Export
        .dropdown.d-inline-block(*ngIf="exportReframeFlag", ngbDropdown, aria-haspopup="true", (openChange)="dropDownOpen = $event")
            button#exportDropdown.btn.btn-secondary((mouseover)="dropDownBtnHovered = true", (mouseout)="dropDownBtnHovered = false",(focus)="dropDownBtnFocused = true", (focusout)="dropDownBtnFocused = false", ngbDropdownToggle, tabindex="3", aria-label="Export group")
              i.icon([ngClass]="[ dropDownBtnHovered || dropDownBtnFocused || dropDownOpen ? 'icon-export-btn-hover' : 'icon-export-btn']")
              | Export
              = " "
            .dropdown-menu([ngClass]="{ 'hovered' : dropDownOptHovered || dropDownOptFocused }", ngbDropdownMenu)
              a#exportPptLink.dropdown-item((mouseover)="dropDownOptHovered = true", (mouseout)="dropDownOptHovered = false",(focus)="dropDownOptFocused = true", (focusout)="dropDownOptFocused = false", tabindex="3", aria-label="Powerpoint", role="button")
                i.icon.icon-powerpoint
                .content
                  label Powerpoint
                  .caption Exports as one image per slide, with metadata in the speaker notes

              a#exportGsLink.dropdown-item(tabindex="3", aria-label="Google Slides", role="button")
                i.icon.icon-google-slides
                .content
                  label Google Slides
                  .new-badge New!
                  .caption Exports as one image per slide, with metadata in the speaker notes
              a#exportZipLink.dropdown-item(tabindex="3", aria-label="Zip File", role="button")
                i.icon.icon-zip
                .content
                  label ZIP File
                  .caption Items and their metadata are combined as a compressed file

        //- button.btn.btn-primary.ml-3 Present
