@import '../../../sass/core/variables';


.title {
  font-family: Verdana;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-gray-7;
}

.group-border {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.group-border:after {
  position: absolute;
  left: 0;
  content: " ";
  display: block;
  min-height: 109px;
  width: 100%;
  border-top: solid 1px $color-gray-3;
  z-index: 0;
}

.item-last-updated:after {
  position: absolute;
  left: -50%;
  content: " ";
  display: block;
  min-height: 40px;
  width: 300%;
  border-bottom: solid 1px $color-gray-3;
  z-index: 0;
}

.item-last-updated {
  width: 272px;
  height: 15px;
  font-family: Verdana;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-gray-5;
}

.dot {
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.btn-row {
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 1000;
}

.center-align{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


// Custom styles for dropdown buttons menu
.show {
  .btn-secondary.dropdown-toggle {
    background-color: $orange !important;
  }

  // &.dropdown-menu {
  //   max-height: 300px;
  //   opacity: 1;
  // }
}

.btn-secondary.dropdown-toggle {
  border-color: $orange !important;
  border-bottom: 1px solid;



  &:focus {
    background-color: $orange !important;
    color: $color-white;
  }
}

.dropdown-menu {
  border: 1px solid $color-border-gray;
  margin-top: 11px;
  left: 0 !important;
  width: 275px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2) !important;

  // display: block;
  // max-height: 0px;
  // opacity: 0;
  // -webkit-transition: all 300ms ease;
  // transition: all 200ms ease;

  &:before, &:after{
    content: '';
    display: block;
    position: absolute;
    left: 40%;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:before{
    top: -20px;
    border-color: transparent transparent $color-border-gray transparent;
    border-width: 10px;
  }

  &:after{
    top: -19px;
    border-color: transparent transparent $color-white transparent;
    border-width: 10px;

    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
  }

  &.hovered:after{
    border-color: transparent transparent $color-gray-2 transparent !important;
  }

  .dropdown-item {
      padding: 14px;
      display: block;
      width: 100%;
      border-bottom: 1px solid $color-gray-4;

      -webkit-transition: all 200ms ease;
      transition: all 200ms ease;

      &:hover, &:focus{
          background-color: $color-gray-2;
      }

      .icon {
        font-size: 16px;
        vertical-align: top;
        display: inline-block;
      }
      .content {
        display: inline-block;
        padding: 0 14px;
        vertical-align: top;
        width: 100%;
        white-space: pre-wrap;

        label {
          
          font-size: 14px;
          line-height: 14px;
          margin-bottom: 8px;
          color: $color-gray-7;
          vertical-align: top;
        }

        .new-badge {
          display: inline-block;
          vertical-align: top;
          font-family: Verdana;
          font-size: 8px;
          font-weight: bold;
          width: 37px;
          height: 16px;
          line-height: 16px;
          border-radius: 2px;
          margin-left: 10px;
          text-align: center;
          text-transform: uppercase;
          background-color: $faint-orange;
          color: $orange;
        }

        .caption{
          font-family: Verdana;
          font-size: 12px;
          color: $color-gray-6;
        }
      }
  }
}

.btn.dropdown-toggle {
   padding: 0px 20px;
}