@import '../../../sass/core/variables';


.title {
  font-family: Verdana;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-gray-7;
}

.group-border {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.group-border:after {
  position: absolute;
  left: 0;
  content: " ";
  display: block;
  min-height: 109px;
  width: 100%;
  border-top: solid 1px $color-gray-3;
  z-index: 0;
}

.item-last-updated:after {
  position: fixed;
  left: 0;
  content: " ";
  display: block;
  min-height: 40px;
  width: 100%;
  border-bottom: solid 1px #E8E8E8;
  z-index: 0;
}

.item-last-updated {
  width: 272px;
  height: 15px;
  font-family: Verdana;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $color-gray-5;
}

.pb-24 {
  padding-bottom: 24px;
}

.pt-24 {
  padding-top: 24px;
}

.pl-30 {
  padding-left: 30px;
}

.pr-30 {
  padding-right: 30px;
}

.z-1000 {
  z-index: 1000;
}

.center-align{
  display: flex;
  align-items: center;
}


// Custom styles for dropdown buttons menu
.show {
  .btn-secondary.dropdown-toggle {
    background-color: $orange !important;
  }
}

.btn-secondary.dropdown-toggle {
  border-color: $orange !important;
  border-bottom: 1px solid;



  &:focus {
    background-color: $orange !important;
  }
}

.dropdown-menu {

  border: 1px solid $color-border-gray;
  margin-top: 8px;
  left: 0 !important;
  width: 275px;
  padding: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2) !important;

  &:before, &:after{
      content: '';
      display: block;
      position: absolute;
      left: 36%;
      width: 0;
      height: 0;
      border-style: solid;
  }

  &:before{
      top: -14px;
      border-color: transparent transparent $color-border-gray transparent;
      border-width: 7px;
  }

  &:after{
      top: -12px;
      border-color: transparent transparent $color-white transparent;
      border-width: 7px;
  }

  .dropdown-item {
      padding: 14px;
      display: block;
      width: 100%;
      border-bottom: 1px solid $color-gray-4;

      &:hover{
          background-color: $color-gray-2;
      }

      .icon {
        font-size: 16px;
        vertical-align: top;
        display: inline-block;
      }
      .content {
        display: inline-block;
        padding: 0 14px;
        vertical-align: top;
        width: 100%;
        white-space: pre-wrap;

        label {
          
          font-size: 14px;
          line-height: 14px;
          margin-bottom: 8px;
          color: $color-gray-7;
          vertical-align: top;
        }

        .caption{
          font-family: Verdana;
          font-size: 12px;
          color: $color-gray-6;
        }
      }
  }
}

.btn.dropdown-toggle {
   padding: 0px 20px;
}